.container.scholars.interior
	.masthead.city.cf
		.event-info.cf
			%h1 MWUX Scholars - Press Release	
	.main.content
		.intro.cf
			%h2 - For Immediate Release -
			%h3 What’s your definition of place? Kendall College of Art and Design “scholars” to share ideas with user experience experts at Midwest UX 2013
			%h3 
				%em “Design education is absolutely vital to the future of our region,” say business leaders and educators, creating a case study for future conferences
			%p Midwest User Experience 2013, the leading interactive and user experience design conference in the Midwest is coming to Grand Rapids this October 17-19, and Kendall is playing host.
			%p <strong>Grand Rapids, Mich. Sept. 26, 2013—</strong> A new location and a host of new features to create a more immersive experience for attendees aren’t the only reason to take notice of the third annual Midwest UX conference.
			%p This year’s event will be the first to feature a Scholars Program, developed through collaboration between Kendall College of Art & Design (KCAD) faculty, staff and local Midwest UX organizers. The program gives five KCAD students the opportunity to attend the conference, with intimate involvement in preparation, set-up and breakdown processes.
			%p Amanda Carmer, Angela Cooke, Jacob McVey, Ben Georgoff and Philip Han are the inaugural class of Midwest UX Scholars. Each student submitted a 500-word essay on the meaning of place, and will produce a post-conference memento to be shared with Midwest UX 2013 conference participants and speakers.
			%p According to Midwest UX organizers, as the first city other than Columbus, Ohio, to host the conference, Grand Rapids will be a case study for how Midwest UX plans to interact with future sites as it moves around the Midwest region from year to year.
			%p “Design education is absolutely vital to the future of our region and of UX in general,” said Conference Chair Laurel Stanley. “The Scholars Program transforms Midwest UX into a point of inspiration for students, enabling them to listen to and network with a diverse array of design professionals. It also highlights the inclusive nature of the conference, which seeks to engage multiple communities in conversations about the implications of where the experience design industry is headed.”
			%p “The idea is that the experiences of these students will inform those of future students,” said Stanley. “Student interaction will remain a core component of Midwest UX for years to come. We want design students to recognize this region as a hotbed of creative culture because our homegrown talent needs to stay here.”
			%p One of the original visions for the conference was to bring awareness to the great design work being done in this part of the country, says Erik Dahl, one of the founding organizers of Midwest UX. “Grand Rapids has a rich history of design as well as a strong local design community that is thriving today. It’s a big part of what makes the Midwest special,” he said.
			%p The theme for Midwest UX 2013, around which every aspect of the conference was curated, is “place.” Organizers have added a new excursion component that takes attendees out to local business and organizations to see dynamic user experience design in action.
			%p “The wealth of local community organizations and attractions that have been incorporated into the conference this year really give the city its own voice as a key part of the experience,” said Dahl.
			%p Conference Chair Grant Carmichael added, “With Midwest UX being hosted in a new city, we wanted to take this opportunity to augment the traditional conference experience and really move people around Grand Rapids. From Grand Rapids Art Museum to co-working spaces like The Factory, collaborative spaces like GRiD 70, site-specific art exhibitions like SiTE:LAB and even a tour of breweries, we wanted the excursions to give attendees a glimpse into what makes for meaningful places in context.”
			%p Kendall College of Art and Design (KCAD) has also played a vital role in the re-shaping of the conference. In addition to hosting all of the sessions and workshops, KCAD has committed to being the conference’s Education Partner. Urban Institute of Contemporary Arts, a partner of KCAD, will host the keynote speakers.
			%p Registration for Midwest UX 2013 is still open. The conference begins on October 17 and will conclude on October 19. More information can be found at <a href="2013.midwestuxconference.com">midwestux.com</a>.
			

			
