//Base
//================================================

//Clearfix
//================================================
.cf:before, 
.cf:after { 
content:""; 
display:table; 
} 

.cf:after { 
clear:both; 
} 

/* For IE 6/7 (trigger hasLayout) */ 
.cf { 
zoom:1; 
}

// Basics
//================================================
html,
body {
	height: 100%;
}

.container {
	@include container;
	padding: 0;
	z-index: 10;
}

header {
	border-bottom: 1px solid #484848;
	@include gradient-vertical(#606060, #727272);
	//@include box-shadow($charcoal 0 1px 7px 0px);
	position: relative;
	z-index: 10;
	
	.container {
		position: relative;
		z-index: 10;
	}
}

.content {
	background: $white;
	@include box-sizing(border-box);
	padding: 2em;
	border-left: 1px solid rgba(0,0,0,0.1);
	border-right: 1px solid rgba(0,0,0,0.1);
}

//  Homepage - Masthead
//================================================

.masthead {
	padding-top: 5em;
	// border-left: 1px solid darken($linkColor, 15%);
	// border-right: 1px solid darken($linkColor, 15%);
	background-size: cover;
	border-left: 1px solid rgba(0,0,0,0.1);
	border-right: 1px solid rgba(0,0,0,0.1);
	// border-bottom: 1px solid rgba(220,220,220,0.75);
	* {
		text-align: center;
	}

	.event-info {
		background-color: rgba(#fff,.85); 
		@include box-sizing(border-box);
		padding: 1em;
		margin-bottom: 3.5em;
		@include span-columns(12,24);
		@include pre(6, 24);
	}

	h1 {
		margin-bottom: .5em;
		color: $linkColor;
		//font-family: $headingsFontFamily;
		//text-transform: uppercase;
	}

	h2 {
		margin-bottom: .5em;
		color: #64C29E;
		//font-family: $headingsFontFamily;
		//text-transform: uppercase;
	}

	.tagline {
		font-size: 1.25em;
		@include box-sizing(border-box);
		padding: 0 3em;
	}

	.callout {
		@include span-columns(24 omega, 24);
		background-color: rgba(255,255,255,.85); 
		@include box-sizing(border-box);
		padding: 2em 1.5em 2em;
	}
}



// Homepage - Announcement
//================================================

.registration-callout {
	@include span-columns(24 omega, 24);
	margin-top: 0;

	h3 {
		color: $white;
		font-size: 1.5em;
		text-align: center;
		@include box-sizing(border-box);
		padding: 2em 4em;
	}

	.button {
		color: $linkColor;
		background: $white;
		margin: 0 auto 2em;
		width: 33%;

		&:hover {
			color: $linkColor;
			background: darken($white, 1%);
			@include box-shadow(inset darken($white, 25%) 0px 0px 10px);
			border: 1px solid darken($linkColor, 20%);
		}
	}
}

// Callouts and News Articles are in _articles partial

// Homepage - Sponsors
//================================================


.sponsors-listing {
	@include span-columns(24 omega, 24);
	padding: 3em 0 4em;

	ul {
		list-style: none;
		@include span-columns(24 omega, 24);
	}

	li {
		@include span-columns(6, 24);

		&:last-child {
			@include span-columns(6 omega, 24);
		}

		a {
			@include hide-text;
			height: 60px;
			display: block;
			@include transition-property(background);
			@include transition-duration($duration);
		}

		.atomic-object {
			background: image-url("sponsors/atomic-object-gs.png")no-repeat center center;
			background-size: 80%;

			&:hover {
				background: image-url("sponsors/atomic-object-color.png")no-repeat center center;
				background-size: 80%;
			}
		}

		.mutuallyhuman {
			background: image-url("sponsors/mutuallyhuman-gs.png")no-repeat center center;
			background-size: 80%;

			&:hover {
				background: image-url("sponsors/mutuallyhuman-color.png")no-repeat center center;
				background-size: 80%;
			}
		}

		.visual-hero {
			background: image-url("sponsors/visual-hero-gs.png")no-repeat center center;
			background-size: 80%;

			&:hover {
				background: image-url("sponsors/visual-hero-color.png")no-repeat center center;
				background-size: 80%;
				}	
			}

		.universal-mind {
			background: image-url("sponsors/universal-mind-gs.png")no-repeat center center;
			background-size: 80%;

			&:hover {
				background: image-url("sponsors/universal-mind-color.png")no-repeat center center;
				background-size: 80%;
			}		
		}
	}
}

// General Interior Pages
//================================================

.interior {
	background: image-url("bg-body.png");

	.masthead {
		padding:0;
		border: none;
		//margin-bottom: 2em;
		//margin-top: -8px;

		.event-info {
			background-color: rgba(#fff,.85); 
			@include box-sizing(border-box);
			padding: 0;
			@include span-columns(12,24);
			@include pre(6, 24);
			margin-top: 4em;

			h1 {
				margin: 0;
			}
		}
	}

	.main {
		padding: 2em;
	}

	h1 {
		margin: 1em 0 1em;
	}

	h2 {
		margin: 1em 0 1em;
	}

	h5 {
		font-size: 1.25em;
		margin-bottom: .75em;
	}

	blockquote {
		margin: 1em 2em;

		p {
			font-size: 1.15em;
			line-height: 1.6em;
			color: $grayDarker;
			margin-bottom: 1em;
			border-left: 2px solid $grayLighter;
			padding-left: 1em;
		}
	}
}

// Interior Pages
//================================================

.intro {

	p {
		font-size: 1.15em;
		line-height: 1.6em;
		color: $grayDarker;
		padding: 1em 4em 0;
	}
}


// Speakers

.speakers {

	.metadata {
		color: $charcoal;
	}

	ul {
		padding: 1em 2em 2em;
		font-size: 1em;

		li {
			margin: .75em 0
		}
	}

	.author {
		@include span-columns(4 omega, 24);

		* {
			text-align: right;
		}

		img {
			margin: 0 auto;
		}

		.name {
			color: $charcoal;
			margin: 1em 0 0;

		}

		a {
			display: inline-block;
			width: 100%;
		}

		h5 {
			font-size: .75em;
			margin-top: .5em;
		}
	}
}

// for call for Speakers and Team

.explanation,
.chairs {
	@include span-columns(24 omega, 24);
	margin-top: 2em;

	.headshot {
		@include span-columns(8 omega, 8);
		@include box-sizing(border-box);

		img {
			width: 100%;
		}
	}

	h5 {
		@include span-columns(8 omega, 8);
		@include box-sizing(border-box);
		padding: .5em 1.05em;
		margin: 0;
		color: $grayDarker;
		background: rgba($white, .5);
		font-size: 1.05em;
		font-family: $headingsFontFamily;
		text-transform: uppercase;
	}

	.article-content {
		@include span-columns(8 omega, 8);

		ul {
			padding-left: 2em;
		}
	}
}



// Team Page

.team {

	h5 {
		@include span-columns(6 omega, 6);
		@include box-sizing(border-box);
		padding: 1em 0 0;
		margin: 0;
		color: $grayDarker;
		background: rgba($white, .5);
		font-size: 1.5em;
		font-family: $headingsFontFamily;
		text-transform: uppercase;
		text-align: center;
	}
}

.chairs {
	@include span-columns(24 omega, 24);
	margin-top: 0;
	margin-bottom: 0;
}

.core-team {
	@include span-columns(24 omega, 24);
	margin-top: 0;

	.headshot {
		@include span-columns(6 omega, 6);
		@include box-sizing(border-box);

		img {
			width: 100%;
		}
	}

	p {
		text-align: center;
	}

	.article-content {
		@include span-columns(6 omega, 6);
		padding: 0 0 1em;
	}

}

// Program

.schedule {

	article {
		@include span-columns(8, 24);
		padding: 1em;
		background: transparent;
		border: none;

		h3 {
			text-align: center;
			//border: 1px solid rgba(0,0,0,0.05);
			background: image-url("mesh-white.svg") 0 0;
			@include border-radius($radius);
			font-family: $headingsFontFamily;
			text-transform: uppercase;
			font-size: 1.55em;
			letter-spacing: 1px;
			background-color: $grayLighter;
			padding: .5em;
			margin-bottom: 1em;
		}

		a {
			@include span-columns(8 omega, 8);
			margin-bottom: 1em;
			border: none;
		}
	}

	.thursday {

	}

	.friday {

	}

	.saturday {
		@include span-columns(8 omega, 24);
	}
}

// Speaker & Workshop submission form

.form {
	margin: 2em auto;
}

// Volunteers

.volunteers {

	.tagline {
		font-size: 2em;
		color: $white;
		background-color: rgba(0, 0, 0, 0.75);
		@include box-sizing(border-box);
		padding: .5em;
		text-align: center;
	}

	.information {

		ul {
			padding-left: 2em;
			padding-bottom: 2em;

			li {
				color: $grayDarker;
			}

		}
	}

	.open-positions {
		@include span-columns(24 omega, 24);
		display: none;

		ul {
			list-style: none;
			@include span-columns(12 omega, 12);
	
			.button {
				display: block;
			}
		}
	
		li {
			margin-bottom: 1em;
		}
	
		li:nth-child(even) {
			@include span-columns(6, 12);
		}
	
		li:nth-child(odd) {
			@include span-columns(6 omega, 12);
		}
	
		.long-term {
			@include span-columns(12, 24);
		}
	
		.short-term {
			@include span-columns(12 omega, 24);
		}
	}
}

.sponsors {

	.theme-intro {

		p {
			font-size: 1.15em;
			line-height: 1.6em;
			color: $grayDarker;
			padding: 1em 4em 1em;
		}
	}

	section {

		article {
			@include span-columns(12,24);

			&:last-of-type {
				@include span-columns(12 omega, 24);

				li {
					@include span-columns(6, 12);

					&:nth-child(odd) {
						@include span-columns(3,6);
					}
	
					&:nth-child(even) {
						@include span-columns(3 omega, 6);
					}
				}
			}

			ul {
				margin-left: 1em;
				margin-top: 1em;

				li {
					margin-bottom: .5em;
				}
			}
		}
	}
}

// Section Headers
//================================================

.section-header {
	text-align: center;
	font-size: 1.5em;
	color: $black;
	margin-bottom: 1em;
}

// Footer 
//================================================

footer {
	border-top: 1px solid $charcoal;
	@include gradient-vertical(#606060, #727272);
	@include box-shadow(-5 0 5 #000);
	padding: 1em;
	@include box-sizing(border-box);

	.about-mwux {
		@include span-columns(9, 24);
		margin-bottom: 2em;

		p {
			color: $white;
			margin-bottom: .5em;
		}
	}

	nav {
		@include span-columns(15 omega, 24);
		@include box-sizing(border-box);
		padding: 0 2em 2em;
	}

	ul {
		list-style: none;

		li {
			text-align: left;

			a {
				text-decoration: none;
			}
		}
	}
}

.subscribe {
	@include span-columns(9, 9);
	@include box-sizing(border-box);
	margin-top: 1em;

	.button {
		border: none;
		height: 50px;
		margin: 0;
		display: inline-block;
		float: left;
		width: 25%;

	}

	.email {
		border: none;
		padding: .9em;
		height: 50px;
		@include box-sizing(border-box);
		display: inline-block;
		float: left;
		margin: 0;
		width: 75%;
	}
}

#learn {
	@include span-columns(5, 15);
}

#collaborate {
	@include span-columns(5, 15);
}

#contact {
	@include span-columns(5 omega, 15);
}

.social-media {
	@include span-columns(12 omega, 12);
	list-style: none;
	padding: 2em 0 0;
}

.network {
	@include hide-text;
	background-position: center center;
	height: 55px;
	width: 55px;
	display: block;
	float: left;
}

.facebook {
	background: image-url("facebook.svg")no-repeat;
	background-size: 100%;
	@include post(1);
	margin-left: 27.0454545%;
}

.twitter {
	background: image-url("twitter.svg")no-repeat;
	@include post(1);
	background-size: 100%;
}

.linked-in {
	background: image-url("linkedin.svg")no-repeat;
	background-size: 100%;
}

#attribution {
	@include span-columns(16, 24);
	font-size: .85em;

	p {
		color: $white;
	}
}

#copyright {
	@include span-columns(8 omega, 24);
	font-size: .85em;
	color: $white;
	text-align: right;

	p {
		color: $white;
	}
}
