//Base
//================================================

//Clearfix
//================================================
.cf:before, 
.cf:after { 
content:""; 
display:table; 
} 

.cf:after { 
clear:both; 
} 

/* For IE 6/7 (trigger hasLayout) */ 
.cf { 
zoom:1; 
}

// Basics
//================================================
html,
body {
	height: 100%;
}

.container {
	@include container;
	padding: 0;
	z-index: 10;
}

header {
	border-bottom: 1px solid #484848;
	@include gradient-vertical(#727272, #606060);
	@include box-shadow($charcoal 0 1px 7px 0px);
	position: relative;
	z-index: 10;
	
	.container {
		position: relative;
		z-index: 10;
	}
}

.content {
	background: image-url("bg-body.png");
	@include box-sizing(border-box);
	padding: 2em;
	border-left: 1px solid rgba(0,0,0,0.1);
	border-right: 1px solid rgba(0,0,0,0.1);
}

//  Homepage - Masthead
//================================================

.masthead {
	padding-top: 5em;
	// border-left: 1px solid darken($green, 15%);
	// border-right: 1px solid darken($green, 15%);
	background-size: cover;

	* {
		text-align: center;
	}

	.event-info {
		background-color: rgba(#fff,.85); 
		@include box-sizing(border-box);
		padding: 1em;
		margin-bottom: 3.5em;
		@include span-columns(12,24);
		@include pre(6, 24);
	}

	h1 {
		margin-bottom: .5em;
		color: #64C29E;
		//font-family: $headingsFontFamily;
		//text-transform: uppercase;
	}

	h2 {
		margin-bottom: .5em;
		color: #64C29E;
		//font-family: $headingsFontFamily;
		//text-transform: uppercase;
	}

	.tagline {
		font-size: 1.25em;
		@include box-sizing(border-box);
		padding: 0 3em;
	}

	.callout {
		@include span-columns(24 omega, 24);
		background-color: rgba(0,0,0,0.75); 
		@include box-sizing(border-box);
		padding: 1.5em;
	}
}



// Homepage - Announcement
//================================================


.announcement {
	@include span-columns(24 omega, 24);
	@include box-sizing(border-box);
	padding: 0 0 2em;

	h5 {
		font-size: 1.5em;
		margin-bottom: 1em;
	}
}

.intro {
	@include span-columns(12, 24);
	padding: 2em 0 2em;
	
	p {
		font-size: 1em;
		line-height: 1.6em;
		margin-top: 1em;
	}
}

.subscribe {
	background: image-url("mesh-white.svg");
	background-color: $grayLighter;
	border: 1px solid rgba(0,0,0,0.05);
	@include span-columns(12 omega, 24);
	@include box-sizing(border-box);
	padding: 2em;


	h5 {
		text-align: center;
	}


	.button {
		border: none;
		height: 50px;
		margin: 0 0 0 -2.85714%;
	}

	.email {
		border: 1px solid $green;
		padding: .9em;
		height: 50px;
		@include box-sizing(border-box);
		@include span-columns(8, 12);
		@include pre(1,12);
	}
}

.highlight {
	color: $green;
}

.social-media {
	@include span-columns(12 omega, 12);
	list-style: none;
	padding: 2em 0 0;
}

.network {
	@include hide-text;
	background-position: center center;
	height: 55px;
	width: 55px;
	display: block;
	float: left;
}

.facebook {
	background: image-url("facebook.svg")no-repeat;
	background-size: 100%;
	@include post(1);
	margin-left: 27.0454545%;
}

.twitter {
	background: image-url("twitter.svg")no-repeat;
	@include post(1);
	background-size: 100%;
}

.linked-in {
	background: image-url("linkedin.svg")no-repeat;
	background-size: 100%;
}

// Callouts and News Articles are in _articles partial

// Homepage - Sponsors
//================================================


.sponsors-listing {
	@include span-columns(24 omega, 24);
	padding: 3em 0 3em;

	ul {
		list-style: none;
		@include span-columns(24 omega, 24);
	}

	li {
		@include span-columns(6, 24);

		&:last-child {
			@include span-columns(6 omega, 24);
		}

		a {
			@include hide-text;
			height: 60px;
			display: block;
			@include transition-property(background);
			@include transition-duration($duration);
		}

		.atomic-object {
			background: image-url("sponsors/atomic-object-gs.png")no-repeat center center;
			background-size: 80%;

			&:hover {
				background: image-url("sponsors/atomic-object-color.png")no-repeat center center;
				background-size: 80%;
			}
		}

		.mutuallyhuman {
			background: image-url("sponsors/mutuallyhuman-gs.png")no-repeat center center;
			background-size: 80%;

			&:hover {
				background: image-url("sponsors/mutuallyhuman-color.png")no-repeat center center;
				background-size: 80%;
			}
		}

		.visual-hero {
			background: image-url("sponsors/visual-hero-gs.png")no-repeat center center;
			background-size: 80%;

			&:hover {
				background: image-url("sponsors/visual-hero-color.png")no-repeat center center;
				background-size: 80%;
				}	
			}

		.universal-mind {
			background: image-url("sponsors/universal-mind-gs.png")no-repeat center center;
			background-size: 80%;

			&:hover {
				background: image-url("sponsors/universal-mind-color.png")no-repeat center center;
				background-size: 80%;
			}		
		}
	}
}

// General Interior Pages
//================================================

.interior {
	background: image-url("bg-body.png");

	.masthead {
		padding:0;
		border: none;
		//margin-bottom: 2em;
		//margin-top: -8px;

		.event-info {
			background-color: rgba(#fff,.85); 
			@include box-sizing(border-box);
			padding: 0;
			@include span-columns(12,24);
			@include pre(6, 24);
			margin-top: 4em;

			h1 {
				margin: 0;
			}
		}
	}

	.main {
		padding: 2em;
	}

	h1 {
		margin: 1em 0 1em;
	}

	h2 {
		margin: 1em 0 1em;
	}

	h5 {
		font-size: 1.25em;
		margin-bottom: .75em;
	}

	blockquote {
		margin: 1em 2em;

		p {
			font-size: 1.15em;
			line-height: 1.6em;
			color: $grayDarker;
			margin-bottom: 1em;
			border-left: 2px solid $grayLighter;
			padding-left: 1em;
		}
	}
}

// Interior Pages (Speakers & Volunteers) 
//================================================

.speakers {

	.theme-intro {
		@include box-sizing(border-box);
		padding: 0 4em 0;

		p {
			font-size: 1.15em;
			line-height: 1.6em;
			color: $grayDarker;
			padding: 1em 0 0;
		}

		.metadata {
			color: $charcoal;
		}
	}

	ul {
		padding: 1em 2em 2em;
		font-size: 1em;

		li {
			margin: .75em 0
		}
	}

	.author {
		@include span-columns(4 omega, 24);

		* {
			text-align: right;
		}

		img {
			margin: 0 auto;
		}

		.name {
			color: $charcoal;
			margin: 1em 0 0;

		}

		a {
			display: inline-block;
			width: 100%;
		}

		h5 {
			font-size: .75em;
			margin-top: .5em;
		}
	}



	.explanation {
		@include span-columns(24 omega, 24);
		margin-top: 2em;


		.headshot {
			@include span-columns(8 omega, 8);
			@include box-sizing(border-box);

			img {
				width: 100%;
			}
		}

		h5 {
			@include span-columns(8 omega, 8);
			@include box-sizing(border-box);
			padding: .5em 1.05em;
			margin: 0;
			color: $white;
			background: rgba($black, .75);
			font-size: 1.05em;
			font-family: $headingsFontFamily;
			text-transform: uppercase;
		}

		.article-content {
			@include span-columns(8 omega, 8);

			ul {
				padding-left: 2em;
			}
		}
	}
}

.chairs {
	margin-bottom: 2em;
}

.form {
	margin: 2em auto;
}

.volunteers {

	.tagline {
		font-size: 2em;
		color: $white;
		background-color: rgba(0, 0, 0, 0.75);
		@include box-sizing(border-box);
		padding: .5em;
		text-align: center;
	}

	.theme-intro {

		p {
			font-size: 1.15em;
			line-height: 1.6em;
			color: $grayDarker;
			padding: 1em 4em 0;
		}
	}

	.information {

		ul {
			padding-left: 2em;
			padding-bottom: 2em;

			li {
				color: $grayDarker;
			}

		}
	}

	.open-positions {
		@include span-columns(24 omega, 24);
		display: none;

		ul {
			list-style: none;
			@include span-columns(12 omega, 12);
	
			.button {
				display: block;
			}
		}
	
		li {
			margin-bottom: 1em;
		}
	
		li:nth-child(even) {
			@include span-columns(6, 12);
		}
	
		li:nth-child(odd) {
			@include span-columns(6 omega, 12);
		}
	
		.long-term {
			@include span-columns(12, 24);
		}
	
		.short-term {
			@include span-columns(12 omega, 24);
		}
	}
}

.sponsors {

	.theme-intro {

		p {
			font-size: 1.15em;
			line-height: 1.6em;
			color: $grayDarker;
			padding: 1em 4em 1em;
		}
	}

	.callouts {

		article {
			@include span-columns(12,24);

			&:last-of-type {
				@include span-columns(12 omega, 24);

				li {
					@include span-columns(6, 12);

					&:nth-child(odd) {
						@include span-columns(3,6);
					}
	
					&:nth-child(even) {
						@include span-columns(3 omega, 6);
					}
				}
			}

			ul {
				margin-left: 1em;
				margin-top: 1em;

				li {
					margin-bottom: .5em;
				}
			}
		}
	}
}

// Section Headers
//================================================


.sponsors-listing, 
.news,
.venues {
	h5 {
		text-align: center;
		font-size: 1.5em;
		color: $black;
		margin-bottom: 1em;
	}
}

// Footer 
//================================================

footer {
	border-top: 1px solid $charcoal;
	@include gradient-vertical(#606060, #727272);
	@include box-shadow(-5 0 5 #000);
	padding: 1em 0 1em;

	nav {
		@include span-columns(24 omega, 24);
		@include box-sizing(border-box);
		padding: 0 2em 2em;
	}

	ul {
		list-style: none;

		li {
			text-align: left;

			a {
				text-decoration: none;
			}
		}
	}
}

#learn {
	@include span-columns(8, 24);
}

#collaborate {
	@include span-columns(8, 24);
}

#contact {
	@include span-columns(8 omega, 24);
}

#attribution {
	@include span-columns(16, 24);
	font-size: .85em;

	p {
		color: $white;
	}
}

#copyright {
	@include span-columns(8 omega, 24);
	font-size: .85em;
	color: $white;
	text-align: right;

	p {
		color: $white;
	}
}
