// Themes
//================================================//

// Spring Theme
//================================================//

.spring {
	//background-color: $grayLighter;
	background: image-url("BG_Texture_B.png");
	//background-size: 100%;

	.masthead#home {
		background-size: cover;
		padding-top: 22em;
	}

	.masthead.topo#home {
		background: image-url("06-26_Body_Masthead_Rough-01.jpg") no-repeat center center;
		background-size: cover;
	}

	.masthead.brainwaves#home {
		background: image-url("06-26_Body_Masthead_Rough-02.jpg") no-repeat center center;
		background-size: cover;
	}

	.masthead.city#home {
		background: image-url("06-26_Body_Masthead_Rough-03.jpg") no-repeat center center;
		background-size: cover;
	}

	a {
		@include transition-property(color);
		@include transition-duration($duration);
		color: $linkColor;


		&:hover {
			color: $linkColorHover;			
		}
	}

	.button {
		color: $white;
		background: $green;
		@include transition-property(color, background, box-shadow);
		@include transition-duration($duration);
		display: block;


		&:hover {
			@include box-shadow(inset darken($green, 25%) 0px 0px 10px);
			color: $white;
			background: darken($green, 10%);
		}
	}

	.button.inactive {
		background: $grayDark;
		color: grayLighter;

		&:hover {
			@include box-shadow(none);
			color: $grayLighter;
			background: $grayDark;
		}
	}

	
}

.interior {

	.masthead {
		background: image-url("masthead.svg") no-repeat;
		background-size: cover;
	}
}

// Summer Theme
//================================================//



// Fall Theme
//================================================//