// Themes
//================================================//

// Spring Theme
//================================================//

.spring {
	//background-color: $grayLighter;
	background: image-url("BG_Texture_B.png");
	//background-size: 100%;

	.masthead#home {
		background: image-url("masthead.jpg") no-repeat;
		background-size: cover;
	}

	a {
		color: $linkColor;

		&:hover {
			color: $linkColorHover
		}
	}

	.button {
		color: $white;
		background: $green;
	}
}

// Summer Theme
//================================================//



// Fall Theme
//================================================//