// Headers
//================================================//

* {
	font-family: $baseFontFamily;
	color: $baseFontColor;
	line-height: $baseLineHeight;
}


h1, h2, h3, h4, h5 {
	font-family: $baseFontFamily;
	font-weight: $headingsFontWeight;
}

h6 {
	font-family: $headingsFontFamily;
	font-weight: $headingsFontWeight;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: .85em;
}

p {
	margin-bottom: 1em;
}

// Links
//================================================//

.button {
	font-family: $headingsFontFamily;
	text-transform: uppercase;
	font-size: 1.55em;
	letter-spacing: 1px;
}

// Nav
//================================================//

nav {

	a {
		font-family: $headingsFontFamily;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

// Masthead
//================================================//

.masthead {

	h1 {
		font-size: 3em;
	}
	.callout {

		h5 {
			font-size: 2.5em;
			color: $grayDarker;
			font-family: $headingsFontFamily;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin-bottom: 0;
		}

		h4 {
			color: $grayDarker;
			font-size: 1.5em;
		}
	}
}

// Body Text
//================================================//

.intro {
	h4 {
		font-size: 1.5em;		
		margin: 1em 0 .75em 0;
		color: #676768;
	}
	h5 { padding-bottom: .25em; border-bottom: 1px solid #676768;}
}

// Footer
//================================================//

footer {

	h2 {
		font-family: $headingsFontFamily;
		text-transform: uppercase;
		color: white;
		letter-spacing: 1px;	
	}
}