// Homepage
//================================================//

@media only screen and (max-width: 1070px) {
	.program,
	.schedule {

		.sections {
			width: 100%;
		}
	}
}

@media only screen and (max-width: 1060px) {

	.masthead {
	
		.callout {
	
			h5 {
				font-size: 1.5em;
			}
		}
	}

	.button {
		font-size: 1.25em;
	}

	.entry-details {
		font-size: .85em;
	}
}

@media only screen and (max-width: 1000px) {

	// .primary {

	// 	li {

	// 		// &:nth-child(1) {
	// 		// 	@include span-columns(4, 24);
	// 		// 	@include pre(1, 24);
	// 		// }
	
	// 		// &:nth-child(2) {
	// 		// 	@include span-columns(4, 24);
	// 		// }
	
	// 		// &:nth-child(3) {
	// 		// 	@include span-columns(3, 24);
	// 		// 	@include pre(6, 24);
	// 		// }
	
	// 		// &:nth-child(4) {
	// 		// 	@include span-columns(3, 24);
	// 		// }
	
	// 		// &:nth-child(5) {
	// 		// 	@include span-columns(2, 24);
	// 		// }

	// 		&:nth-child(1) {
	// 			@include span-columns(12, 24);
	// 		}
	
	// 		&:nth-child(2) {
	// 			@include span-columns(12 omega, 24);
	// 		}
	// 	}
	// }


	.article-content {

		p {
			font-size: .95em;
		}

		h3 {
			font-size: 1.5em;
		}

		h4 {
			font-size: 1em;
		}
	}
}

@media only screen and (max-width: 890px) {

	.primary {
		padding: .25em 0 0;

		.logo::after {
			top: 40px;
		}

		li {
			margin-top: 1em;

			a {
				font-size: 1em;
			}

			// &:nth-child(1) {
			// 	@include span-columns(4, 24);
			// 	@include pre(.75, 24);
			// }
	
			// &:nth-child(2) {
			// 	@include span-columns(5, 24);
			// }
	
			// &:nth-child(3) {
			// 	@include span-columns(3, 24);
			// 	@include pre(5, 24);
			// }
	
			// &:nth-child(4) {
			// 	@include span-columns(3, 24);
			// }
	
			// &:nth-child(5) {
			// 	@include span-columns(2, 24);
			// }

			// &:nth-child(1) {
				// @include span-columns(12, 24);
			// }
	// 
			// &:nth-child(2) {
				// @include span-columns(12 omega, 24);
			// }
		}
	}

	.button {
		font-size: 1em;
		padding-left: .25em;
		padding-right: .25em;
	}

	.masthead {

		.event-info {

			h1 {
				font-size: 2.5em;
			}
		}
	}

	section {

		article {

			.article-content {

				p {
					font-size: .95em;
				}
			}
		}
	}

	.speakers {

		article {

			.article-content {

				h3 {
					font-size: 1.15em;
				}

				p {
					font-size: .85em;
				}
			}
		}
	}


	.news {

		article {

			.article-content {

				p {
					font-size: .75em;
				}

				.entry-details {
					display: none;
				}
			}
		}
	}

	// Speakers, Volunteers
	//================================================//


	.speakers,
	.volunteers {

		.masthead {
			margin-top: 0;
		}

		section {

			article {

				.article-content {

					p {
						height: auto;
					}
				}
			}
		}
	}

	footer {
		.about-mwux {
			@include span-columns(24 omega, 24);
		}

		nav {
			@include span-columns(24 omega, 24);
		}
	}
}

@media only screen and (max-width: 865px) {

	.masthead#home {
		background: image-url("masthead.svg") no-repeat;
		background-size: cover;
		background-position: -10% -10%;
	
		.event-info {

		}
	}
}

@media only screen and (max-width: 768px) {

	.summer {
		.home {

			h1 {
				height: 47px;
				margin-top: .35em;
				background-size: 85%;

				&:hover {
					background-size: 85%;
				}
			}
		}
	}

	input {
		@include border-radius(0);
		@include box-shadow(none);
	}

	.masthead {
		padding-top: 3em;
	}

	.intro {
		@include span-columns(24 omega, 24);
		padding: 1em;
		@include box-sizing(border-box);

		.button {
			padding: 1em;
		}
	}

	.intro {

	}

	.intro {
		p {
			margin-top: 0;
			margin-bottom: 2em;
		}
	}

	section {

		.article-content {

			h3 {
				font-size: 1.25em;
			}
		}
	}

	.news,
	.core-team {

		article {
			@include span-columns(12,24);
			margin-bottom: 1em;

			&:nth-of-type(even) {
				@include span-columns(12 omega, 24);
			}
		}
	}

	#attribution {
		@include span-columns(15,24);
		@include pre(1,24);
	}

	#copyright {
		@include span-columns(7,24);
	}

	.primary {
		position: relative;
		padding: 0;
		
		.logo::after {
			top: 45px;
		}
		ul {
			list-style: none;
			@include span-columns(24 omega, 24);
		}
	
		li {
			@include box-sizing(border-box);
			position: relative;
			text-align: center;
			margin: .85em 0;
			font-size: .9em;
	
			&:nth-child(1) {
				@include span-columns(3, 24);
				margin-left: $grid-padding;
			}
	
			&:nth-child(2) {
				@include span-columns(3, 24);
			}
	
			&:nth-child(3) {
				@include span-columns(3, 24);
				margin-right: 0;
			}
	
			&:nth-child(4) {
				@include span-columns(6, 24);
				margin: 0;
				padding-left: $grid-padding;
				padding-right: $grid-padding;
			}
	
			&:nth-child(5) {
				@include span-columns(3, 24);
			}
	
			&:nth-child(6) {
				@include span-columns(3, 24);
			}
	
			&:nth-child(7) {
				@include span-columns(3, 24);
			}
		}
	}

	.speakers,
	.volunteers,
	.grand-rapids {

		.theme-intro {
			@include span-columns(24 omega, 24);
		}

		section {

			article {

				.article-content {

					p {
						display: block;
					}
				}
			}
		}
	}

	.registration {

		section {
			&:first-of-type {
				@include span-columns(24 omega, 24);
				margin-bottom: 3em;
			}

			&:last-of-type {
				@include span-columns (24 omega, 24);

				img {
					width: 50%;
					margin-left: 25%;
					margin-bottom: 1em;
				}
			}

			.button {
				@include span-columns (24 omega, 24);
			}

			th {
				text-align: center;
				font-size: .85em;
			}
			th:first-of-type,
			th:nth-of-type(2) {
				text-align: left;
			}
		}
	}
}


@media only screen and (max-width: 725px) {
	.logo {
		display: none;
	}

	.home.mobile-logo {
		display: block;
		height: 33px;
		width: 100px;
		margin: -15px auto 16px;
	}
}
