// Homepage
//================================================//

@media only screen and (max-width: 723px) {

	.home {
		margin-top: -38px;
		height: 33px;
		width: 100px;
	}
}


@media only screen and (max-width: 600px) {

	.container {

		&.interior {
			padding: 1em;
		}
	}

	.home {

		a {
			height: 35px;
			width: 100px;
		}
	}

	.masthead {
	
		h1 {
			font-size: 2em;
		}
	}

	.subscribe {

		h5 {
			font-size: 1.25em;
		}

		.email {
			@include span-columns(24 omega, 24);
			@include border-radius(0);
		}

		.button {
			@extend .email;
			margin-top: 1em;
			padding: 0;
			@include border-radius(0);
		}

		.facebook {
			@include pre(1);
		}
	}

	.callouts,
	.news {

		article,
		article:last-child,
		article:nth-of-type(even) {
			@include span-columns(24 omega, 24);
			margin-bottom: 2em;
		

			.article-content {

				h3 {
					height: inherit;
				}
	
				p,
				h4 {
					display: block;
					height: inherit;
				}

				.entry-details {
					display: block;
				}
			}
		}
	}

	.sponsors {
		padding: 2em 0 2em;

		h5 {
			margin-bottom: 1em;
		}

		li,
		li:last-child {
			@include span-columns(24 omega, 24);

			a {
				height: 75px;
				background-size: 65% !important;
			}
		}
	}

	#learn,
	#collaborate,
	#contact {
		@include span-columns(24 omega, 24);
		text-align: center;
		margin-bottom: 1em;

		li {
			text-align: center;
		}
	}

	#attribution {
		@include span-columns(23 omega, 24);
	}

	#copyright {
		@include span-columns(24 omega, 24);
		text-align: center;
	}
}

// Speakers, Volunteers
//================================================//

@media only screen and (max-width: 600px) {

	.speakers,
	.volunteers {

		.callouts {

			article,
			article:last-child,
			article:nth-of-type(even) {
				@include span-columns(24 omega, 24);
			}
		}

		.theme-intro {

			p {
				font-size: 1.15em;
				line-height: 1.6em;
				padding: 1em 1em .25em;
			}
		}

		.explanation {
			
			article,
			article:last-child,
			article:nth-of-type(even) {
				@include span-columns(24 omega, 24);
				margin-bottom: 2em;

				.article-content {

					h3 {
						height: inherit;
					}

					p,
					h4 {
						display: block;
						height: inherit;
					}
				}
			}
		}		
	}

	.volunteers {

		.callouts {
			margin-top: 0;
		}
	}

	.button {
		font-size: 1em;
	}

	h1 {
		font-size: 1.75em;
	}

	.interior {

		h1 {
			margin: 1em 0 1em;
		}
	}
}

