.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Thur, 2pm–5pm
	.main.content.cf		
		%article#andrew-hinton-workshop
			.article-content
				%h4 Making Places With Information Architecture and Content Strategy
				%p Whether we realize it or not, UX is largely the art of tailoring the experiences we design to our content: its semantics, hierarchies, relationships and meaning. Some of the most important work necessary to successful experiences happens before anyone starts to sketch an interface.
				%p Spend a half day exploring perspectives on how IA and Content Strategy provide important context that shapes user-experiences we design and learn learning new tools, techniques, and strategies for designing content-aware interfaces.
			.article-footer
				%a{:href=>"http://andrewhinton.com"} Andrew Hinton
				and
				%a{:href=>"http://danieleizans.com/about/"} Daniel Eizans