.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Thur, 9am–12pm
	.main.content.cf		
		%article#david-bulkowski
			.article-content
				%h4 Civic Engagement:  A Means to “Move” People from Place to Place
				%p UX isn't just about software and hardware interfaces. Its practices and principles can be vital to transforming the most important spaces we experience: the shape of our communities and built environments, what we experience from them, and how we change them for the better.
				%p This workshop focuses on the persuasion techniques needed to develop effective calls to action, mobilize support, and form valuable communities. When we get the message and approach correct, we have the potential to move our communities from one vision of our shared place to another.
			.article-footer
				%a{:href=>"https://www.facebook.com/davebulkowski"} David Bulkowski