.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Thur, 9am–12pm
	.main.content.cf		
		%article#kelly-downing
			.article-content
				%h4 Putting UX in its Place: UX research and strategy techniques for architecture, interiors, and urban spaces.
				%p This workshop will focus on how developing an understanding of users and their context enables diverse design disciplines to work together to influence, enhance, and even revolutionize the experience of place.
				%p We’ll apply those concepts in a rapid design challenge where your team will find a nearby space, conduct guerrilla research to identify potential design opportunities, and create an innovative UX concept which integrates online interactions to improve users' offline experience of place.
			.article-footer
				%a{:href=>"http://kellyandrewsdowning.com/"} Kelly Downing
				and
				%a{:href=>"http://www.linkedin.com/pub/leslie-marticke/25/a1b/706"} Leslie Marticke