.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Thur, 9am–12pm
	.main.content.cf		
		%article#matt-nish-lapidus-workshop
			.article-content
				%h4 The Design Studio: Traditional Design Practice in a Place of Design Tradition
				%p Many working UX designers are the sole UX practitioner in their organization. Others they find themselves working in a place without a solid design practice. How do you integrate all the processes that give UX so much of its power into an existing workflow? Where do you turn for collaboration and outside perspective?
				%p This workshop gives participants the experience of working in a UX studio environment. We'll practice core aspects of the design process while working in small project teams. By tackling a real problem through teamwork and design practice, participants will better understand how they can integrate aspects of this process in their daily work lives.
			.article-footer
				%a{:href=>"http://www.linkedin.com/in/mattnl"} Matt Nish-Lapidus