.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Thur, 9am–12pm
	.main.content.cf		
		%article#mj-broadbent
			.article-content
				%h4 Drawing What You Mean – in Real Time
				%p Want to kickstart (or improve) your visual note-taking skills? Increase your visual IQ at the whiteboard during collaborative sessions? Hone your drawing capabilities in general? If you answered "yes" to any of these questions, this workshop is for you.
				%p We will directly confront the daunting challenge of drawing what we mean in real time and help you get past your drawing frustrations with practical tips for framing the contexts for drawings, engaging others in visual thinking, and improving your visual lexicon and lettering skills, all while having fun with sketching.
			.article-footer
				%a{:href=>"http://www.linkedin.com/in/mjbroadbent"} MJ Broadbent