.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Thur, 2pm–5pm
	.main.content.cf		
		%article#scott-sullivan
			.article-content
				%h4 Introduction to Arduino and the Internet of Things
				%p Learn to apply your user-experience design skills to connected environments and the Internet of Things in this hands on workshop. Together we'll build several <a href="http://arduino.cc/">Arduino</a> projects that illustrate Arduino I/O basics including <a href="http://arduino.cc/en/Tutorial/blink">Blink</a> (the “hello world” of the Arduino), buttons, potentiometers, and LEDs.
				%p You'll also learn to plug a sensor in to the Arduino and have it communicate with your computer via <a href="http://processing.org/">Processing</a>, all while encountering real-world case studies. The additional $50 fee is to purchase the necessary hardware, which is yours to keep.
				%p <a href="http://surplus.scottis.me/mwux13-arduino-workshop">Get more information</a> and fill out the <a href="https://docs.google.com/a/mutuallyhuman.com/forms/d/1HPQ3-xoPldZ-i1l_uhXsM_KgtKfA4RhkD2Y3h9mOLt4/viewform">pre-workshop questionnaire</a>!
			.article-footer
				%a{:href=>"http://surplus.scottis.me/about"} Scott Sullivan
				and
				%a{:href=>"http://about.me/eadahl"} Erik Dahl
				(assistant)