.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Thur, 2pm–5pm
	.main.content.cf		
		%article#thomas-wendt
			.article-content
				%h4 Design Studio for Context-Aware Products
				%p There is a tension growing between mobile product development trends, user behavior, and hardware capabilities. Our phones are becoming more intimately integrated with our everyday lives. They're acquiring sensory capabilities via hardware components and are growing evermore context aware. In the process, former best-practice design patterns are fraying at the edges. The result is that the design of systems to take advantage of these capabilities is lagging, and design patterns are fragmenting.
				%p This design studio will address these challenges with hands-on activities that move very quickly from idea generation to refinement to team consensus. You will work in small groups to define a problem space, explore multiple solutions, and combine ideas into a rough product sketch.
			.article-footer
				%a{:href=>"http://www.linkedin.com/in/thomasmwendt"} Thomas Wendt