.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Fri, 11:30am–12:30pm
	.main.content.cf		
		%article#andrew-hinton-session
			.article-content
				%h4 Hey, You Got Your Map In My Territory!: The Role of Language in Placemaking
				%p We often think of content, metadata, names, or links, as stuff we put *into* the environment. But in fact, language is *part of* our environment. It shapes how we perceive where (and who) we are, and why. Discover how language should inform the semantic information we choose and principles we use when we design.
			.article-footer
				%a{:href=>"https://twitter.com/inkblurt/"} Andrew Hinton