.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Fri, 10:30am–11:15am
	.main.content.cf		
		%article#charles-erdman
			.article-content
				%h4 Dude, Who Stole My Community?
				%p In the last two decades, screens have made our world hyper-connected. But do these virtual connections replace "authentic" physical interactions? Have our neighborhood communities become silent places that merely house people on screens? Explore the next wave in maker culture hacking our sense of community with emerging experiments that challenge our notion of "place". Find inspiration from interaction examples that can help prioritize fundamental human needs in your work.
			.article-footer
				%a{:href=>"https://twitter.com/charleserdman"} Charles Erdman