.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Sat, 10:30am–11:15am
	.main.content.cf		
		%article#christian-eckels
			.article-content
				%h4 Narrative Spaces
				%p What do opera stage directors and UX designers have in common? More than you'd think. After all, "All the world's a stage." Learn how directors' tools of music, production, and narrative flow can inform our design practices. From enterprise level systems to fun mobile apps, we'll explore ways to narrate the digital environments we design.
			.article-footer
				%a{:href=>"https://twitter.com/christianeckels"} Christian Eckels