.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Sat, 11:30am–12:15pm
	.main.content.cf		
		%article#donna-lichaw
			.article-content
				%h4  Resistance is Futile: Google Glass and the Augmented Reality Cyborg Workforce of the Future
				%p Google Glass raises a number of questions: Should we design for it? *What* do we design for it? Who will use it? We'll explore how technology like Glass has already been prototyped, anti-prototyped, proven, and disproven for years in film, television, and literature. Learn how to harness these images to answer timely strategy questions and design products and apps able to transform the future.
			.article-footer
				%a{:href=>"https://twitter.com/dlichaw"} Donna Lichaw