.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Fri, 10:30am–11:15am
	.main.content.cf		
		%article#edward-stojakovic
			.article-content
				%h4  It's Not You, It's Your Anti-Pattern
				%p We’ve seen many projects: good, bad and ugly. This is a talk about the ugly and the really hilarious anti-patterns they reveal. Learn ways to recognize and neutralize anti-patterns and rescue not only your ugly projects, but maybe even your sanity and self-worth.
			.article-footer
				%a{:href=>"https://twitter.com/estojakovic"} Edward Stojakovic
				and
				%a{:href=>"https://twitter.com/frandiam"} Fran Diamond