.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Sat, 11:30am–12:15pm
	.main.content.cf		
		%article#erik-dahl
			.article-content
				%h4 Defining our Place in Emerging Technologies
				%p Emerging technologies—from skin-top embeddable computers to swarming robots to human genome hacking to content aware environments—will shape our understanding of what it means to be human. Look beyond the screen to the interactions and experiences within emerging technologies. And explore frameworks and techniques we desperately need to shape our experiences and understanding of this emerging reality.
			.article-footer
				%a{:href=>"https://twitter.com/eadahl"} Erik Dahl