.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Sat, 11:30am–12:15pm
	.main.content.cf		
		%article#jason-alderman
			.article-content
				%h4 Field Manual: UX Lessons From The Military Profession
				%p Targets, strategy, impact, plans of attack—in the worlds of business and UX, we use military terminology without really understanding it. The military has learned from centuries of thought about leadership and mentorship techniques, infrastructure, empathy, and ways to...well, attack a problem. We'll examine what UX can learn from life on a military base, and be inspired by unexpected insights from the annals of military theory.
			.article-footer
				%a{:href=>"https://twitter.com/justsomeguy"} Jason Alderman