.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Sat, 10:30am–11:15am
	.main.content.cf		
		%article#kaleem-khan
			.article-content
				%h4 The Essence of Experience
				%p The choices we make have consequences. As user experience designers, our values, assumptions, and the way we make decisions determine the essence of experience. What is the place of practicing UX based on values? This session draws upon design practice and discusses how to effect change without compromising yourself. Building on the most-debated Interaction'11 talk, this presentation is based on my forthcoming book <em>The Essence of Everything: Design, Ethics & the User Experience</em> (Morgan Kaufmann, 2014).
			.article-footer
				%a{:href=>"https://twitter.com/kaleemux"} Kaleem Khan