.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Fri, 10:30am–11:15am
	.main.content.cf		
		%article#kathi-kaiser
			.article-content
				%h4 Boats, Trains & Shopping Malls: Testing the Usability of Products in their Natural Habitat
				%p Unlike the controlled environments of usability labs, the real world—where things are actually used—is messy and unpredictable. Hear three case studies of usability testing in the wild and get practical guidance for evaluating the full user experience in context, including techniques for recruiting, facilitation, session recording and stakeholder involvement.
			.article-footer
				%a{:href=>"https://twitter.com/kathikaiser"} Kathi Kaiser