.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Sat, 3pm–3:45pm
	.main.content.cf		
		%article#kerry-anne-gilowey
			.article-content
				%h4 Distant Land, Different Life
				%p Context and empathy are two words that have become increasingly ubiquitous – and rightly so. But how much do you truly understand about those from distant lands? We'll hear first hand what it’s really like to live in South Africa and confront how place provides a context that might influence our thinking and work. Come away with increased empathy for those whose experiences vary from yours thanks to the place they call home.
			.article-footer
				%a{:href=>"https://twitter.com/kerry_anne"} Kerry-Anne Gilowey