.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Fri, 11:30am–12:30pm
	.main.content.cf		
		%article#kyle-murphy
			.article-content
				%h4 Everyone is a Designer, Whether You Like it or Not
				%p How many people offer input that shapes your product design? How many of them are designers? In order to scale design thinking throughout your organization, you need non-designers on your side. Examine how Hudl moved from hero design to shared design with the help of Lean UX. You'll learn how to help your team more consistently create outstanding products.
			.article-footer
				%a{:href=>"https://twitter.com/noluckmurphy"} Kyle Murphy