.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Sat, 10:30am–11:15am
	.main.content.cf		
		%article#matt-nish-lapidus-session
			.article-content
				%h4 The Programmable World
				%p Whether we notice it or not, we're surrounded by machines and sensors. Our world is networked and made of code. We need new skills and perspectives to take charge of the programmable world we've built. Discover how principles of new media now apply to every corner of daily life and what to do about it. If we don't learn to program the world we want, it may program us.
			.article-footer
				%a{:href=>"https://twitter.com/emenel"} Matt Nish-Lapidus