.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Fri, 11:30am–12:30pm
	.main.content.cf		
		%article#megan-schwarz
			.article-content
				%h4 After Orientation: Making Room for a Novice UX Designer
				%p Organizations reluctant to hire novice user experience designers are missing out on an amazing opportunity to bring fresh perspective, ideas, and enthusiasm to their team and organization. Realizing those benefits, though, requires discipline to acclimate junior level UX designers to their organizations and support and aid in their development. Learn how to make your team more effective through novice UX designers.
			.article-footer
				%a{:href=>"https://twitter.com/megan_schwarz"} Megan Schwarz