.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Sat, 3pm–3:45pm
	.main.content.cf		
		%article#michael-mace
			.article-content
				%h4 How To Avoid the Most Common Mistakes Plaguing Mobile Developers and Designers
				%p Mobile changes everything: the rules of good development, default choices, user engagement and more. We cannot unthinkingly port design and business practices that worked on the desktop to mobile. From thousands of mobile user tests, we've uncovered common traps in mobile design. Learn what these traps are and how to avoid them with useful tips and illuminating case studies.
			.article-footer
				%a{:href=>"https://twitter.com/michaelmace"} Michael Mace