.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Sat, 2pm–2:45pm
	.main.content.cf		
		%article#philip-hunter
			.article-content
				%h4 The Place You’re In Is More Than The Place You’re At
				%p Too often when we design for context we ignore the  biggest influences of user experience, such as the user's knowledge, intent, and emotions. We'll discuss a framework to accommodate these elements even though they're difficult to perceive or assess. Gain practical tools for choosing, designing and prioritizing key elements to achieve your user experience goals.
			.article-footer
				%a{:href=>"https://twitter.com/designoutloud"} Phillip Hunter