.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Sat, 2pm–2:45pm
	.main.content.cf		
		%article#seth-starner
			.article-content
				%h4 Turn About is Fair Play: How We Employed UX to Transform Our Workplaces and Rethink Our Business 
				%p If you're usually the vendor in a user-design experience project, it's eye opening to become the client. That happened to us recently when we redesigned our offices to leverage digital spaces and shrink our physical footprint. To us, this was an opportunity to rethink our business itself, increase our profitability, and improve our teamwork. Come hear about the initial challenges working with vendors, what we learned from being a client, how we we turned the tables and applied familiar UX techniques (like ethnography, needs analysis, and prototyping) to our office design, and how the resulting design transformed our business model.
			.article-footer
				%a{:href=>"https://twitter.com/SethStarner"} Seth Starner