.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Sat, 3pm–3:45pm
	.main.content.cf		
		%article#simon-king
			.article-content
				%h4 Scratch Your Own Itch: Simple, Designer-Driven Apps
				%p Frustrated with apps that don't quite work for you? Think you need a development team or VC funding to make a useful app? Hear the presenter's experience creating News Now, an iPhone app using NPR's API. And learn how to move beyond critique to create by building simple apps that scratch your own itch.
			.article-footer
				%a{:href=>"https://twitter.com/simonking"} Simon King