.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Sat, 2pm–2:45pm
	.main.content.cf		
		%article#sonia-koesterer
			.article-content
				%h4 Social Smarts for Small Screens
				%p Let's face it: the screens that surround us are often socially inappropriate. They buzz, light up, display information from hundred apps … even inform our managers of our evening plans as they sit on the conference room table. What if we can make these small screens more socially intelligent? Explore ways to design our devices to better relate to our social context and service ecosystems.
			.article-footer
				%a{:href=>"http://www.linkedin.com/in/soniawendorf"} Sonia Koesterer