.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Fri, 9am–10am
	.main.content.cf		
		%article#abby-covert			
			.article-content
				%h3 Abby Covert
				%p Abby Covert is an independent information architect working and living in New York City. For her work as Director of Strategic Planning & User Experience at DraftFCB, Abby was listed by the Direct Marketing Associations 30 Under 30 in 2011. She is also an active mentor to the design community, is a highly regarded speaker, and writes her popular blog under the pseudonym  Abby the IA.