.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Fri, 5pm–6pm
	.main.content.cf		
		%article#christina-wodtke
			.article-content
				%h3 Christina Wodtke
				%p Christina Wodtke has an impressive history of making things happen. Most recently she led the creation of a social network/gaming platform as a General Manager of Zynga.com. Before Zynga, she held senior positions at Myspace, LinkedIn and Yahoo!, back when Yahoo! was pretty neat. Currently she lives the slow life: advising start-ups, teaching, and speaking at conferences worldwide.