.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Sat, 4:15pm–5:15pm
	.main.content.cf		
		%article#karl-fast				
			.article-content
				%h3 Karl Fast
				%p Karl Fast is a professor of UX Design at Kent State University. His work explores how people adapt to live in a world where information and computation are abundant resources. He teaches information architecture, information visualization, and human-information interaction. He is a founding member of the Information Architecture Institute. He's also Canadian.