%footer.cf
	.container.cf
		.about-mwux
			%h2 Midwest UX Conference
			%p The Midwest UX Conference is a unique three-day event that combines inspiring talks with hands-on activities presented by a mix of regional professionals and international experts.
			%p Join us October 17-19, 2013 in Grand Rapids, MI 
			.subscribe
				%h2 Get Updates
				#mc_embed_signup
					<form action="http://midwestux.us4.list-manage.com/subscribe/post?u=18017a6772f1211a5fadf2168&amp;id=cbbe8bea60" method="post" "mc-="" embedded-subscribe-form"="" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
					<div class="mc-field-group">
					<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email here...">
					<input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button">
					</div>
					</form>

		%nav.cf
			#learn
				%h2 About MWUX
				%ul
					%li
						%a{:href=>"/program/"} Conference Program
					%li
						%a{:href=>"http://midwestux2013.eventbrite.com/"} Register
					%li
						%a{:href=>"/about-mwux/"} About MWUX
					%li
						%a{:href=>"/team/"} Meet our Team
					%li
						%a{:href=>"/grand-rapids/"} About Grand Rapids

			#collaborate
				%h2 Collaborate
				%ul
					%li
						%a{:href=>"/sponsors/"} Become a Sponsor
					%li
						%a{:href=>"/volunteers/"} Become a Volunteer
					%li
						%a{:href=>"/call-for-cities/"} Bring MWUX to Your City

			#contact
				%h2 Contact
				%ul
					%li
						%a{:href=>"mailto:2013@midwestuxconference.com"} Email MWUX
					%li
						%a{:href=>"http://midwestux.us4.list-manage.com/subscribe/post?u=18017a6772f1211a5fadf2168&id=cbbe8bea60", :target=>"_blank"} Sign up for Email Updates
					%li
						%a{:href=>"http://twitter.com/midwestUX", :target=>"_blank"} Twitter
					%li
						%a{:href=>"http://www.facebook.com/midwestux", :target=>"_blank"} Facebook
					%li
						%a{:href=>"http://linkedin.com/groups/MIdwestUX-4694760", :target=>"_blank"} LinkedIn
		.cf
			#attribution
				%p Selected photos courtesy of <a href="http://about.me/pablohart">Paul Hart</a>, <a href="http://dornbyg.com/">Dorn Byg</a>, <a href="http://rudymalmquist.com/">Rudy Malmquist</a> and <a href="http://www.richarddeming.com">Richard Deming</a>
			#copyright
				%p &copy; 2013 Midwest UX
			
<script>
jQuery(document).ready(function () {jQuery('header nav').meanmenu();});
</script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-36870306-1']);
_gaq.push(['_setDomainName', 'midwestuxconference.com']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>