%footer.cf
	.container.cf
		%nav.cf
			#learn
				%h2 About MWUX
				%ul
					%li
						%a{:href=>"/why-mwux/"} Why MWUX?
					%li
						%a{:href=>"/grand-rapids/"} About Grand Rapids
					%li
						%a{:href=>"/call-for-cities/"} Call for Cities
			#collaborate
				%h2 Collaborate
				%ul
					/ %li
					/ 	%a{:href=>"/speakers/"} Become a Speaker
					%li
						%a{:href=>"/volunteers/"} Become a Volunteer
					%li
						%a{:href=>"/call-for-cities/"} Bring MWUX to Your City

			#contact
				%h2 Contact
				%ul
					%li
						%a{:href=>"mailto:2013@midwestuxconference.com"} Email MWUX
					%li
						%a{:href=>"http://midwestux.us4.list-manage.com/subscribe/post?u=18017a6772f1211a5fadf2168&id=cbbe8bea60", :target=>"_blank"} Sign up for Email Updates
					%li
						%a{:href=>"http://twitter.com/midwestUX", :target=>"_blank"} Twitter
					%li
						%a{:href=>"http://www.facebook.com/midwestux", :target=>"_blank"} Facebook
					%li
						%a{:href=>"http://linkedin.com/groups/MIdwestUX-4694760", :target=>"_blank"} LinkedIn
		#attribution
			%p Selected photos courtesy of <a href="http://about.me/pablohart">Paul Hart</a>, <a href="http://dornbyg.com/">Dorn Byg</a> and <a href="http://www.richarddeming.com">Richard Deming</a>
		#copyright
			%p &copy; 2013 Midwest UX
			
<script>
jQuery(document).ready(function () {jQuery('header nav').meanmenu();});
</script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-36870306-1']);
_gaq.push(['_setDomainName', 'midwestuxconference.com']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>