%footer.cf
	.container.cf
		%nav.cf
			#learn
				%h2 Learn About MWUX
				%ul
					%li
						%a{:href=>""} Why MWUX?
					%li
						%a{:href=>""} About Grand Rapids
					%li
						%a{:href=>""} News
			#collaborate
				%h2 Collaborate
				%ul
					%li
						%a{:href=>""} Become a Speaker
					%li
						%a{:href=>""} Become a Volunteer
			#contact
				%h2 Contact
				%ul
					%li
						%a{:href=>""} Email MWUX
					%li
						%a{:href=>""} Sign up for Email Updates
					%li
						%a{:href=>""} Twitter
					%li
						%a{:href=>""} Facebook
					%li
						%a{:href=>""} LinkedIn
		#attribution
			%p Photos courtesy of <a href="http://rudymalmquist.com/">Rudy Malmquist</a>, <a href="http://about.me/pablohart">Paul Hart</a>, <a 	href="http://about.me/richevenhouse">Rich Evenhouse</a>
		#copyright
			%p
				&copy; 2013 Midwest UX
<script>
jQuery(document).ready(function () {jQuery('header nav').meanmenu();});
</script>