%header.cf
	.container.cf
		%h1.home <a href="/">Midwest UX</a>
		%nav.primary.cf
			%ul
				%li
					%a{:href=>"/speakers"} Call for Speakers
				%li
					%a{:href=>"/volunteers"} Call for Volunteers
				%li
					%a{:href=>"why-mwux"} Why MWUX?
				%li
					%a{:href=>"grand-rapids"} Grand Rapids
				%li
					%a{:href=>"news"} News
