%header
	%nav#left
		%ul
			%li
				%a{:href=>"/speakers"} Call for Speakers
			%li
				%a{:href=>"/volunteers"} Call for Volunteers
	%h1#logo Midwest UX
	%nav#right
		%ul
			%li
				%a{:href=>"why-mwux"} Why MWUX?
			%li
				%a{:href=>"grand-rapids"} Grand Rapids
			%li
				%a{:href=>"news"} News
