%header.cf
	.container.cf
		%nav.primary.cf
			<a class="home mobile-logo cf" href="/"><h1></h1></a>
			%ul.cf
				%li
					%a{:href=>"/speakers"} Speakers
				%li
					%a{:href=>"/program"} Program
				%li
					%a{:href=>"/register"} Register
				%li.logo
					<a class="home cf" href="/"><h1></h1></a>
				%li
					%a{:href=>"/why-mwux"} About MWUX
				%li
					%a{:href=>"/city-guide"} City Guide
				%li
					%a{:href=>"/news"} News
