.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Program
	.main.content.cf
		= blog.articles[0...5].each do |article|
			%article
				%h1
					%a{:href=> = "article.url"} 
						= "article.title"
					%time
						= "article.date.strftime"('%b %e %Y')

				= article.summary

				%a.button{:href=> = "article.url"} Read More
		