.container.sponsors.interior
	.masthead.cf
		.event-info.cf
			%h1 Call for Sponsors
	.main.content.cf
		.theme-intro.cf
			%p Midwest UX (MWUX) is a three-day conference that combines talks and workshops offering community, inspiration and skill-building. Participate and learn from the experiences of regional professionals and international experts. Discover examples and new approaches to improving user experience on the Web, mobile and beyond.	
		.callouts.cf
			%article
				.article-content.cf
					%h3 Why Support Us?
					%ul.cf
						%li Raise your company’s profile among marketing innovators, early adopters of technology and the next generation of local and regional leaders
						%li Demonstrate your corporate tenet of product or service differentiation and economic enrichment through design thinking and innovation.
						%li  Support the rich heritage of design in the Midwest and its promotion throughout the rest of the country.
				.article-footer
					%a.button{:href=>"mailto:sponsorship-team@midwestuxconference.com?Subject=Sponsorship Opportunity"} Contact Us
			%article
				.article-content.cf
					%h3 Who Will Be There?
					%ul.cf
						%li Directors of User Experience
						%li Chief Strategy Officers
						%li Design Strategists
						%li Information Architects
						%li Interaction Designers
						%li Marketing Professionals
						%li Product Managers
						%li Project Managers
						%li Visual and Graphic Designers
						%li Industrial Designers
						%li Web and Mobile Software Developers
						%li Interactive Strategists
				.article-footer
					%a.button{:href=>"/images/MWUX_sponsors_pack.pdf"} Download More Info
		.theme-intro.cf
			%h2 Sponsorship Opportunities
			%h3 Closing Gala
			%p Be top of mind throughout, and after, the conference by sponsoring the closing gala. Our volunteer team will work with your company's unique preferences and capabilities to develop the best fitting engagement strategy at the gala.
			%h3 Welcome Reception
			%p Help us give conference attendees an experience to remember at the conference welcome reception. Be known for taking the lead on the tone and level of quality associated with the MWUX conference. Our volunteer team will work with your company's unique preferences and capabilities to develop the best fitting engagement strategy at the reception.
			%h3 Speaker/Sponsor Reception
			%p Be recognized as a supporter of the speakers, volunteer team, and other sponsors by sponsoring the Speaker/Sponsor reception. During the reception, you'll have engagement opportunities in an intimate setting with the group of key individuals who made the conference happen.
			%h3 Platinum
			%p Connect with influential user experience professionals, industry leaders, talended developers and designers. Associate your company with leading companies in the region. Create visibility to your products, services and people by taking advantage of the 6 conference tickets as well as the workshops.
			%h3 Gold
			%p Connect with influential user experience professionals, industry leaders, talended developers and designers. Associate your company with leading companies in the region. Create visibility to your products, services and people by taking advantage of the 4 conference tickets
			%h3 Silver
			%p Connect with influencial user experience professionals, industry leaders, talended developers and designers. Associate your company with leading companies in the region. Create visibility to your products, services and people.
