.container.speakers.interior
	.masthead.cf
		.event-info.cf
			%h1 Call for Cities
	.main.content.cf
		.theme-intro.cf
			%h1 Is Your City Ready for MWUX 2014?
			%p.metadata By <a href="http://about.me/eadahl/" class="name">Erik Dahl</a> on June 9, 2013
			%p I am pleased to formally open the Request for Proposals for cities & teams interested in hosting the 2014 MidwestUX conference - an annual, regional conference of the <a href="http://www.ixda.org">Interaction Design Association</a> (IxDA).	
			%p Midwest UX is currently in its third year and growing fast to become the must-attend UX event in the Midwest, and draws speakers and attendees from inside and outside the region. The conference covers the practice and discipline of User Experience, Interaction Design and Information Architecture. This year’s event is being held in Grand Rapids, MI, which is it’s first year moving beyond it’s birth city of Columbus, OH. We are interested in continuing the tour of the midwest. 
			%p The first year of the conference sold out with 250 attendees with 100+ on the waitlist. We moved to a new venue in 2012 and housed ~400 attendees. We have continued to gain momentum this year and increased interest from around the region as we move to Grand Rapids and anticipate capping the event at 450 people.
			%p The mission of the conference is two fold. (1) We are working hard to provide a high quality, low cost conference with a focus around User Experience that meets the needs of our regional audience. (2) We are also committed to keeping the conference small and casual so we can support and foster the growth of community.
			%p The conference is a non-profit enterprise, and the conference organizers and producers are all volunteers each year.
			%p We are looking for a <strong>core team</strong> of conference producers and organizers in <strong>cities</strong> around the Midwest to make a solid case for the conference to be held in their city in 2014. There is an expectation that the 2014 conference will be held in the October timeframe.
			%p The requirements for proposals are outlined below, along with a summary of the submission guidelines, timing, review and selection process.
			%p Should you have any questions about the process, the requirements, or the conference itself, please send an email to <a href="mailto:info@midwestuxconference.com">Erik Dahl</a> (<a href="mailto:info@midwestuxconference.com">info@midwestuxconference.com</a>). All questions relating to clarification of information surrounding this Call will be responded to publicly.
			%p I look forward to your submissions, and to seeing all of you at MidwestUX 13 in Grand Rapids, MI in October!
			.author.cf
				%img{:src =>"/images/erik.jpg" }
				%h2.name - Erik Dahl
				<a href="https://twitter.com/eadahl">@eadahl</a>
				%h5 Co-Founder, MidwestUX
		.callouts.cf
			%h2 Request for Submission Details
			%article
				.article-content
					%h3 Criteria & Requirements
					%p The MidwestUX conference is a significant undertaking, and a successful proposal will be able to demonstrate:
					%ul
						%li A core group of organizers and producers;
						%li A location that is convenient for attendees from the Midwest;
						%li Venues capable of seating 450 people theatre-style; 2-3 smaller rooms capable of seating 200 people each; and 3-6 rooms suitable for small sessions and workshops;
						%li A selection of hotels near to the conference venue(s) at various prices and quality to suit the range of needs of conference attendees (i.e from 3-star to 5-star accommodation) - please include standard room rates;
						%li A plan for providing Internet access (wi-fi) for attendees at all conference venues and events;
						%li Catering services at the venue(s);
						%li Potential venues for conference social events and receptions;
						%li A strong and vibrant local design community;
						%li A summary of the process by which the submission was created.
					%p You don’t have to have all the details completely figured out, but it should be clear who will be involved, what you and your city have to offer, and how you plan on executing the event. 
					%p It should be clear that we are looking for both a (1) <strong>host city</strong> and a (2) <strong>local organizing/producing team</strong> to take the lead on MWUX14.
					%p In an effort to be open and transparent, we are publicly responding to questions from people planning to submit proposals via a <a href="https://docs.google.com/document/d/1IFf6oY_29vePNZWOSnzN5sOK54tiglsesJGvGdJLB8I/edit?usp=sharing">public Google doc</a>. Questions about the proposals can be asked by email or as comments on the Q&A document. There is additional information in the Q&A that may be helpful during your proposal process.
				.article-footer
					%a.button{:href=>"https://docs.google.com/document/d/1IFf6oY_29vePNZWOSnzN5sOK54tiglsesJGvGdJLB8I/edit?usp=sharing"} Live Q & A via Google Docs
			%article
				.article-content
					%h3 Benefit & Submission Format
					%h5 Benefits to the Host Community
					%p Hosting the MidwestUX conference will bring the regional Interaction Design and User Experience community to you. It will expose your local designers to the leading thinkers and practitioners in User Experience in personal, face-to-face encounters that you usually don’t get in your local community. It also provides you with an opportunity to showcase your local talents to the region.
					%h5 Submission Format
					%p Submissions should be sent via email to <a href="mailto:info@midwestuxconference.com">Erik Dahl</a>. Acceptable formats include:
					%ul
						%li Powerpoint/Keynote
						%li Word/Pages
						%li PDF
						%li Video
					%p If submitting a multimedia/video presentation, please provide a written summary addressing the key criteria for selection.
					%p Each submission should clearly indicate the main contact person for the proposal.
					%p All questions should be sent to <a href="mailto:info@midwestuxconference.com">Erik Dahl</a>.
					%h5 Timing for Submissions
					%p All submissions are required no later than 11:59 PM EST on Saturday, August 31, 2013.
					%p Each proposal will be acknowledged via email to confirm receipt within the deadline.
				.article-footer
					%a.button{:href=>"mailto:info@midwestuxconference.com"} Submit Application Via Email
