.container.grand-rapids.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Grand Rapids, Michigan
	.main.content.cf
		%section.stay.cf
			
			%article
				%img{:src => "/images/grbrewing-crate.jpg"}
				.article-content.cf
					%h3 Gastronomy
					%p Two unique factors make Grand Rapids dining extra special: We're located in the middle of one of the world's best growing regions. And we're home to one of America's finest culinary schools. The result is an astonishing variety of fresh, farm-to-table cuisine for every taste and budget - downtown, around town and along the lakeshore.		
				.article-footer
					%a.button{:href=>"http://www.experiencegr.com/restaurants/"} Gastronomy
					
			%article
				%img{:src =>"/images/amway.jpg"}
				.article-content.cf
					%h3 Conference Hotel
					%p If you wish to book a hotel during your time at Midwest UX 2013, we’ve made arrangements for a special conference rate for a block of rooms at the elegant Amway Grand Hotel in downtown Grand Rapids, MI during the conference. 

					%p The <strong>special rate of $129/room is about a 50% savings</strong> over Amway Grand's regular room rates and very competitive with all of the downtown hotels. These prices are good for the nights of October 16th through the 18th and the rooms in our block will go fast so <strong>book soon to take advantage of this offer!</strong>
				.article-footer
					%a.button{:href=>"https://resweb.passkey.com/Resweb.do?mode=welcome_ei_new&eventID=10730356"} Book Your Room Today


		%section.callouts.cf
			%article
				%img{:src =>"/images/zimmerman.jpg"}
				.article-content.cf
					%h3 Why Grand Rapids?
					%p Grand Rapids boasts one of the highest rates of designers per capita in the country. This is less surprising when you consider the city’s long history in automotive, furniture and architectural design. In fact, Grand Rapids is still known as the office-furniture capital of the world—home to Steelcase, Herman Miller and Haworth, as well as other smaller furniture companies.
				.article-footer
					%a.button{:href=>"http://www.youtube.com/watch?v=moQiXZO6R1A"} Experience Grand Rapids
			%article
				%img{:src => "/images/gr-river.jpg"}
				.article-content.cf
					%h3 Grand Rapids: The Midwest's Best Kept Secret
					%p Grand Rapids has long had a focus on the arts and, maybe more importantly, volunteerism. The city has hosted an annual Festival of The Arts since 1970, which according to the Library of Congress, is the largest all volunteer arts festival in the United States. During the three days of the event nearly 20,000 volunteers host over half a million people on downtown streets. MWUX13 itself is 100% volunteer-based—its organizers are not compensated for their time or efforts.
					%p In addition to Festival of The Arts, Grand Rapids also hosts ArtPrize, a radically open art competition, and one of the world’s most generous. Over the course of three years, ArtPrize has hosted 4,557 artists in 515 venues around the downtown area and given away $1,428,000 in prizes. 
				.article-footer
					%a.button{:href=>"http://www.experiencegr.com"} More About Grand Rapids
		%section.venues.cf
			%h5.section-header Venues
			%article
				.image
					%h6 Education Partner
				.article-content.cf
					%h3 Kendall College of Art and Design
					%h4 <em>Sessions and Workshops</em>
					%p Kendall College of Art and Design of Ferris State University prepares students for leadership in the visual arts, design, art history, and art education; and promotes artists and designers, locally and globally.
				.article-footer.cf
					%a.button{:href=>"http://www.kcad.edu"} Learn More at kcad.edu
			%article
				.image
				.article-content
					%h3 UICA
					%h4 <em>Keynotes</em>
					%p The Urban Institute for Contemporary Arts (UICA) is Michigan’s largest contemporary arts center. UICA houses a dynamic, multi-discipline laboratory focused on the advancement of the art of our time.
				.article-footer
					%a.button{:href=>"http://uica.org"} Learn More at uica.org				
		/ .sponsors-listing.cf
		/ 	%h5 Platinum Sponsors
		/ 	%ul.platinum
		/ 		%li
		/ 			%a.atomic-object{:href=>"http://atomicobject.com"} Atomic Object
		/ 		%li
		/ 			%a.mutuallyhuman{:href=>"http://mutuallyhuman.com"} Mutually Human
		/ 		%li
		/ 			%a.universal-mind{:href=>"http://universalmind.com"} Universal Mind
		/ 		%li
		/ 			%a.visual-hero{:href=>"http://visualhero.com"} Visual Hero
