.container.grand-rapids.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Grand Rapids, Michigan
	.main.content.cf
		%h5.section-header Venues
		%section.map.cf
			<iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/ms?msa=0&amp;msid=213141505412051242771.0004e8bc7986895b10f08&amp;ie=UTF8&amp;t=m&amp;ll=42.96418,-85.668297&amp;spn=0.015074,0.012832&amp;z=15&amp;output=embed"></iframe><br /><small>View <a href="https://www.google.com/maps/ms?msa=0&amp;msid=213141505412051242771.0004e8bc7986895b10f08&amp;ie=UTF8&amp;t=m&amp;ll=42.96418,-85.668297&amp;spn=0.015074,0.012832&amp;z=15&amp;source=embed" style="color:#0000FF;text-align:left">MWUX Venues</a> in a larger map</small>
		%section.map-key.cf
			.excursion-title.cf
				<img src="http://bailey.es/etc/map-markers/cyan-blue.png"/>
				%h4 Kendall College of Art and Design
				%em Workshops and Sessions
			.excursion-title.cf
				<img src="http://bailey.es/etc/map-markers/orange.png"/>
				%h4 UICA
				%em Keynotes
			.excursion-title.cf
				<img src="http://bailey.es/etc/map-markers/red.png"/>
				%h4 SiTE:LAB
				%em Friday Night Gala
			.excursion-title.cf
				<img src="http://bailey.es/etc/map-markers/green.png"/>
				%h4 Kendall Atrium
				%em Saturday Lunch
			.excursion-title.cf
				<img src="http://bailey.es/etc/map-markers/yellow.png"/>
				%h4 Amway Grand
				%em Conference Hotel
		%section.venues.cf
			%article
				.image
					%h6 Education Partner
				.article-content.cf
					%h3 Kendall College of Art and Design
					%h4 <em>Sessions and Workshops</em>
					%p Kendall College of Art and Design of Ferris State University prepares students for leadership in the visual arts, design, art history, and art education; and promotes artists and designers, locally and globally.
				.article-footer.cf
					%a.button{:href=>"http://www.kcad.edu"} Learn More at kcad.edu
			%article
				.image
				.article-content
					%h3 UICA
					%h4 <em>Keynotes</em>
					%p The Urban Institute for Contemporary Arts (UICA) is Michigan’s largest contemporary arts center. UICA houses a dynamic, multi-discipline laboratory focused on the advancement of the art of our time.
				.article-footer
					%a.button{:href=>"http://uica.org"} Learn More at uica.org
		%section.stay.cf
			%article
				%img{:src => "/images/gr-river.jpg"}
				.article-content.cf
					%h3 Grand Rapids: The Midwest's Best Kept Secret
					%p Grand Rapids has long had a focus on the arts and, maybe more importantly, volunteerism. The city has hosted an annual Festival of The Arts since 1970, which according to the Library of Congress, is the largest all volunteer arts festival in the United States. During the three days of the event nearly 20,000 volunteers host over half a million people on downtown streets. MWUX13 itself is 100% volunteer-based—its organizers are not compensated for their time or efforts.
					%p In addition to Festival of The Arts, Grand Rapids also hosts ArtPrize, a radically open art competition, and one of the world’s most generous. Over the course of three years, ArtPrize has hosted 4,557 artists in 515 venues around the downtown area and given away $1,428,000 in prizes. 
				.article-footer
					%a.button{:href=>"http://www.experiencegr.com"} More About Grand Rapids
			%article
				%img{:src => "/images/grbrewing-crate.jpg"}
				.article-content.cf
					%h3 Gastronomy
					%p Two unique factors make Grand Rapids dining extra special: We're located in the middle of one of the world's best growing regions. And we're home to one of America's finest culinary schools. The result is an astonishing variety of fresh, farm-to-table cuisine for every taste and budget - downtown, around town and along the lakeshore.		
				.article-footer
					%a.button{:href=>"http://www.experiencegr.com/restaurants/"} Gastronomy
		%section.hotels.cf
			%h5.section-header Downtown Hotels
			%article
				%img{:src =>"/images/hotels/city-flats.jpg"}
				.article-content.cf
					%h3 City Flats
					%p Located steps from the session and workshop venue at Kendall College of Ferris University, City Flats is features 28 unique rooms in five stories. Located in the historic Fox Jeweler's building, the historically sensitive and LEED Gold-certified renovation produced one of Grand Rapids best-designed hotels. Rooms are still available for $175 per night. 
				.article-footer
					%a.button{:href=>"http://www.cityflatshotel.com/grandrapids/"} More Information
			%article
				%img{:src =>"/images/hotels/marriot.jpg"}
				.article-content.cf
					%h3 JW Marriott
					%p The only JW Marriott property in the Midwest, the JW Marriott in Grand Rapids provides world class luxury accommodations and service at a midwestern price. Rooms are available the nights of October 18 and 19 at a reduced weekend rate of $199.ms at the elegant Amway Grand Hotel in downtown Grand Rapids, MI during the conference. 
				.article-footer
					%a.button{:href=>"http://www.ilovethejw.com"} More Information
			%article
				%img{:src =>"/images/hotels/courtyard.jpg"}
				.article-content.cf
					%h3 Courtyard Downtown
					%p Just down the street from the Amway Grand and the JW Marriott and overlooking the Grand River, Courtyard Grand Rapids Downtown provides three star accommodations for $189 per night. The Courtyard boasts a newly renovated lobby with expanded wifi and multiple work spaces to keep you connected. A 20% weekend discount is available if you book before October 3. 
				.article-footer
					%a.button{:href=>"http://www.marriott.com/hotels/travel/grrdt-courtyard-grand-rapids-downtown/"} More Information
			%article
				%img{:src =>"/images/hotels/holiday-inn.jpg"}
				.article-content.cf
					%h3 Holiday Inn Downtown
					%p This seven-story hotel is located just across the Grand River from the conference hotel the Amway Grand and within walking distance of all conference attractions. Providing business class accommodations with easy access to the main freeways (US 131 and 196), free parking, and with available rooms starting at just $140 per night, Holiday Inn Grand Rapids is a terrific budget-conscious choice. 
				.article-footer
					%a.button{:href=>""} More Information
			%h5.section-header Downtown Bed & Breakfasts
			%article
				%img{:src =>"/images/hotels/bb-grand-rapids.jpg"}
				.article-content.cf
					%h4 Grand Rapids Bed & Breakfast 
				.article-footer
					%a.button{:href=>"http://www.experiencegr.com/listings/Bed-Breakfast-of-Grand-Rapids/3106/0/0/"} More Information
			%article
				%img{:src =>"/images/hotels/bb-lasting-impressions.jpg"}
				.article-content.cf
					%h4 Lasting Impressions Bed & Breakfast 
				.article-footer
					%a.button{:href=>"http://www.travelpod.com/bed-and-breakfast/Lasting_Impressions_Bed_And_Breakfast-Grand_Rapids.html"} More Information
			%article
				%img{:src =>"/images/hotels/bb-peaches.jpg"}
				.article-content.cf
					%h4 Peaches Bed & Breakfast
				.article-footer
					%a.button{:href=>"http://www.peaches-inn.com/cgi-bin/go.pl"} More Information