.container.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Excursions
	.main.content.cf
		.intro.cf
			%p In addition to providing admission to keynotes, sessions, and other conference events, your purchase also includes your choice of the available excursion and lunch combinations Friday afternoon. Excursions will visit sites throughout Grand Rapids and offer you the chance to see in context how place has shaped the design practices of many impressive organizations. 
		<iframe width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=213141505412051242771.0004e8a42b79f0b4e4205&amp;ie=UTF8&amp;t=m&amp;ll=42.963583,-85.659285&amp;spn=0.030149,0.054932&amp;z=14&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps/ms?msa=0&amp;msid=213141505412051242771.0004e8a42b79f0b4e4205&amp;ie=UTF8&amp;t=m&amp;ll=42.963583,-85.659285&amp;spn=0.030149,0.054932&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">MWUX Excursion Destinations</a> in a larger map</small>
		%section.cf
			%article#start-garden
				.article-content
					%h4 Start Garden
					%em Capacity: 80
					%p Start Garden – Explore the Entrepreneurial hot bed known as Start Garden. Start Garden is an ecosystem of ideas – and has $15,000,000 to invest to help people start starting and turn those ideas into successful businesses. On this Excursion you will learn more about this catalyst that is fostering a movement of forward thinkers while funding a new batch of businesses. Hear how Start Garden got its start, learn from the successes – and failures – of incubated ideas, and get a peek at future ideas aiming to change the entrepreneurial landscape of tomorrow.
				.article-footer
					%a.button{:href=>"http://www.startgarden.com/"} startgarden.com
			%article#grid-70
				.article-content
					%h4 GRid70 - <span class="sold-out">Sold Out</span>
					%em Capacity: 35
					%p GRid70 is currently the world's largest experiment in co-working which brings innovation and strategy teams from Steelcase, Amway, Wolverine Worldwide, and Meijer together in shared spaces. This Excursion focuses on ways space can be designed to create the "happy accidents" of collaboration essential to fostering new work structures and inter-industry collaboration. The participants will engage in a conversation about Grid70 – what it is, how it works, and the challenges it addresses. The Excursion will culminate with an exercise to expand the concepts discussed and deconstruct a proposed experience solution.
				.article-footer
					%a.button{:href=>"http://bit.ly/mwuxgrid70"} GRid70 on FastCompany.co
			%article#wealthy-street-theatre
				.article-content
					%h4 Wealthy Street Theatre
					%em Capacity: 30
					%p On this Excursion, you will explore the newly updated historical Wealthy Theatre and learn about the user-centered design and community-based planning behind its 2013 expansion. Wealthy Theatre was constructed in 1911. After several years as a vaudeville and live performance theatre, it became a neighborhood movie house. During World War I the building was used as a storehouse for aircraft parts. After an unsuccessful attempt to reopen as a movie theatre, the building became vacant & generally unused from the mid 70s until its eventual purchase and restoration. The theatre re-opened in 1998 and the GR Community Media Center acquired it in 2005.
				.article-footer
					%a.button{:href=>"http://www.grcmc.org/"} grcmc.com
			%article#the-rapid
				.article-content
					%h4 The Rapid
					%em Capacity: 30
					%p Come with us on a ride on The Rapid. Find out what helps keep Grand Rapids' public transportation rolling. Explore this transit system and their efforts to improve the user experience while increasing ridership and reducing their carbon footprint – from their green busses to their LEED Certified Central Station. This Excursion will feature a presentation onboard a functioning Rapid route as well as explore the nationally acclaimed Central Station facilities.
				.article-footer
					%a.button{:href=>"http://www.ridetherapid.org/"} ridetherapid.org
			%article#the-factory
				.article-content
					%h4 The Factory
					%em Capacity: 25
					%p Experience a unique coworking environment in downtown Grand Rapids. The Factory, caters to creatives and other professionals with a space that  creates an ethos of comfort and productivity while encouraging collaboration. Everyone is welcome at The Factory – from freelancers to corporate innovators and teams. On this Excursion you will explore The Factory space, interact with members, and hear from the founder about what lead to the creation of The Factory, accomplishments created within its walls, and participate in a wide-ranging discussion of what the future of co-working is.
				.article-footer
					%a.button{:href=>"http://workthefactory.com/"} workthefactory.com
			%article#meyer-may-house
				.article-content
					%h4 The Meyer May House - <span class="sold-out">Sold Out</span>
					%em Capacity: 25
					%p Step back in history to experience arguably the best restoration of Frank Lloyd Wright Prairie-period masterpiece in the world. Meticulously restored by Steelcase in 1987, the Mayer May house features an interior furnished with a mixture of the actual and painstakingly recreated furniture, artwork, rugs, and art glass Wright designed for the home. On this Excursion, you will enjoy a fascinating a private tour of the home as you explore the many unique features that Wright's design process (which can only be described as growing out of the site and the users' experience) created. This is certain to be a memorable and enlightening experience.
				.article-footer
					%a.button{:href=>"http://meyermayhouse.steelcase.com/"} meyermayhouse.steelcase.com
			%article#brewery-tour
				.article-content
					%h4 Brewery Tour - <span class="sold-out">Sold Out</span>
					%em Capacity: 20
					%p Join this Excursion to become enlightened by all things related to barley and hops. The Brewery Tour will visit breweries that were founded locally, but have grown to enjoy national - and even global - reputations for quality and innovation. Interact with brewery staff and the teams that design the end-to-end consumer experience, whether onsite or in the glass. This tour includes HopCat (Beer Advocate's #2 brewpub in the U.S.), Founders Brewery (Ratebeer's #2 brewery in the world 2011 and 2012), Grand Rapids Brewing Company (the first USDA Certified organic brewery in Michigan), and others. Experience first-hand several of the areas finest libations and the tap rooms that support them.
				.article-footer
					%a.button{:href=>"https://www.facebook.com/BeerCityUsaGR"} facebook.com/BeerCityUSAGR
			%article#site-lab
				.article-content
					%h4 SiTE:LAB and an Ideas Competition for a Former Public Museum
					%em Capacity: 30
					%p SiTE:LAB creates temporary site-specific art projects that facilitate dynamic collaboration between the art, education, business and cultural communities of Grand Rapids. Over the past year SiTE:LAB has transformed the former Public Museum, which was closed for 18 years, for a series of thriving Art events and started an ideas competition (inspired directly by the High-line competition in NYC) to spur conversation of what this place, steeped in the local history, should become to it's neighborhood. SiTE:LAB's 'The Not Yet' exhibition and 54Jeff.org competition will conclude during ArtPrize a week before MidwestUX and Excursion attendees will tour the exhibition and ideas competition winners with curator Paul Amenta.
				.article-footer
					%a.button{:href=>"http://www.site-lab.org/"} site-lab.org
			%article#grpm
				.article-content
					%h4 Grand Rapids Public Museum
					%em Capacity: 20
					%p The Van Andel Museum Center, situated on the banks of the Grand River, brings globally-significant exhibits and situates them in a local context. This Excursion will feature a "behind the construction barrier" view of the Furniture City Exhibit, which will be underrenovation, as well as a private walk-through of the "work in progress" fabrication and installation of Dinosaurs Unearthed exhibit. The Excursion will tour the exhibit design and production facilities of the Museum and engage in informal discussions of the Museum's design process and its focus on improving exhibits' user experience. 
				.article-footer
					%a.button{:href=>"http://www.grmuseum.org"} grmuseum.org
			%article#grpm-archives
				.article-content
					%h4 Grand Rapids Public Museum Archives
					%em Capacity: 20
					%p Affectionately referred to as, "The City's Attic." This Excursion will give you a private look at what the Grand Rapids Public Museum has been collecting for over 155 years. This intimate tour of the Collections Storage Facility will give participants a peek at the over 250,000 artifacts and specimens, from mammals to manuscripts, that tell the story of Grand Rapids. Don't miss this rare opportunity to see the inner workings of a museum and get a glimpse at the private curation and preservation processes fundamental to a museum's success. 
				.article-footer
					%a.button{:href=>"http://www.grmuseum.org"} grmuseum.org
			%article#gram
				.article-content
					%h4 Grand Rapids Art Museum
					%em Capacity: 15
					%p Are you smarter than our third graders? Experience how human centered design transformed the Grand Rapids Art Museum’s (GRAM) approach to working with area schools and expanded the GRAM's educational programming. Explore the world’s first LEED Gold Certified Art Museum and discover highlights from the collection. This fun and engaging Excursion will examine the creative process that GRAM’s award winning Education Department undertook to create a nationally recognized tour program that reaches every third grader in Grand Rapids Public Schools. Then, in the galleries we’ll challenge you, in order to see if your museum skills measure up to our city’s students. 
				.article-footer
					%a.button{:href=>"http://www.artmuseumgr.org"} artmuseumgr.org
			%article#people-design
				.article-content
					%h4 People Design
					%em Capacity: 25
					%p Explore and demo the new apps Peopledesign has created for Interface, the global modular carpet leader based in Atlanta. Learn about Peopledesign’s user-centered approach, how research informed the direction of the UX design, and the value of practical interactive prototyping. Peopledesign helps companies innovate. We help businesses find, communicate, and deliver new sources of value. Our proprietary method helps organizations connect with their customers through focus, expression, and alignment. 
				.article-footer
					%a.button{:href=>"http://www.peopledesign.com"} peopledesign.com
			%article#studio-tour
				.article-content
					%h4 Studio Tour: Reagan Marketing + Design & Atomic Object
					%em Capacity: 20
					%p Visit two firms that draw inspiration from their historic Wealthy Neighborhood offices. Two years ago Reagan Marketing and Design (RM+D) moved into a completely renovated building. Take a walk around, get a peek inside, and hear how they harness place to execute design projects, from billboards to digital campaigns. Then, cross the street to Atomic Object. With offices in Grand Rapids, Ann Arbor and Detroit, Atomic Object develops software for Fortune 500 and startup clients across the country. Discuss how its flexible workplaces, collaboration in virtual spaces and carefully honed processes produce finely crafted custom software. 
				.article-footer
					%a.button{:href=>"http://www.atomicobject.com"} atomicobject.com
					%a.button{:href=>"http://reaganmarketing.com"} reaganmarketing.com