.container.speakers.interior
	.masthead.cf
		.event-info.cf
			%h1 Our Theme: Place
	.main.content.cf
		.theme-intro.cf
			%h1 Baking in a Theme
			%p.metadata By <a href="http://blog.thinkxd.com/" class="name">Grant Carmichael</a> on May 6, 2013
			%p When I think back to designed events I’ve enjoyed being a part of–Interactions, TEDx, SiTE:LAB, Midwest UX–I remember them as places. Certainly the physical spaces but also the people I’ve met up with and the conversations, ideas and even frustrations that were sparked during my time there. There is an undeniable energy to these events that makes my mind drift back to them again and again.	
			%p I’ve shared many conversations with friends about how we’ve noticed at times a harmonious thread that connects the talks, the excursions, the workshops. Sometimes they can maddeningly conflict. Synchronicity may emerge organically during the event, dictatorially or guided by a confident curatorial hand. We have big shoes to fill as the previous two Midwest UX events established an elegant and successful rhythm for a regional conference. Our intent is to find ways to help the threads knit ahead of the event and invite speakers to connect, share with each other and open up the doors of collaboration. 
			%p And then there’s theme. It’s a risk, it’s declarative. Dan Klyn put it best with this challenge to the team: “Do we sprinkle it on, or bake it in?” There was a comfort in just waiting to see what talks come in. But there can sometimes be a disconnect with theme once the programming is set. So with an edge of daring we resolve to solicit talks germinated from an idea we are all familiar with as designers empathetic to what is meaningful in people’s lives. Their Place. Their identity, relationships, community and spaces. How naturally can ‘Place’ play out in the talks yet to come? I have confidence in the experience of you, the designers, makers and researchers of the Midwest–our place–to tell the stories of your craft, your findings and your methods to inspire us on to making meaningful places.
			.author.cf
				%img{:src =>"/images/grant.jpg" }
				%h2.name - Grant
				<a href="http://twitter.com/thinkxd">@thinkxd</a>
		.callouts.cf
			%h2 Session and Workshop Submission
			%article
				.article-content
					.information
						%h3 Session Speaker
						%h5 Requirements
						%p 45 minute session comprised of a presentation centered around the theme of Place. Q&A periods are optional, but interaction with the audience is encouraged.
						%h5 Compensation
						%p Accepted session speakers will receive a full pass to the conference and 	discounted access to MWUX workshops.
						%h5 Due Date
						%p Submissions will be accepted until June 22.
					%a.button{:href=>"/sessions"} Submit Speaker Application
			%article
				.article-content
					.information
						%h3 Workshop Practitioner
						%h5 Requirements
						%p Half or full day collaborative learning experiences centered around the theme of Place. We expect workshops, but are open to suggestion on other educational frameworks	.
						%h5 Benefits
						%p Accepted workshop practitioners will receive a full pass to the conference.
						%h5 Due Date
						%p Submissions will be accepted until June 22.
					%a.button{:href=>"/workshops"} Submit Practitioner Application
