.container.main
	.masthead#home.cf
		.event-info.cf
			%h1 October 17-19, 2013
			//%h2 Grand Rapids, MI
			%h2.tagline Midwest UX focuses on all things user experience - interaction design, information architecture, UX research and UI design.
		.callout
			%h5 Registration Starts in July! <a href="">Sign Up for Updates</a> And <a href="/images/mwux.ics">Save the Date</a>
	.content.cf
		.announcement.cf
			.intro
				%h5 <span class="highlight">//</span> Our Theme: Place
				%p We identify with the places in our lives because they have meaning to us personally and collectively. From ourselves to our relationships to our spaces and our culture, life takes place and that is the challenge to us all as designers, makers and builders. 
			.subscribe
				%h5 Get Updates <span class="highlight">//</span> Stay in Touch
				
				#mc_embed_signup
					%form
						.mc-field-group
							<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email here...">
							<input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button">
				%ul.social-media
					%li
						<a class="facebook network" href="http://www.facebook.com/midwestux">Facebook</a>
					%li
						<a class="twitter network" href="http://twitter.com/midwestUX">Twitter</a>
					%li
						<a class="linked-in network" href="http://linkedin.com/groups/MIdwestUX-4694760">LinkedIn</a>
		.callouts.cf
			%article
				%img{:src =>"/images/speakers-home.jpg"}
				.article-content
					%h3 Call for Speakers
					%p Join the ranks of regional, national and international notables who presented at MWUX 11 & 12.
					%a.button{:href=>"/speakers"} Apply Now
			%article
				%img{:src => "/images/volunteers.jpg"}
				.article-content
					%h3 Call for Volunteers
					%p We’re looking for individuals who value well-designed experiences to help volunteer before, during and after the event. 
					%a.button{:href=>"/volunteers"} Sign Up to Help
			%article
				%img{:src => "/images/gr.jpg"}
				.article-content
					%h3 Midwest Design
					%p Grand Rapids exemplifies the deep design heritage of the Midwest.
					%a.button{:href=>"/grand-rapids"} Get to Know GR
		/ .sponsors.cf
		/ 	%h5 Platinum Sponsors
		/ 	%ul.platinum
		/ 		%li
		/ 			%a.atomic-object{:href=>"http://atomicobject.com"} Atomic Object
		/ 		%li
		/ 			%a.mutuallyhuman{:href=>"http://mutuallyhuman.com"} Mutually Human
		/ 		%li
		/ 			%a.universal-mind{:href=>"http://universalmind.com"} Universal Mind
		/ 		%li
		/ 			%a.visual-hero{:href=>"http://visualhero.com"} Visual Hero
		/ .news.cf
		/ 	%article
		/ 		%img{:src => "/images/news/fireworks.jpg"}
		/ 		.article-content
		/ 			%h4 Yeah, We’ve Got Fireworks.
		/ 			%p Do you see any Teletubbies in here? Do you see a slender plastic tag clipped tomy 	shirt with my name printed on it?
		/ 			.entry-details
		/ 				%span 
		/ 					%em by <a href="">Michael Nÿkamp</a> on March 16
		
		/ 	%article
		/ 		%img{:src => "/images/news/awesome-peeps.jpg"}
		/ 		.article-content
		/ 			%h4 Awesome Columbus Peeps Are Coming.
		/ 			%p The lysine contingency - it's intended to prevent the spread of the animals is case they ever got off the island.
		/ 			.entry-details
		/ 				%span 
		/ 					%em by <a href="">Samuel Bowles</a> on March 14
		
		/ 	%article
		/ 		%img{:src => "/images/news/nightlife.jpg"}
		/ 		.article-content
		/ 			%h4 The Nightlife is Crazy!
		/ 			%p Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! 
		/ 			.entry-details
		/ 				%span 
		/ 					%em by <a href="">Grand Carmichael</a> on March 11
		
		/ 	%article
		/ 		%img{:src => "/images/news/alancooper.jpg"}
		/ 		.article-content
		/ 			%h4 We Sure Did Bag Mr. Alan Cooper!
		/ 			%p Some pilots get picked and become television programs. Some don't, become nothin. 	She starred in one of the ones that became nothing.
		/ 			.entry-details
		/ 				%span 
		/ 					%em by <a href="">Laurel Stanley</a> on March 09
	