.container.main
	.masthead#home
		%h1 October 17-19, 2013
		#place-marker.icon
		%h2 Grand Rapids, Michigan
		%h2.tagline Midwest UX is a unique event that combines inspiring talks with hands-on activities presented by a mix of regional professionals and international experts.
		.callout
			%h5 Early Bird Registration Starts in June! <a href="">Sign Up for Updates</a> And <a href="">Save the Date</a>
	.content.cf
		.announcement.cf
			.intro
				%p
					From <strong>October 17 - 19, 2013</strong>, user experience designers, developers, makers, students and educators from around the 	Midwest 	are invited to meet peers, advance the discipline and make make the third Midwest UX Conference the biggest and most colorful.
			.subscribe
				%h5 Get Updates <span class="highlight">//</span> Stay in Touch
				
				#mc_embed_signup
					%form
						.mc-field-group
							<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
							<input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button">
				%ul.social-media
					%li
						<a class="facebook network" href="http://www.facebook.com/midwestux">Facebook</a>
					%li
						<a class="twitter network" href="http://twitter.com/midwestUX">Twitter</a>
					%li
						<a class="linked-in network" href="http://linkedin.com/groups/MIdwestUX-4694760">LinkedIn</a>
		.callouts.cf
			%article
				%img{:src =>"/images/speakers.jpg"}
				.article-content
					%h3 Call for Speakers
					%p Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised 	asthe most popular gun in American crime. It 	actually 	says that in the little book 	that comeswith it: the most popular gun in American crime.
					%a.button{:href=>"/speakers"} Submit Speaker Application
			%article
				%img{:src => "/images/volunteers.jpg"}
				.article-content
					%h3 Call for Volunteers
					%p Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses 	differently than mine. You don't get sick, I do. 		That's also clear. But for some 	reason, you and I react the exact same way to water. 
					%a.button{:href=>"/volunteers"} Become More Awesome
			%article
				%img{:src => "/images/gr.jpg"}
				.article-content
					%h3 Best Kept Secrets
					%p Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt 	with my name printed on it? Do you see a little 	Asian 	child with a blank expression 	on his face sitting outside on a mechanical helicopter that shakes when you put quarters in 	it?
					%a.button{:href=>"/grand-rapids"} Get to Know GR
		.sponsors.cf
			%h5 Platinum Sponsors
			%ul.platinum
				%li
					%a.atomic-object{:href=>"http://atomicobject.com"} Atomic Object
				%li
					%a.mutuallyhuman{:href=>"http://mutuallyhuman.com"} Mutually Human
				%li
					%a.universal-mind{:href=>"http://universalmind.com"} Universal Mind
				%li
					%a.visual-hero{:href=>"http://visualhero.com"} Visual Hero
		.news.cf
			%a
				%article
					%img{:src => "/images/news/fireworks.jpg"}
					.article-content
						%h4 Yeah, We’ve Got Fireworks.
						%p Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my 	shirt with my name printed on it?
						.entry-details
							%span 
								%em by <a href="">Michael Nÿkamp</a> on March 16
			%a
				%article
					%img{:src => "/images/news/awesome-peeps.jpg"}
					.article-content
						%h4 Awesome Columbus Peeps Are Coming.
						%p The lysine contingency - it's intended to prevent the spread of the animals is 	case they ever got off the island.
						.entry-details
							%span 
								%em by <a href="">Samuel Bowles</a> on March 14
			%a
				%article
					%img{:src => "/images/news/nightlife.jpg"}
					.article-content
						%h4 The Nightlife is Crazy!
						%p Now that we know who you are, I know who I am. I'm not a mistake! It all makes 	sense! 
						.entry-details
							%span 
								%em by <a href="">Grand Carmichael</a> on March 11
			%a
				%article
					%img{:src => "/images/news/alancooper.jpg"}
					.article-content
						%h4 We Sure Did Bag Mr. Alan Cooper!
						%p Some pilots get picked and become television programs. Some don't, become nothing. 	She starred in one of the ones that became nothing.
						.entry-details
							%span 
								%em by <a href="">Laurel Stanley</a> on March 09
	