.container.main
	.masthead#home.cf
		.callout
			%h5 Welcome to Grand Rapids!
			%h4 October 17-19, 2013
	%section.registration-callout.cf
		%h3 Here are some last minute tips to make your MWUX experience memorable.
		%a.button{:href=>"/welcome-letter"} Letter from the Organizers
	.content.cf
		%section.callouts.cf
			%article
				%img{:src =>"/images/gr.jpg"}
				.article-content
					%h3 City Guide
					%p Maps to venues, hotels and suggestions of only the best places to eat and drink. Experience MWUX as a Grand Rapidian!
				.article-footer
					%a.button{:href=>"/city-guide"} Get Local
			%article
				%img{:src => "/images/excursions.jpg"}
				.article-content
					%h3 Excursions
					%p Grand Rapids exemplifies the Midwest's deep design heritage. From top breweries to a Frank Lloyd Wright home and beyond, immerse yourself.
				.article-footer
					%a.button{:href=>"/excursions"} Learn in Context
			%article
				%img{:src => "/images/team/rachel-watkins.jpg"}
				.article-content
					%h3 Your Hosts
					%p We are here to make your stay in Grand Rapids absolutely fantastic. If there is anything we can do to help, just let us know.
				.article-footer
					%a.button{:href=>"/team"} MWUX Team
		%section.speaker-announcement.cf
			%h5.section-header Our Keynote Speakers
			%article
				%img{:src =>"/images/Abby_Covert.jpg"}
				.article-content
					%h3 Abby Covert
					%p Abby Covert is an independent information architect working and living in New York City. For her work as Director of Strategic Planning & User Experience at DraftFCB, Abby was listed by the Direct Marketing Associations 30 Under 30 in 2011. She is also an active mentor to the design community, is a highly regarded speaker, and writes her popular blog under the pseudonym  Abby the IA.
				.article-footer
					%a.button{:href=>"http://abbytheia.wordpress.com/about/"} About Abby
			%article
				%img{:src =>"/images/Karl_Fast.jpg"}
				.article-content
					%h3 Karl Fast
					%p Karl Fast is a professor of UX Design at Kent State University. His work explores how people adapt to live in a world where information and computation are abundant resources. He teaches information architecture, information visualization, and human-information interaction. He is a founding member of the Information Architecture Institute. He's also Canadian.
				.article-footer
					%a.button{:href=>"http://about.me/karlfast"} About Karl
			%article
				%img{:src =>"/images/Christina_Wodtke.jpg"}
				.article-content
					%h3 Christina Wodtke
					%p Christina Wodtke has an impressive history of making things happen. Most recently she led the creation of a social network/gaming platform as a General Manager of Zynga.com. Before Zynga, she held senior positions at Myspace, LinkedIn and Yahoo!, back when Yahoo! was pretty neat. Currently she lives the slow life: advising start-ups, teaching, and speaking at conferences worldwide.
				.article-footer
					%a.button{:href=>"http://www.eleganthack.com/"} About Christina
		%section.tweets
			%h5.section-header Latest Tweets
			%article#user-tweets.cf
				<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/midwestUX" data-widget-id="375073966966059009">Tweets by @midwestUX</a>
			%article#hashtag.cf
				<a class="twitter-timeline" href="https://twitter.com/search?q=%23midwestux" data-widget-id="375075704041242624">Tweets about "#midwestux"</a>
		/ .sponsors-listing.cf
		/ 	%h5.section-header Platinum Sponsors
		/ 	%ul.platinum
		/ 		%li
		/ 			%a.atomic-object{:href=>"http://atomicobject.com"} Atomic Object
		/ 		%li
		/ 			%a.mutuallyhuman{:href=>"http://mutuallyhuman.com"} Mutually Human
		/ 		%li
		/ 			%a.universal-mind{:href=>"http://universalmind.com"} Universal Mind
		/ 		%li
		/ 			%a.visual-hero{:href=>"http://visualhero.com"} Visual Hero
		/ %section.news.cf
		/ 	%h5.section-header Latest Conference News
		/ 	%article
		/ 		%img{:src => "/images/news/fireworks.jpg"}
		/ 		.article-content
		/ 			%h4 Yeah, We’ve Got Fireworks.
		/ 			%p Do you see any Teletubbies in here? Do you see a slender plastic tag clipped tomy 	shirt with my name printed on it?
		/ 			.entry-details
		/ 				%span 
		/ 					%em by <a href="">Michael Nÿkamp</a> on March 16
		
		/ 	%article
		/ 		%img{:src => "/images/news/awesome-peeps.jpg"}
		/ 		.article-content
		/ 			%h4 Awesome Columbus Peeps Are Coming.
		/ 			%p The lysine contingency - it's intended to prevent the spread of the animals is case they ever got off the island.
		/ 			.entry-details
		/ 				%span 
		/ 					%em by <a href="">Samuel Bowles</a> on March 14
		
		/ 	%article
		/ 		%img{:src => "/images/news/nightlife.jpg"}
		/ 		.article-content
		/ 			%h4 The Nightlife is Crazy!
		/ 			%p Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! 
		/ 			.entry-details
		/ 				%span 
		/ 					%em by <a href="">Grand Carmichael</a> on March 11
		
		/ 	%article
		/ 		%img{:src => "/images/news/alancooper.jpg"}
		/ 		.article-content
		/ 			%h4 We Sure Did Bag Mr. Alan Cooper!
		/ 			%p Some pilots get picked and become television programs. Some don't, become nothin. 	She starred in one of the ones that became nothing.
		/ 			.entry-details
		/ 				%span 
		/ 					%em by <a href="">Laurel Stanley</a> on March 09
	