.container.main
	.masthead#home.cf
		.callout
			//%h4.date-location Registration Starts in July! <a href="/images/mwux.ics">Save the Date.</a>
			%h5 October 17-19, 2013. Grand Rapids, Michigan
	%section.registration-callout.cf
		%h3 Midwest UX (MWUX) is a three-day conference that combines talks and workshops offering community, inspiration and skill-building. Participate and learn from the experiences of regional professionals and international experts. 
		%a.button{:href=>"/registration"} Register Now
	.content.cf
		%section.callouts.cf
			%article
				%img{:src =>"/images/speakers-home.jpg"}
				.article-content
					%h3 Sponsors
					%p Connect with influential user experience professionals, industry leaders, talended developers and designers. 
				.article-footer
					%a.button{:href=>"/Sponsors"} Make It Happen
			%article
				%img{:src => "/images/volunteers.jpg"}
				.article-content
					%h3 Workshops
					%p We’re looking for individuals who value well-designed experiences to help volunteer before, during and after the event. 
				.article-footer
					%a.button{:href=>"/volunteers"} Get Skills
			%article
				%img{:src => "/images/gr.jpg"}
				.article-content
					%h3 Excursions
					%p Grand Rapids exemplifies the deep design heritage of the Midwest.
				.article-footer
					%a.button{:href=>"/news"} Have Fun
		%section.speaker-announcement.cf
			%h5.section-header Our Keynote Speakers
			%article
				%img{:src =>"http://lorempixel.com/640/480/people/2"}
				.article-content
					%h3 Abby Covert
					%p With a proven track record in establishing user-centric practices in a variety of creative environments, Abby also has a reputation for stellar information architecture work in a variety of consulting contexts.
				.article-footer
					%a.button{:href=>"/speakers"} About Abby
			%article
				%img{:src =>"http://lorempixel.com/640/480/people/4"}
				.article-content
					%h3 Karl Fast
					%p Karl teaches user experience design at Kent State University. He studies how people make sense of information in their everyday lives.
				.article-footer
					%a.button{:href=>"/speakers"} About Karl
			%article
				%img{:src =>"http://lorempixel.com/640/480/people/8"}
				.article-content
					%h3 Christina Wodtke
					%p One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back.
				.article-footer
					%a.button{:href=>"/speakers"} About Christina
		.sponsors-listing.cf
			%h5.section-header Platinum Sponsors
			%ul.platinum
				%li
					%a.atomic-object{:href=>"http://atomicobject.com"} Atomic Object
				%li
					%a.mutuallyhuman{:href=>"http://mutuallyhuman.com"} Mutually Human
				%li
					%a.universal-mind{:href=>"http://universalmind.com"} Universal Mind
				%li
					%a.visual-hero{:href=>"http://visualhero.com"} Visual Hero
		%section.news.cf
			%h5.section-header Latest Conference News
			%article
				%img{:src => "/images/news/fireworks.jpg"}
				.article-content
					%h4 Yeah, We’ve Got Fireworks.
					%p Do you see any Teletubbies in here? Do you see a slender plastic tag clipped tomy 	shirt with my name printed on it?
					.entry-details
						%span 
							%em by <a href="">Michael Nÿkamp</a> on March 16
		
			%article
				%img{:src => "/images/news/awesome-peeps.jpg"}
				.article-content
					%h4 Awesome Columbus Peeps Are Coming.
					%p The lysine contingency - it's intended to prevent the spread of the animals is case they ever got off the island.
					.entry-details
						%span 
							%em by <a href="">Samuel Bowles</a> on March 14
		
			%article
				%img{:src => "/images/news/nightlife.jpg"}
				.article-content
					%h4 The Nightlife is Crazy!
					%p Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! 
					.entry-details
						%span 
							%em by <a href="">Grand Carmichael</a> on March 11
		
			%article
				%img{:src => "/images/news/alancooper.jpg"}
				.article-content
					%h4 We Sure Did Bag Mr. Alan Cooper!
					%p Some pilots get picked and become television programs. Some don't, become nothin. 	She starred in one of the ones that became nothing.
					.entry-details
						%span 
							%em by <a href="">Laurel Stanley</a> on March 09
	