.container.main
	.masthead#home.cf
		.callout
			%h5 October 17-19, 2013. Grand Rapids, Michigan
	%section.registration-callout.cf
		%h3 Midwest UX makes a world-class conference experience readily-accessible to the burgeoning Midwest design and UX communities. It provides topflight instruction, networking, entertainment, and innovative immersive experiences. Don't even think of missing out! 
		%a.button{:href=>"/program"} See The Program
		%a.button{:href=>"/registration"} Register Now
	.content.cf
		%section.callouts.cf
			%article
				%img{:src =>"/images/speakers-home.jpg"}
				.article-content
					%h3 Call for Sponsors
					%p Connect with influential user experience professionals, industry leaders, talented developers and designers. 
				.article-footer
					%a.button{:href=>"/sponsors"} Make It Happen
			%article
				%img{:src => "/images/volunteers.jpg"}
				.article-content
					%h3 Workshops
					%p Workshops provide an extra day of in-depth, hands on learning to extend your conference experience. Find the right workshop for you. 
				.article-footer
					%a.button{:href=>"/program#workshops"} Get Skills
			%article
				%img{:src => "/images/excursions.jpg"}
				.article-content
					%h3 Excursions
					%p Grand Rapids exemplifies the Midwest's deep design heritage. From top breweries to a Frank Lloyd Wright home and beyond, immerse yourself.
				.article-footer
					%a.button{:href=>"/program#excursions"} Learn in Context
		%section.speaker-announcement.cf
			%h5.section-header Our Keynote Speakers
			%article
				%img{:src =>"/images/Abby_Covert.jpg"}
				.article-content
					%h3 Abby Covert
					%p Abby Covert is an independent information architect working and living in New York City. For her work as Director of Strategic Planning & User Experience at DraftFCB, Abby was listed by the Direct Marketing Associations 30 Under 30 in 2011. She is also an active mentor to the design community, is a highly regarded speaker, and writes her popular blog under the pseudonym  Abby the IA.
				.article-footer
					%a.button{:href=>"http://abbytheia.wordpress.com/about/"} About Abby
			%article
				%img{:src =>"/images/Karl_Fast.jpg"}
				.article-content
					%h3 Karl Fast
					%p Karl Fast is a professor of UX Design at Kent State University. His work explores how people adapt to live in a world where information and computation are abundant resources. He teaches information architecture, information visualization, and human-information interaction. He is a founding member of the Information Architecture Institute. He's also Canadian.
				.article-footer
					%a.button{:href=>"http://about.me/karlfast"} About Karl
			%article
				%img{:src =>"/images/Christina_Wodtke.jpg"}
				.article-content
					%h3 Christina Wodtke
					%p Christina Wodtke has an impressive history of making things happen. Most recently she led the creation of a social network/gaming platform as a General Manager of Zynga.com. Before Zynga, she held senior positions at Myspace, LinkedIn and Yahoo!, back when Yahoo! was pretty neat. Currently she lives the slow life: advising start-ups, teaching, and speaking at conferences worldwide.
				.article-footer
					%a.button{:href=>"http://www.eleganthack.com/"} About Christina
		/ .sponsors-listing.cf
		/ 	%h5.section-header Platinum Sponsors
		/ 	%ul.platinum
		/ 		%li
		/ 			%a.atomic-object{:href=>"http://atomicobject.com"} Atomic Object
		/ 		%li
		/ 			%a.mutuallyhuman{:href=>"http://mutuallyhuman.com"} Mutually Human
		/ 		%li
		/ 			%a.universal-mind{:href=>"http://universalmind.com"} Universal Mind
		/ 		%li
		/ 			%a.visual-hero{:href=>"http://visualhero.com"} Visual Hero
		/ %section.news.cf
		/ 	%h5.section-header Latest Conference News
		/ 	%article
		/ 		%img{:src => "/images/news/fireworks.jpg"}
		/ 		.article-content
		/ 			%h4 Yeah, We’ve Got Fireworks.
		/ 			%p Do you see any Teletubbies in here? Do you see a slender plastic tag clipped tomy 	shirt with my name printed on it?
		/ 			.entry-details
		/ 				%span 
		/ 					%em by <a href="">Michael Nÿkamp</a> on March 16
		
		/ 	%article
		/ 		%img{:src => "/images/news/awesome-peeps.jpg"}
		/ 		.article-content
		/ 			%h4 Awesome Columbus Peeps Are Coming.
		/ 			%p The lysine contingency - it's intended to prevent the spread of the animals is case they ever got off the island.
		/ 			.entry-details
		/ 				%span 
		/ 					%em by <a href="">Samuel Bowles</a> on March 14
		
		/ 	%article
		/ 		%img{:src => "/images/news/nightlife.jpg"}
		/ 		.article-content
		/ 			%h4 The Nightlife is Crazy!
		/ 			%p Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! 
		/ 			.entry-details
		/ 				%span 
		/ 					%em by <a href="">Grand Carmichael</a> on March 11
		
		/ 	%article
		/ 		%img{:src => "/images/news/alancooper.jpg"}
		/ 		.article-content
		/ 			%h4 We Sure Did Bag Mr. Alan Cooper!
		/ 			%p Some pilots get picked and become television programs. Some don't, become nothin. 	She starred in one of the ones that became nothing.
		/ 			.entry-details
		/ 				%span 
		/ 					%em by <a href="">Laurel Stanley</a> on March 09
	