.container.speakers.interior
	.masthead.cf
		.event-info.cf
			%h1 Our Theme: Place
	.main.content.cf
		.theme-intro.cf
			%h1 The UX of Place
			%p.metadata By <a href="https://twitter.com/lmstanley" class="name">Laurel Stanley</a> on May 6, 2013
			%p Speakers, as you consider your talk for MidwestUX, I’d ask that you reflect on this year’s theme, Place. I am curious as to how you define place, place-making and the broader sense of creating meaning in your community and in your work. If you are looking for a bit more of a concrete example, let me tell you about how we approach the theme in the creation of this year’s event experience.
			%p Speakers, as you consider your talk for MidwestUX, I’d ask that you reflect on this year’s theme, Place. I am curious as to how you define place, place-making and the broader sense of creating meaning in your community and in your work. If you are looking for a bit more of a concrete example, let me tell you about how we approach the theme in the creation of this year’s event experience.
			%p To create a holistic event experience, we are using three main principles that encompass various aspects of the theme, as well as reflect what we do as professionals:
			%ul
				%li Consider context
				%li Leverage creative collaboration
				%li Build human experiences
			%h3 Consider Context
			%p As designers, makers, creators we are all aware how the most minute detail needs to be reviewed in the broader context of the whole. We are constantly zooming in and zooming out to ensure that we have the right perspective. There is no difference in the approach to creating good event experiences. Whether we’re zooming in on the visual design, interactive design, venues, topics, or zooming out on the attendee, speaker, sponsor experiences, we carefully consider and review each decision and action from every angle. We understanding how evaluating the context of one detail solidifies its place in the bigger picture.
			%h3 Leverage Creative Collaboration
			%p This event takes the participation of the entire community, indeed an entire region, to volunteer their time and talents to build on the platform of providing an affordable and impactful user experience conference. Besides an amazing set of volunteers, we also have engaged two outstanding local venues. The UICA (Urban Institute of Contemporary Arts), located downtown Grand Rapids will host our keynotes. Kendall College of Art and Design is actively collaborating with us as an Educational Partner and will be the home of our workshops and breakout sessions. True collaboration takes advantage of the idea that we are stronger when we work together. By working together, we are building a better place for us all to thrive professionally and personally.
			%h3 Build Human Experiences
			%p This is a topic that motivates many of us to pursue the work that we do. Having empathy for the human condition is at the heart of many of the stories that we tell. Crafting powerful experience is, is in fact taking into consideration the human element every step of the way. We are doing the same as we create the event experience. We are looking to highlight stories, people and organizations who approach the world as we do. Who are creating a sense of meaning in their work, to support a stronger sense of place in their community.
			%p My hope in sharing these three principles, considering context, leveraging creative collaboration and building human experiences will inspire you to consider how you are creating place. I look forward to hearing your stories.
			.author.cf
				%img{:src =>"/images/laurel.jpg" }
				%h2.name - Laurel
		.callouts.cf
			%h2 Session and Workshop Submission
			%article
				.article-content
					.information
						%h3 Session Speaker
						%h5 Requirements
						%p 45 minute session comprised of a presentation centered around the theme of Place. Q&A periods are optional, but interaction with the audience is encouraged.
						%h5 Compensation
						%p Accepted session speakers will receive a full pass to the conference and 	discounted access to MWUX workshops.
						%h5 Due Date
						%p Submissions will be accepted until May 31.
					%a.button{:href=>"/sessions"} Submit Speaker Application
			%article
				.article-content
					.information
						%h3 Workshop Practitioner
						%h5 Requirements
						%p Half or full day collaborative learning experiences centered around the theme of Place. We expect workshops, but are open to suggestion on other educational frameworks	.
						%h5 Benefits
						%p Accepted workshop practitioners will receive a full pass to the conference.
						%h5 Due Date
						%p Submissions will be accepted until May 31.
					%a.button{:href=>"/workshops"} Submit Practitioner Application
