.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Program
	.main.content.cf
		.intro.cf
			%p The Midwest UX team is thrilled with the number and quality of submissions we received. Proposals arrived from as far away as Seattle and South Africa, on topics as varied as you can imagine. So you know what the selection committee is up against, here are the numbers…
		%section.schedule.cf
			%article.thursday.cf
				%h3 Thursday
				%a.button.active-event Workshops
				%div#workshops.program-info
					%h5 About The Workshops
					%p Whatever hoodie aesthetic, salvia pickled butcher bitters art party biodiesel. Tousled gastropub McSweeney's, Wes Anderson cred banh mi mustache gentrify Odd Future tumblr pug cliche fingerstache food truck. 
					%p Ethical shabby chic blog keytar tattooed. Viral literally flexitarian vegan vinyl. Lo-fi fanny pack Odd Future, letterpress Vice gastropub pickled irony retro. Mumblecore fap Truffaut gluten-free pork belly, meggings stumptown small batch lo-fi tote bag disrupt meh bespoke vinyl. Kitsch 8-bit tattooed, skateboard hoodie tousled occupy keytar wayfarers 90's.
					%a.button{:href=>"http://eventbrite.com"} Register Now
				%a.button.active-event Party
				%div#thursday-party.program-info.hidden
					%h5 About The Party
					%p Whatever hoodie aesthetic, salvia pickled butcher bitters art party biodiesel. Tousled gastropub McSweeney's, Wes Anderson cred banh mi mustache gentrify Odd Future tumblr pug cliche fingerstache food truck. 
					%p Ethical shabby chic blog keytar tattooed. Viral literally flexitarian vegan vinyl. Lo-fi fanny pack Odd Future, letterpress Vice gastropub pickled irony retro. Mumblecore fap Truffaut gluten-free pork belly, meggings stumptown small batch lo-fi tote bag disrupt meh bespoke vinyl. Kitsch 8-bit tattooed, skateboard hoodie tousled occupy keytar wayfarers 90's.
				//%a.button.inactive Registration
				//%a.button.active-event Morning Workshops
				//%a.button.inactive Break
				//%a.button.inactive Lunch
				//%a.button.active-event Afternoon Workshops
				//%a.button.inactive Break
				//%a.button.active-event Party

			%article.friday.cf
				%h3 Friday
				%a.button.active-event Keynotes
				%div#friday-keynotes.program-info.hidden
					%h5 About The Keynotes
					%p Whatever hoodie aesthetic, salvia pickled butcher bitters art party biodiesel. Tousled gastropub McSweeney's, Wes Anderson cred banh mi mustache gentrify Odd Future tumblr pug cliche fingerstache food truck. 
					%p Ethical shabby chic blog keytar tattooed. Viral literally flexitarian vegan vinyl. Lo-fi fanny pack Odd Future, letterpress Vice gastropub pickled irony retro. Mumblecore fap Truffaut gluten-free pork belly, meggings stumptown small batch lo-fi tote bag disrupt meh bespoke vinyl. Kitsch 8-bit tattooed, skateboard hoodie tousled occupy keytar wayfarers 90's.
					%a.button{:href=>"http://eventbrite.com"} Register Now
				%a.button.active-event Sessions
				%div#friday-sessions.program-info.hidden
					%h5 About The Sessions
					%p Whatever hoodie aesthetic, salvia pickled butcher bitters art party biodiesel. Tousled gastropub McSweeney's, Wes Anderson cred banh mi mustache gentrify Odd Future tumblr pug cliche fingerstache food truck. 
					%p Ethical shabby chic blog keytar tattooed. Viral literally flexitarian vegan vinyl. Lo-fi fanny pack Odd Future, letterpress Vice gastropub pickled irony retro. Mumblecore fap Truffaut gluten-free pork belly, meggings stumptown small batch lo-fi tote bag disrupt meh bespoke vinyl. Kitsch 8-bit tattooed, skateboard hoodie tousled occupy keytar wayfarers 90's.
					%a.button{:href=>"http://eventbrite.com"} Register Now
				%a.button.active-event Excursions
				%div#excursions.program-info.hidden
					%h5 About The Excursions
					%p Whatever hoodie aesthetic, salvia pickled butcher bitters art party biodiesel. Tousled gastropub McSweeney's, Wes Anderson cred banh mi mustache gentrify Odd Future tumblr pug cliche fingerstache food truck. 
					%p Ethical shabby chic blog keytar tattooed. Viral literally flexitarian vegan vinyl. Lo-fi fanny pack Odd Future, letterpress Vice gastropub pickled irony retro. Mumblecore fap Truffaut gluten-free pork belly, meggings stumptown small batch lo-fi tote bag disrupt meh bespoke vinyl. Kitsch 8-bit tattooed, skateboard hoodie tousled occupy keytar wayfarers 90's.
				%a.button.active-event Party
				%div#friday-party.program-info.hidden
					%h5 About The Party
					%p Whatever hoodie aesthetic, salvia pickled butcher bitters art party biodiesel. Tousled gastropub McSweeney's, Wes Anderson cred banh mi mustache gentrify Odd Future tumblr pug cliche fingerstache food truck. 
					%p Ethical shabby chic blog keytar tattooed. Viral literally flexitarian vegan vinyl. Lo-fi fanny pack Odd Future, letterpress Vice gastropub pickled irony retro. Mumblecore fap Truffaut gluten-free pork belly, meggings stumptown small batch lo-fi tote bag disrupt meh bespoke vinyl. Kitsch 8-bit tattooed, skateboard hoodie tousled occupy keytar wayfarers 90's.
				//%a.button.inactive Registration
				//%a.button.active-event Keynote
				//%a.button.inactive Break
				//%a.button.active-event Sessions
				//%a.button.inactive Break
				//%a.button.active-event Session
				//%a.button.active-event Keynote
				//%a.button.inactive Lunch
				//%a.button.active-event Excursions
				//%a.button.active-event Party

			%article.saturday.cf
				%h3 Saturday
				%a.button.active-event Keynotes
				%div#saturday-keynotes.program-info.hidden
					%h5 About The Keynotes
					%p Whatever hoodie aesthetic, salvia pickled butcher bitters art party biodiesel. Tousled gastropub McSweeney's, Wes Anderson cred banh mi mustache gentrify Odd Future tumblr pug cliche fingerstache food truck. 
					%p Ethical shabby chic blog keytar tattooed. Viral literally flexitarian vegan vinyl. Lo-fi fanny pack Odd Future, letterpress Vice gastropub pickled irony retro. Mumblecore fap Truffaut gluten-free pork belly, meggings stumptown small batch lo-fi tote bag disrupt meh bespoke vinyl. Kitsch 8-bit tattooed, skateboard hoodie tousled occupy keytar wayfarers 90's.
					%a.button{:href=>"http://eventbrite.com"} Register Now
				%a.button.active-event Sessions
				%div#saturday-sessions.program-info.hidden
					%h5 About The Sessions
					%p Whatever hoodie aesthetic, salvia pickled butcher bitters art party biodiesel. Tousled gastropub McSweeney's, Wes Anderson cred banh mi mustache gentrify Odd Future tumblr pug cliche fingerstache food truck. 
					%p Ethical shabby chic blog keytar tattooed. Viral literally flexitarian vegan vinyl. Lo-fi fanny pack Odd Future, letterpress Vice gastropub pickled irony retro. Mumblecore fap Truffaut gluten-free pork belly, meggings stumptown small batch lo-fi tote bag disrupt meh bespoke vinyl. Kitsch 8-bit tattooed, skateboard hoodie tousled occupy keytar wayfarers 90's.
					%a.button{:href=>"http://eventbrite.com"} Register Now
				%a.button.active-event Pecha Kucha
				%div#pechakucha.program-info.hidden
					%h5 About Pecha Kucha
					%p Whatever hoodie aesthetic, salvia pickled butcher bitters art party biodiesel. Tousled gastropub McSweeney's, Wes Anderson cred banh mi mustache gentrify Odd Future tumblr pug cliche fingerstache food truck. 
					%p Ethical shabby chic blog keytar tattooed. Viral literally flexitarian vegan vinyl. Lo-fi fanny pack Odd Future, letterpress Vice gastropub pickled irony retro. Mumblecore fap Truffaut gluten-free pork belly, meggings stumptown small batch lo-fi tote bag disrupt meh bespoke vinyl. Kitsch 8-bit tattooed, skateboard hoodie tousled occupy keytar wayfarers 90's.
					%a.button{:href=>"http://eventbrite.com"} Sign Up!
				//%a.button.active-event Keynote
				//%a.button.inactive Break
				//%a.button.active-event Sessions
				//%a.button.inactive Break
				//%a.button.active-event Sessions
				//%a.button.active-event Lunch - Pecha Kucha
				//%a.button.active-event Sessions
				//%a.button.inactive Break
				//%a.button.active-event Sessions
				//%a.button.inactive Break
				//%a.button.active-event Keynote
				%a.button.inactive Bye :(
