.container.program.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Program
	.main.content.cf
		.intro.cf
			%p The Midwest UX team is thrilled with the number and quality of submissions we received. Proposals arrived from as far away as Seattle and South Africa, on topics as varied as you can imagine. So you know what the selection committee is up against, here are the numbers…
		%section.speaker-announcement.cf
			%h5.section-header Our Keynote Speakers
			%article
				%img{:src =>"/images/Abby_Covert.jpg"}
				.article-content
					%h3 Abby Covert
					%p Abby Covert is an independent information architect working and living in New York City. For her work as Director of Strategic Planning & User Experience at DraftFCB, Abby was listed by the Direct Marketing Associations 30 Under 30 in 2011. She is also an active mentor to the design community, is a highly regarded speaker, and writes her popular blog under the pseudonym  Abby the IA.
				.article-footer
					%a.button{:href=>"/speakers"} About Abby
			%article
				%img{:src =>"/images/Karl_Fast.jpg"}
				.article-content
					%h3 Karl Fast
					%p Karl Fast is a professor of UX Design at Kent State University. His work explores how people adapt to live in a world where information and computation are abundant resources. He teaches information architecture, information visualization, and human-information interaction. He is a founding member of the Information Architecture Institute. He's also Canadian.
				.article-footer
					%a.button{:href=>"/speakers"} About Karl
			%article
				%img{:src =>"/images/Christina_Wodtke.jpg"}
				.article-content
					%h3 Christina Wodtke
					%p Christina Wodtke has an impressive history of making things happen. Most recently she led the creation of a social network/gaming platform as a General Manager of Zynga.com. Before Zynga, she held senior positions at Myspace, LinkedIn and Yahoo!, back when Yahoo! was pretty neat. Currently she lives the slow life: advising start-ups, teaching, and speaking at conferences worldwide.
				.article-footer
					%a.button{:href=>"/speakers"} About Christina		
		%section.workshops.cf
			%h5.section-header Thursday - Workshops
		%section.excursions.cf
			%h5.section-header Friday - Excursions
		%section.sessions.cf
			%h5.section-header Friday/Saturday - Sessions

