.container.program.interior
	.masthead.cf
		.event-info.cf
			%h1 Program
	.main.content.cf
		.intro.cf
			%p The Midwest UX team is thrilled with the number and quality of submissions we received. Proposals arrived from as far away as Seattle and South Africa, on topics as varied as you can imagine. So you know what the selection committee is up against, here are the numbers…
		%section.schedule.cf
			%article.thursday.cf
				%h3 Thursday
				%a.button.inactive{:href=>"event"} Registration
				%a.button.active-event{:href=>"event"} Morning Workshops
				%a.button.inactive{:href=>"event"} Break
				%a.button.inactive{:href=>"event"} Lunch
				%a.button.active-event{:href=>"event"} Afternoon Workshops
				%a.button.inactive{:href=>"event"} Break
				%a.button.active-event{:href=>"event"} Party

			%article.friday.cf
				%h3 Friday
				%a.button.inactive{:href=>"event"} Registration
				%a.button.active-event{:href=>"event"} Keynote
				%a.button.inactive{:href=>"event"} Break
				%a.button.active-event{:href=>"event"} Sessions
				%a.button.inactive{:href=>"event"} Break
				%a.button.active-event{:href=>"event"} Session
				%a.button.active-event{:href=>"event"} Keynote
				%a.button.inactive{:href=>"event"} Lunch
				%a.button.active-event{:href=>"event"} Excursions
				%a.button.active-event{:href=>"event"} Party

			%article.saturday.cf
				%h3 Saturday
				%a.button.active-event{:href=>"event"} Keynote
				%a.button.inactive{:href=>"event"} Break
				%a.button.active-event{:href=>"event"} Sessions
				%a.button.inactive{:href=>"event"} Break
				%a.button.active-event{:href=>"event"} Sessions
				%a.button.active-event{:href=>"event"} Lunch - Pecha Kucha
				%a.button.active-event{:href=>"event"} Sessions
				%a.button.inactive{:href=>"event"} Break
				%a.button.active-event{:href=>"event"} Sessions
				%a.button.inactive{:href=>"event"} Break
				%a.button.active-event{:href=>"event"} Keynote
				%a.button.inactive{:href=>"event"} Bye :(
