.container.speakers.interior
	.masthead.cf
		.event-info.cf
			%h1 Our Theme: Place
	.main.content.cf
		.theme-intro.cf
			%h1 Baking in A Theme
			%p.metadata By <a href="http://samuel.bowles.es" class="name">Samuel Bowles</a> on May 6, 2013
			%p I’ve always enjoyed the opportunity to be involved in one way or another with design-related events, from TEDx to SiTE:LAB to Interactions to Midwest UX. I find that these designed experiences to me become places flowing with ideas, conversations, sometimes frustration but always energy. What is it about these events that make our minds drift back to them again and again?	
			%p I’ve always enjoyed the opportunity to be involved in one way or another with design-related events, from TEDx to SiTE:LAB to Interactions to Midwest UX. I find that these designed experiences to me become places flowing with ideas, conversations, sometimes frustration but always energy. What is it about these events that make our minds drift back to them again and again? 
			%p I’ve always enjoyed the opportunity to be involved in one way or another with design-related events, from TEDx to SiTE:LAB to Interactions to Midwest UX. I find that these designed experiences to me become places flowing with ideas, conversations, sometimes frustration but always energy. What is it about these events that make our minds drift back to them again and again?
			.author.cf
				%img{:src =>"/images/samuel.jpg" }
				%h2.name - Samuel
		.callouts.cf
			%h2 Session and Workshop Submission
			%article
				.article-content
					.information
						%h3 Session Speaker
						%h5 Requirements
						%p 45 minute session comprised of a presentation centered around the theme of Place. Q&A periods are optional, but interaction with the audience is encouraged.
						%h5 Compensation
						%p Accepted session speakers will receive a full pass to the conference and 	discounted access to MWUX workshops.
						%h5 Due Date
						%p Submissions will be accepted until May 31.
					%a.button{:href=>"/sessions"} Submit Speaker Application
			%article
				.article-content
					.information
						%h3 Workshop Practitioner
						%h5 Requirements
						%p Half or full day collaborative learning experiences centered around the theme of Place. We expect workshops, but are open to suggestion on other educational frameworks	.
						%h5 Benefits
						%p Accepted workshop practitioners will receive a full pass to the conference.
						%h5 Due Date
						%p Submissions will be accepted until May 31.
					%a.button{:href=>"/workshops"} Submit Practitioner Application
