.container.speakers.interior
	.masthead.cf
		.event-info.cf
			%h1 Our Theme: Place
	.main.content.cf
		.theme-intro.cf
			%h1 Our Place
			%p.metadata By <a href="http://samuel.bowles.es" class="name">Samuel Bowles</a> on May 6, 2013
			%p As we considered this year’s conference we thought a lot about what it means to design a conference that is from and for the Midwest. A conference that reflects who we are here, in this place. A conference that asks what it means to be from here and how that influences the things we create.	
			%p Place is something we all share. As communities we draw boundaries and define places. We adopt identities and share values. We share climate, geography, and the built environment. These places we live in become both communal and deeply personal. The dimensions of place not only inform us, they form us. 
			%p As an example, in 2001 I was married to a beautiful woman from Wisconsin. Both of us being from the Midwest we had a lot in common but we also had a lot to learn about one another and where we came from. She grew up in a rural suburb, I grew up in the city. She grew up in a conservative, business-owning family, I came from a family of artists.
			%p Marriage resulted in a sort of tectonic shift; a collision of geography, culture and even the architecture that had formed us from childhood. We found ourselves drawing on the places we had come from to create a new place. A place that was ours.
			%p As a designer, understanding the place I come from and my relationship to it reveals my bias and my resources. The things I create will be informed by and created from the raw material of my experiences. As we design we draw boundaries and we create new places. Places that will, in turn, influence others.
			%p In 2003, my wife and I moved from the Midwest of the United States to the deep south of Europe to explore a new culture and our own. We learned from the contrast what being from the Midwest meant to us. We began to draw our own boundaries and define our family’s sense of place. We filed two Consular Reports of Birth Abroad and when we returned to the Midwest seven years later, we brought two children whose identities are being formed by the places they’ve inhabited in ways we can’t fully understand.
			%p As we invite you to join us this fall in Grand Rapids we hope that you will consider bringing a bit of the place you’re from. We all know that context matters, that meaning is born from the boundaries we carve, and that the experiences we create begin with understanding these things. We would love to hear your stories of what place (in all it’s forms) has meant to you and your craft wherever you are.
			.author.cf
				%img{:src =>"/images/samuel.jpg" }
				%h2.name - Samuel
				<a href="http://twitter.com/shmuel">@shmuel</a>

		.callouts.cf
			%h2 Session and Workshop Submission
			%article
				.article-content
					.information
						%h3 Session Speaker
						%h5 Requirements
						%p 45 minute session comprised of a presentation centered around the theme of Place. Q&A periods are optional, but interaction with the audience is encouraged.
						%h5 Compensation
						%p Accepted session speakers will receive a full pass to the conference and 	discounted access to MWUX workshops.
						%h5 Due Date
						%p Submissions are closed. We will be in touch with speakers in the next few weeks.
				.article-footer
					%span.button.inactive{:href=>"/sessions"} Speaker Application Is Closed
			%article
				.article-content
					.information
						%h3 Workshop Practitioner
						%h5 Requirements
						%p Half or full day collaborative learning experiences centered around the theme of Place. We expect workshops, but are open to suggestion on other educational frameworks	.
						%h5 Benefits
						%p Accepted workshop practitioners will receive a full pass to the conference.
						%h5 Due Date
						%p Submissions are closed. We will be in touch with workshop practitioners in the next few weeks.
				.article-footer
					%span.button.inactive{:href=>"/workshops"} Practitioner Application is Closed
