.container.schedule.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Schedule
	.main.content.cf
		.intro.cf
			%p MWUX runs from 8am to 5:30pm, Thursday through Saturday. There is also an after-hours party to which all are welcome. Your guess is as good as ours as to when that will end. ;-) Please plan your travel accordingly.
		.sections
			%a.button{:href=>"#thursday"} Thursday
			%a.button{:href=>"#friday"} Friday
			%a.button{:href=>"#saturday"} Saturday
		%section.cf.day#thursday
			%h5.section-header Thursday (Workshops)
			%h6 <a href="https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1">At Kendall College of Art & Design</a>
			.event-slot
				%time 8:00am 
				%article
					.article-content
						%h4 Check In Begins
						%h6
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
			.event-slot
				%time 9:00am - 12:00pm
				%article
					.article-content
						%h4 
							%a{:href=>"/workshops/matt_nish-lapidus"} Design Practice in a Place of Design Tradition
						%p.byline Matt Nish-Lapidus
					.article-footer
						
				%article
					.article-content
						%h4 
							%a{:href=>"/workshops/mj_broadbent"} Drawing What you Mean – In Real Time
						%p.byline MJ Broadbent
					.article-footer
						
				%article
					.article-content
						%h4 
							%a{:href=>"/workshops/kelly_downing"} UX Research and Strategy for Urban Spaces
						%p.byline Kelly Downing, Leslie Marticke
					.article-footer
						
				%article
					.article-content
						%h4 
							%a{:href=>"/workshops/david_bulkowski"} Civic Engagement meets Sketch-Mapping
						%p.byline David Bulkowski, Marylu Dykstra, Aric Coleman
					.article-footer
						
			.event-slot
				%time 12:00 - 2:00pm
				%article
					.article-content
						%h4 Lunch
						%p 
			.event-slot
				%time 2:00pm - 5:00pm
				%article
					.article-content
						%h4 
							%a{:href=>"/workshops/thomas_wendt"} Design Studio for Context Aware Products
						%p.byline Thomas Wendt
					.article-footer
						
				%article
					.article-content
						%h4
							%a{:href=>"/workshops/andrew_hinton_and_daniel_eizans"} Making Places with Information (IA + Strategy)
						%p.byline Andrew Hinton, Daniel Eizans
					.article-footer
				
				%article
					.article-content
						%h4 
							%a{:href=>"/workshops/scott_sullivan_and_erik_dahl"} Introduction to Arduino and the Internet of Things
						%p.byline Scott Sullivan, Erik Dahl
					.article-footer
						

		
		%section.cf.day#friday
			%h5.section-header Friday (Conference & Excursions)
			%h6 At various locations
			.event-slot
				%time 8:00am
				%article
					.article-content
						%h4 Check In Begins
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=Urban+Institute+for+Contemporary+Art%2C+Grand+Rapids%2C+MI&data=!4m10!1m9!4m8!1m3!1d4558!2d-85.668948!3d42.9663678!3m2!1i1014!2i1199!4f13.1"} UICA
					.article-footer	
						
			.event-slot
				%time 8:45am - 9:00am
				%article
					.article-content
						%h4 Introductions & Announcements
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=Urban+Institute+for+Contemporary+Art%2C+Grand+Rapids%2C+MI&data=!4m10!1m9!4m8!1m3!1d4558!2d-85.668948!3d42.9663678!3m2!1i1014!2i1199!4f13.1"} UICA
					.article-footer	
						
			.event-slot
				%time 9:00am - 10:00am
				%article
					.article-content
						%h4 
							%a{:href=>"/keynotes/abby_covert"} Morning Keynote
						%p.byline Abby Covert
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=Urban+Institute+for+Contemporary+Art%2C+Grand+Rapids%2C+MI&data=!4m10!1m9!4m8!1m3!1d4558!2d-85.668948!3d42.9663678!3m2!1i1014!2i1199!4f13.1"} UICA
					.article-footer
						
			.event-slot
				%time 10:00am - 10:30am
				%article
					.article-content
						%h4 Walk to Kendall
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
			.event-slot
				%time 10:30am - 11:15am
				%article
					.article-content
						%h4 
							%a{:href=>"/sessions/edward_stojakovic_and_fran_diamond"} It's Not You, It's Your Anti-Pattern
						%p.byline Edward Stojakovic, Fran Diamond
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
				%article
					.article-content
						%h4 
							%a{:href=>"/sessions/kathi_kaiser"} Boats, Trains & Shopping Malls: Testing the Usability of Products in their Natural Habitat
						%p.byline Kathi Kaiser
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
				%article
					.article-content
						%h4 
							%a{:href=>"/sessions/charles_erdman"} Dude, Who Stole My Community?
						%p.byline Charles Erdman
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
			.event-slot
				%time 11:15am - 11:30am
				%article
					.article-content
						%h4 Break
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
			.event-slot
				%time 11:30am - 12:30pm
				%article
					.article-content
						%h4 
							%a{:href=>"/sessions/kyle_murphy"} Everyone is a Designer, Whether You Like it or Not
						%p.byline Kyle Murphy
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
				%article
					.article-content
						%h4 
							%a{:href=>"/sessions/andrew_hinton"} Hey, You Got Your Map In My Territory!: The Role of Language in Placemaking
						%p.byline Andrew Hinton
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
				%article
					.article-content
						%h4 
							%a{:href=>"/sessions/megan_schwarz"} After Orientation: Making Room for a Novice UX Designer
						%p.byline Megan Schwarz
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
			.event-slot
				%time 12:30pm - 2:00pm
				%article
					.article-content
						%h4 
							%a{:href=>"/excursions/"} Excursion Lunch
						%h6 
							Various Locations
					.article-footer
						
			.event-slot
				%time 2:00pm - 5:00pm
				%article
					.article-content
						%h4 
							%a{:href=>"/excursions/"}Excursions
						%h6 
							Various Locations
					.article-footer
						
			.event-slot
				%time 5:00pm - 6:00pm
				%article
					.article-content
						%h4 
							%a{:href=>"/keynotes/christina_wodtke"} Evening Keynote
						%p.byline Christina Wodtke
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=Urban+Institute+for+Contemporary+Art%2C+Grand+Rapids%2C+MI&data=!4m10!1m9!4m8!1m3!1d4558!2d-85.668948!3d42.9663678!3m2!1i1014!2i1199!4f13.1"} UICA
					.article-footer
						
			.event-slot
				%time 6:00pm - 6:15pm
				%article
					.article-content
						%h4 Closing Remarks
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=Urban+Institute+for+Contemporary+Art%2C+Grand+Rapids%2C+MI&data=!4m10!1m9!4m8!1m3!1d4558!2d-85.668948!3d42.9663678!3m2!1i1014!2i1199!4f13.1"} UICA
					.article-footer
						
			.event-slot
				%time 6:30pm - 11:00pm
				%article
					.article-content
						%h4 Midwest UX Gala by SiTE:LAB
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=52+Jefferson+Avenue+Southeast%2C+Grand+Rapids%2C+MI&data=!4m10!1m9!4m8!1m3!1d4558!2d-85.6641864!3d42.9616925!3m2!1i1014!2i1199!4f13.1"} SiTE:LAB
					.article-footer
						

		%section.cf.day#saturday
			%h5.section-header Saturday (Conference)
			%h6 At various locations
			.event-slot
				%time 8:45am - 9:00am
				%article
					.article-content
						%h4 Morning Announcements
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=Urban+Institute+for+Contemporary+Art%2C+Grand+Rapids%2C+MI&data=!4m10!1m9!4m8!1m3!1d4558!2d-85.668948!3d42.9663678!3m2!1i1014!2i1199!4f13.1"} UICA
					.article-footer	
						
			.event-slot
				%time 9:00am - 10:00am
				%article
					.article-content
						%h4 Panel by Design West Michigan
						%p.byline Christina Wodtke - Moderator
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=Urban+Institute+for+Contemporary+Art%2C+Grand+Rapids%2C+MI&data=!4m10!1m9!4m8!1m3!1d4558!2d-85.668948!3d42.9663678!3m2!1i1014!2i1199!4f13.1"} UICA
					.article-footer
						
			.event-slot
				%time 10:00am - 10:30am
				%article
					.article-content
						%h4 Walk to Kendall
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
			.event-slot
				%time 10:30am - 11:15pm
				%article
					.article-content
						%h4 
							%a{:href=>"/sessions/christian_eckels"} Narrative Spaces
						%p.byline Christian Eckels
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
				%article
					.article-content
						%h4 
							%a{:href=>"/sessions/kaleem_khan"} The Essence of Experience
						%p.byline Kaleem Khan
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
				%article
					.article-content
						%h4 
							%a{:href=>"/sessions/matt_nish-lapidus"} The Programmable World
						%p.byline Matt Nish-Lapidus
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
			.event-slot
				%time 11:15am - 11:30am
				%article
					.article-content
						%h4 Break
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
			.event-slot
				%time 11:30am - 12:15pm
				%article
					.article-content
						%h4 
							%a{:href=>"/sessions/jason_alderman"} Field Manual: UX Lessons From The Military Profession
						%p.byline Jason Alderman
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
				%article
					.article-content
						%h4 
							%a{:href=>"/sessions/erik_dahl"} Defining our Place in Emerging Technologies
						%p.byline Erik Dahl
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
				%article
					.article-content
						%h4 
							%a{:href=>"/sessions/donna_lichaw"} Resistance is Futile: Google Glass and the AR Cyborg Workforce of the Future
						%p.byline Donna Lichaw
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
			.event-slot
				%time 12:15pm - 12:30pm
				%article
					.article-content
						%h4 Walk to Kendall Atrium
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=Kendall+College+of+Art+and+Design+17+Fountain+Street+NW++Grand+Rapids%2C+MI+49503-3002+&data=!4m10!1m9!4m8!1m3!1d4558!2d-85.6689294!3d42.9654722!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design - Atrium
					.article-footer
						
			.event-slot
				%time 12:30pm - 2:00pm
				%article
					.article-content
						%h4 Lunch - Pecha Kucha
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=Kendall+College+of+Art+and+Design+17+Fountain+Street+NW++Grand+Rapids%2C+MI+49503-3002+&data=!4m10!1m9!4m8!1m3!1d4558!2d-85.6689294!3d42.9654722!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design - Atrium
					.article-footer
						
			.event-slot
				%time 2:00pm - 2:45pm
				%article
					.article-content
						%h4 
							%a{:href=>"/sessions/seth_starner"} Turn About is Fair Play: How We Employed UX to Transform Our Workplaces and Rethink Our Business 
						%p.byline Seth Starner
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
				%article
					.article-content
						%h4 
							%a{:href=>"/sessions/philip_hunter"} The Place You’re In Is More Than The Place You’re At
						%p.byline Phillip Hunter
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
				%article
					.article-content
						%h4 
							%a{:href=>"/sessions/sonia_koesterer"} Social Smarts for Small Screens
						%p.byline Sonia Koesterer
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
			.event-slot
				%time 2:45pm - 3:00pm
				%article
					.article-content
						%h4 Break
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
			.event-slot
				%time 3:00pm - 3:45pm
				%article
					.article-content
						%h4 
							%a{:href=>"/sessions/kerry_anne_gilowey"} Distant Land, Different Life
						%p.byline Kerry-Anne Gilowey
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
				%article
					.article-content
						%h4 
							%a{:href=>"/sessions/simon_king"} Scratch Your Own Itch: Simple, Designer-driven Apps
						%p.byline Simon King
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
				%article
					.article-content
						%h4 
							%a{:href=>"/sessions/michael_mace"} The Four Mobile Traps: How To Avoid the Most Common Mistakes Plaguing The Mobile Space
						%p.byline Michael Mace
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1"} Kendall College of Art & Design
					.article-footer
						
			.event-slot
				%time 3:45pm - 4:15pm
				%article
					.article-content
						%h4 Walk to UICA
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=Urban+Institute+for+Contemporary+Art%2C+Grand+Rapids%2C+MI&data=!4m10!1m9!4m8!1m3!1d4558!2d-85.668948!3d42.9663678!3m2!1i1014!2i1199!4f13.1"} UICA
					.article-footer
						
			.event-slot
				%time 4:15pm - 5:15pm
				%article
					.article-content
						%h4 
							%a{:href=>"/keynotes/karl_fast"} Evening Keynote
						%p.byline Karl Fast
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=Urban+Institute+for+Contemporary+Art%2C+Grand+Rapids%2C+MI&data=!4m10!1m9!4m8!1m3!1d4558!2d-85.668948!3d42.9663678!3m2!1i1014!2i1199!4f13.1"} UICA
					.article-footer
						
			.event-slot
				%time 5:15pm - 5:30pm
				%article
					.article-content
						%h4 Closing Remarks
						%p.byline Conference Chairs
						%h6 
							%a{:href=>"https://www.google.com/maps/preview#!q=Urban+Institute+for+Contemporary+Art%2C+Grand+Rapids%2C+MI&data=!4m10!1m9!4m8!1m3!1d4558!2d-85.668948!3d42.9663678!3m2!1i1014!2i1199!4f13.1"} UICA
					.article-footer
						


