.container.speakers.interior
	.masthead.city.cf
		.event-info.cf
			%h1 MWUX Scholars
	.main.content
		.theme-intro.cf
			%p Midwest User Experience 2013, the leading interactive and user experience design conference in the Midwest is coming to Grand Rapids this October 17-19, and Kendall is playing host. 
			%p There is a scholarship with your name on it to attend as one of five MidWest UX Scholars, but you'll have to act fast. Applications are due September 13. 
			%p As MidWest UX Scholar you'll get:
			%ul
				%li Admission to the conference ($345 value)
				%li Special behind the scenes access to conference organizers … and some of the leading UX minds in West Michigan
				%li Opportunities to meet and mingle with the nationally renown speakers and guests
				%li Chance to make your mark by producing a post-conference memento to be shared with each attendee
				%li A spiffy new honor for your résumé and more …
			%p To apply, submit a 500-word essay on the theme of the conference: Place. Describe what "place" means to you and your design practice. Submit your essay by Friday, September 13 and we'll select finalists for a portfolio review. 
		.form
			<iframe src="https://docs.google.com/forms/d/1bFA5KrrqFU8fDx9FphGXuznbaF_lSOUPoeOXdR5ly2k/viewform?embedded=true" width="100%" height="1164" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

			
