.container.main.speakers.interior
	%h1 <span class="highlight">// </span>Call for Speakers
	%img.masthead{:src =>"/images/speakers.jpg"}
	.theme-intro.cf
		%h5 The Theme: Place
		%p We identify with the places in our lives because they have meaning to us personally and collectively. A place is more than a space, it is the very embodiment of our understanding of the world gained from our experiences within it. 
		%p From ourselves to our relationships; to our spaces and our culture; life takes place and that is the challenge to us all as designers, makers and builders.
		%p As you consider your submission, realize that one of the evaluating factors will be relevancy to the conference theme.
	.callouts.cf
		%article
			.article-content
				.information
					%h3 Session Speaker
					%h5 Requirements
					%p Now that there is the Tec-9, a crappy spray gun from South Miami. This gun isadvertised 	as the most popular gun in American crime. It actually says that in the little book that 	comes with it: the most popular gun in American crime.
					%h5 Benefits
					%p Now that there is the Tec-9, a crappy spray gun from South Miami. This gun isadvertised 	as the most popular gun in American crime. It actually says that in the little book that 	comes with it: the most popular gun in American crime.
					%h5 Due Date
					%p Some Date
				%a.button{:href=>"/speakers"} Submit Speaker Application
		%article
			.article-content
				.information
					%h3 Workshop Practitioner
					%h5 Requirements
					%p Now that there is the Tec-9, a crappy spray gun from South Miami. This gun isadvertised 	as the most popular gun in American crime. It actually says that in the little book that 	comes with it: the most popular gun in American crime.
					%h5 Benefits
					%p Now that there is the Tec-9, a crappy spray gun from South Miami. This gun isadvertised 	as the most popular gun in American crime. It actually says that in the little book that 	comes with it: the most popular gun in American crime.
					%h5 Due Date
					%p Some Date
				%a.button{:href=>"/speakers"} Submit Practitioner Application
