.container.speakers.interior
	.masthead.cf
		.event-info.cf
			%h1 Call for Speakers
		.callout.cf
			%h5 Thank You!
			%h4 After a record number of submissions the call for speakers is now closed.
	.main.content.cf
		.theme-intro.cf
			%p As you may know, West Michigan is a place that’s resplendent with autumn color in mid-October. However, did you also know that Grand Rapids is highly rated on national Top 10 lists for everything from Density of Designers per Capita to Best Beer Cities? But what’s even more exciting to us than showing off our city is curating a rich conversation about user experiences that support a sense of place.	
			%p We identify with the places in our lives because they have meaning to us personally and collectively. A place is often more than just a space: it can be the very embodiment of our understanding of the world gained from our experiences within it. From ourselves to our relationships to our spaces and our culture, <strong>life takes place</strong> and that is the challenge to us all as designers, makers and builders.
			%p We’d like you to consider making a submission to MidwestUX 2013 in response to this theme. We encourage all submitters to consider putting together a talk or workshop that’s about place. Even&mdash;or especially&mdash;if it’s a talk or workshop you’ve never given before.
		.explanation
			%h2 Thoughts on our Theme from the Conference Chairs
			%article
				.headshot#laurel 
					%img{:src =>"/images/laurel.jpg"}
				%h5 Laurel Stanley
				.article-content
					%h3 The UX of Place
					%p To create a holistic event experience, we are using three principles that encompass various aspects of the theme to reflect what we do as professionals: Consider Context, Leverage Creative Collaboration, Build Human Experiences.
				.article-footer	
					%a.button{:href=>"/laurel"} More From Laurel
			%article
				.headshot#grant
					%img{:src =>"/images/grant.jpg"}
				%h5 Grant Carmichael
				.article-content
					%h3 Baking in A Theme
					%p So with an edge of daring we resolve to solicit talks germinated from an idea we are all familiar with as designers empathetic to what is meaningful in people’s lives. Their Place. Their identity, relationships, community and spaces.
				.article-footer	
					%a.button{:href=>"/grant"} More From Grant
			%article
				.headshot#samuel
					%img{:src =>"/images/samuel.jpg"}
				%h5 Samuel Bowles
				.article-content
					%h3 Our Place
					%p We share climate, geography, and the built environment. These places we live in become both communal and deeply personal. The dimensions of place not only inform what we do, they form who we are.
				.article-footer	
					%a.button{:href=>"/samuel"} More From Samuel
		.callouts.cf
			%h2 Session and Workshop Submission
			%article
				.article-content
					.information
						%h3 Session Speaker
						%h5 Requirements
						%p 45 minute session comprised of a presentation centered around the theme of Place. Q&A periods are optional, but interaction with the audience is encouraged.
						%h5 Compensation
						%p Accepted session speakers will receive a full pass to the conference and 	discounted access to MWUX workshops.
						%h5 Due Date
						%p Submissions are closed. We will be in touch with speakers in the next few weeks.
				.article-footer
					%span.button.inactive{:href=>"/sessions"} Speaker Application Is Closed
			%article
				.article-content
					.information
						%h3 Workshop Practitioner
						%h5 Requirements
						%p Half or full day collaborative learning experiences centered around the theme of Place. We expect workshops, but are open to suggestion on other educational frameworks	.
						%h5 Benefits
						%p Accepted workshop practitioners will receive a full pass to the conference.
						%h5 Due Date
						%p Submissions are closed. We will be in touch with workshop practitioners in the next few weeks.
				.article-footer
					%span.button.inactive{:href=>"/workshops"} Practitioner Application is Closed
