.container.sponsors.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Our Sponsors
	%section.registration-callout.cf
		%h3 Would you like to see your organization here? Raise your company’s profile among marketing innovators, early adopters of technology and the next generation of local and regional leaders. 
		%a.button{:href=>"/images/MWUX_sponsors_pack.pdf"} Sponsors Pack
		%a.button{:href=>"/call-for-sponsors"} More Information
	.main.content.cf
		.intro.cf
			%p Sponsorship of Midwest UX provides companies with the best opportunity to connect with the region's most talented thinkers, researchers, designers, developers and engineers. Midwest UX is non-profit, ensuring all sponsorship and registration fees go towards making the best event possible.
		.sponsors-listing.cf
			%h5.section-header Education Partner
			%ul.education.one
				%li
					%a.kendall{:href=>"http://kcad.edu"} Kendall College of Art & Design
		.sponsors-listing.cf
			%h5.section-header Gold Sponsors
			%ul.gold.three
				%li
					%a.atomic-object{:href=>"http://atomicobject.com"} Atomic Object
				%li
					%a.mutuallyhuman{:href=>"http://mutuallyhuman.com"} Mutually Human
				%li
					%a.people-design{:href=>"http://peopledesign.com"} People Design
			%ul.gold.two
				%li
					%a.brightly{:href=>"http://teambrightly.com"} Brightly
				%li
					%a.mighty{:href=>"http://mightyinthemidwest.com"} Mighty in the Midwest
		.sponsors-listing.cf
			%h5.section-header Silver Sponsor
			%ul.silver.one
				%li
					%a.vitamin-t{:href=>"http://vitamintalent.com"} Vitamin T
		.sponsors-listing.cf
			%h5.section-header Non-Profit/Educational Sponsors
			%ul.non-profit.two
				%li
					%a.software-gr{:href=>"http://softwaregr.org/"} Software GR
				%li
					%a.kent-state{:href=>"http://www.kent.edu"} Kent State University
