.container.team.interior
	.masthead.brainwaves.cf
		.event-info.cf
			%h1 Team Members
	.main.content.cf
		%section.core-team
			%article
				.headshot#samuel
					%img{:src =>"/images/team/samuel-bowles.jpg"}
				%h5 Samuel Bowles
				.article-content
					%p Conference Co-Chair
				.article-footer	
					%a.button{:href=>"http://mutuallyhuman.com/"} About Samuel
			%article
				.headshot#grant
					%img{:src =>"/images/team/grant-carmichael.jpg"}
				%h5 Grant Carmichael
				.article-content
					%p Conference Co-Chair
				.article-footer	
					%a.button{:href=>"http://blog.thinkxd.com"} About Grant
			%article
				.headshot#laurel 
					%img{:src =>"/images/team/laurel-stanley.jpg"}
				%h5 Laurel Stanley
				.article-content
					%p  Conference Co-Chair
				.article-footer	
					%a.button{:href=>"http://laurelstanley.com"} About Laurel
			%article
				.headshot
					%img{:src =>"/images/team/erik-dahl.jpg"}
				%h5 Erik Dahl
				.article-content
					%p  Advisor
				.article-footer	
					%a.button{:href=>"http://about.me/eadahl"} About Erik
			%article
				.headshot
					%img{:src =>"/images/team/female.jpg"}
				%h5 Pam Haaser
				.article-content
					%p  Advisor
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=5084911"} About Pam
			%article
				.headshot
					%img{:src =>"/images/team/female.jpg"}
				%h5 Denise Philipsen
				.article-content
					%p  Advisor
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=5850377"} About Denise
			%article
				.headshot
					%img{:src =>"/images/team/matt-anderson.jpg"}
				%h5 Matt Anderson
				.article-content
					%p  Copywriter/Public Relations
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=72186356"} About Matt
			%article
				.headshot
					%img{:src =>"/images/team/jonah-bailey.jpg"}
				%h5 Jonah Bailey
				.article-content
					%p  Interactive Design Lead
				.article-footer	
					%a.button{:href=>"http://jonahbailey.com"} About Jonah
			%article
				.headshot
					%img{:src =>"/images/team/female.jpg"}
				%h5 Tina Berens
				.article-content
					%p  Support
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=219815454"} About Tina
			%article
				.headshot
					%img{:src =>"/images/team/male.jpg"}
				%h5 Adam Clarke
				.article-content
					%p  Ticketing Support
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=51284562&locale=en_US&trk=tyah2"} About Adam
			%article
				.headshot
					%img{:src =>"/images/team/shawn-crowley.jpg"}
				%h5 Shawn Crowley
				.article-content
					%p  Sponsorship Relations
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=32954892"} About Shawn
			%article
				.headshot
					%img{:src =>"/images/team/gayle-debruyn.jpg"}
				%h5 Gayle DeBruyn
				.article-content
					%p  Event Experience
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=46368126"} About Gayle
			%article
				.headshot
					%img{:src =>"/images/team/male.jpg"}
				%h5 Trevor Dobias
				.article-content
					%p  Visual Design
				.article-footer	
					%a.button{:href=>"http://www.dobias.me"} About Trevor
			%article
				.headshot
					%img{:src =>"/images/team/tom-engelsman.jpg"}
				%h5 Tom Engelsman
				.article-content
					%p  Visual Design
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=116044579"} About Tom
			%article
				.headshot
					%img{:src =>"/images/team/christy-ennis-kloote.jpg"}
				%h5 Christy Ennis-Kloote
				.article-content
					%p  Volunteer Coordinator
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=19503458"} About Christy
			%article
				.headshot
					%img{:src =>"/images/team/rick-harlow.jpg"}
				%h5 Rick Harlow
				.article-content
					%p  Sponsorship Relations
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=6181891"} About Rick
			%article
				.headshot
					%img{:src =>"/images/team/paul-hart.jpg"}
				%h5 Paul Hart
				.article-content
					%p  Photography
				.article-footer	
					%a.button{:href=>"http://about.me/pablohart"} About Paul
			%article
				.headshot
					%img{:src =>"/images/team/neil-kirby.jpg"}
				%h5 Neil Kirby
				.article-content
					%p  Video
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=19029105"} About Neil
			%article
				.headshot
					%img{:src =>"/images/team/dan-klyn.jpg"}
				%h5 Dan Klyn
				.article-content
					%p  Speaker Curation
				.article-footer	
					%a.button{:href=>"http://about.me/danklyn"} About Dan
			%article
				.headshot
					%img{:src =>"/images/team/chris-koens.jpg"}
				%h5 Chris Koens
				.article-content
					%p  Excursion Lead
				.article-footer	
					%a.button{:href=>"http://chriskoens.com/"} About Chris
			%article
				.headshot
					%img{:src =>"/images/team/alaina-kraus.jpg"}
				%h5 Alaina Kraus
				.article-content
					%p  Content
				.article-footer	
					%a.button{:href=>"http://www.alainarkraus.com/"} About Alaina
			%article
				.headshot
					%img{:src =>"/images/team/male.jpg"}
				%h5 Eric Kuhn
				.article-content
					%p  Social Media
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=11895176"} About Eric
			%article
				.headshot
					%img{:src =>"/images/team/male.jpg"}
				%h5 Kurt Nahikian
				.article-content
					%p  Speaker Support
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=7226777"} About Kurt
			%article
				.headshot
					%img{:src =>"/images/team/michael-nykamp.jpg"}
				%h5 Michael Nÿkamp
				.article-content
					%p  Design Lead
				.article-footer	
					%a.button{:href=>"http://mkn-design.com"} About Michael
			%article
				.headshot
					%img{:src =>"/images/team/male.jpg"}
				%h5 Keith Oberfeld
				.article-content
					%p  Production
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=25498981"} About Keith
			%article
				.headshot
					%img{:src =>"/images/team/male.jpg"}
				%h5 Brad Ruiter
				.article-content
					%p  Production Lead
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=6981518"} About Brad
			%article
				.headshot
					%img{:src =>"/images/team/ryan-van-dyke.jpg"}
				%h5 Ryan Van Dyke
				.article-content
					%p  Event Registration
				.article-footer	
					%a.button{:href=>"http://ryanvandyke.com﻿"} About Ryan
			%article
				.headshot
					%img{:src =>"/images/team/male.jpg"}
				%h5 Richard Verne
				.article-content
					%p  Content
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=3261338"} About Richard
			%article
				.headshot
					%img{:src =>"/images/team/female.jpg"}
				%h5 Clare Wade
				.article-content
					%p  Public Relations
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=22215424"} About Clare
			%article
				.headshot
					%img{:src =>"/images/team/rachel-watkins.jpg"}
				%h5 Rachel Watkins
				.article-content
					%p  Speaker Hosting Experience
				.article-footer	
					%a.button{:href=>"http://about.me/watkinsrachel"} About Rachel
			%article
				.headshot
					%img{:src =>"/images/team/male.jpg"}
				%h5 Lukasz Wieczorek 
				.article-content
					%p  College Outreach
				.article-footer	
					%a.button{:href=>"http://hellowoo.com/"} About Lukasz
		%section.core-team
			%article
				.headshot
					%img{:src =>"/images/team/female.jpg"}
				%h5 Amanda Carmer
				.article-content
					%p  Kendall Scholar
			%article
				.headshot
					%img{:src =>"/images/team/female.jpg"}
				%h5 Angel Cooke
				.article-content
					%p  Kendall Scholar
			%article
				.headshot
					%img{:src =>"/images/team/male.jpg"}
				%h5 Ben Georgoff
				.article-content
					%p  Kendall Scholar
			%article
				.headshot
					%img{:src =>"/images/team/male.jpg"}
				%h5 Philip Han
				.article-content
					%p  Kendall Scholar
			%article
				.headshot
					%img{:src =>"/images/team/male.jpg"}
				%h5 Jacob McVey
				.article-content
					%p  Kendall Scholar
			/ %article
			/ 	.headshot
			/ 		%img{:src =>"/images/team/male.jpg"}
			/ 	%h5 Sample Male
			/ 	.article-content
			/ 		%p  User Experience Designer
			/ 	.article-footer	
			/ 		%a.button{:href=>"http://about.me/watkinsrachel"} About

