.container.team.interior
	.masthead.brainwaves.cf
		.event-info.cf
			%h1 Team Members
	.main.content.cf
		%section.chairs
			%h2 The Conference Chairs
			%article
				.headshot#laurel 
					%img{:src =>"/images/team/laurel-stanley.jpg"}
				%h5 Laurel Stanley
				.article-content
					%p  I love all things design. Really. What gets me out of bed in the morning is designing customer experiences for businesses. Especially emerging businesses. Moulding the big idea is a constant stream of inspiration.
				.article-footer	
					%a.button{:href=>"http://laurelstanley.com"} About Laurel
			%article
				.headshot#grant
					%img{:src =>"/images/team/grant-carmichael.jpg"}
				%h5 Grant Carmichael
				.article-content
					%p I help companies and organizations discover what their end users need and balance those findings with business goals and technological opportunities to create cohesive and engaging experiences.
				.article-footer	
					%a.button{:href=>"http://blog.thinkxd.com"} About Grant
			%article
				.headshot#samuel
					%img{:src =>"/images/team/samuel-bowles.jpg"}
				%h5 Samuel Bowles
				.article-content
					%p I'm a polyglot working as an interaction designer, visual designer, front end developer, and business leader at Mutually Human, a software company. I started started my 16-year career at Burger King where I held the ambiguous title of Webmaster. 
				.article-footer	
					%a.button{:href=>"http://mutuallyhuman.com/"} About Samuel
		%section.core-team
			%h2 The Core Team
			%article
				.headshot
					%img{:src =>"/images/team/matt-anderson.jpg"}
				%h5 Matt Anderson
				.article-content
					%p  Copywriter/Public Relations
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=72186356"} About Matt
			%article
				.headshot
					%img{:src =>"/images/team/jonah-bailey.jpg"}
				%h5 Jonah Bailey
				.article-content
					%p  Interactive Design Lead
				.article-footer	
					%a.button{:href=>"http://jonahbailey.com"} About Jonah
			%article
				.headshot
					%img{:src =>"/images/team/shawn-crowley.jpg"}
				%h5 Shawn Crowley
				.article-content
					%p  Sponsorship Relations
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=32954892"} About Shawn
			%article
				.headshot
					%img{:src =>"/images/team/erik-dahl.jpg"}
				%h5 Erik Dahl
				.article-content
					%p  Advisor
				.article-footer	
					%a.button{:href=>"http://about.me/eadahl"} About Erik
			%article
				.headshot
					%img{:src =>"/images/team/gayle-debruyn.jpg"}
				%h5 Gayle DeBruyn
				.article-content
					%p  Event Experience
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=46368126"} About Gayle
			%article
				.headshot
					%img{:src =>"/images/team/tom-engelsman.jpg"}
				%h5 Tom Engelsman
				.article-content
					%p  Visual Design
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=116044579"} About Tom
			%article
				.headshot
					%img{:src =>"/images/team/female.jpg"}
				%h5 Pam Haaser
				.article-content
					%p  Advisor
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=5084911"} About Pam
			%article
				.headshot
					%img{:src =>"/images/team/rick-harlow.jpg"}
				%h5 Rick Harlow
				.article-content
					%p  Sponsorship Relations
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=6181891"} About Rick
			%article
				.headshot
					%img{:src =>"/images/team/paul-hart.jpg"}
				%h5 Paul Hart
				.article-content
					%p  Photography
				.article-footer	
					%a.button{:href=>"http://about.me/pablohart"} About Paul
			%article
				.headshot
					%img{:src =>"/images/team/dan-klyn.jpg"}
				%h5 Dan Klyn
				.article-content
					%p  Speaker Curation
				.article-footer	
					%a.button{:href=>"http://about.me/danklyn"} About Dan
			%article
				.headshot
					%img{:src =>"/images/team/chris-koens.jpg"}
				%h5 Chris Koens
				.article-content
					%p  Excursion Lead
				.article-footer	
					%a.button{:href=>"chriskoens.com"} About Chris
			%article
				.headshot
					%img{:src =>"/images/team/alaina-kraus.jpg"}
				%h5 Alaina Kraus
				.article-content
					%p  Content
				.article-footer	
					%a.button{:href=>"http://www.alainarkraus.com/"} About Alaina
			%article
				.headshot
					%img{:src =>"/images/team/michael-nykamp.jpg"}
				%h5 Michael Nÿkamp
				.article-content
					%p  Design Lead
				.article-footer	
					%a.button{:href=>"http://mkn-design.com"} About Michael
			%article
				.headshot
					%img{:src =>"/images/team/male.jpg"}
				%h5 Keith Oberfeld
				.article-content
					%p  Production
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=25498981"} About Keith
			%article
				.headshot
					%img{:src =>"/images/team/female.jpg"}
				%h5 Denise Philipsen
				.article-content
					%p  Advisor
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=5850377"} About Denise
			%article
				.headshot
					%img{:src =>"/images/team/male.jpg"}
				%h5 Brad Ruiter
				.article-content
					%p  Production Lead
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=6981518"} About
			%article
				.headshot
					%img{:src =>"/images/team/ryan-van-dyke.jpg"}
				%h5 Ryan Van Dyke
				.article-content
					%p  Event Registration
				.article-footer	
					%a.button{:href=>"http://ryanvandyke.com﻿"} About Ryan
			%article
				.headshot
					%img{:src =>"/images/team/female.jpg"}
				%h5 Clare Wade
				.article-content
					%p  Public Relations
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/profile/view?id=22215424"} About Clare
			%article
				.headshot
					%img{:src =>"/images/team/rachel-watkins.jpg"}
				%h5 Rachel Watkins
				.article-content
					%p  Speaker Hosting Experience
				.article-footer	
					%a.button{:href=>"http://about.me/watkinsrachel"} About Rachel
			%article
				.headshot
					%img{:src =>"/images/team/female.jpg"}
				%h5 Sample Female
				.article-content
					%p  User Experience Designer
				.article-footer	
					%a.button{:href=>"http://about.me/watkinsrachel"} About
			%article
				.headshot
					%img{:src =>"/images/team/male.jpg"}
				%h5 Sample Male
				.article-content
					%p  User Experience Designer
				.article-footer	
					%a.button{:href=>"http://about.me/watkinsrachel"} About

