.container.team.interior
	.masthead.brainwaves.cf
		.event-info.cf
			%h1 Team Members
	.main.content.cf
		%section.chairs
			%h2 The Conference Chairs
			%article
				.headshot#laurel 
					%img{:src =>"/images/team/Laurel_Stanley.jpg"}
				%h5 Laurel Stanley
				.article-content
					%p  I love all things design. Really. What gets me out of bed in the morning is designing customer experiences for businesses. Especially emerging businesses. Molding the big idea is a constant stream of inspiration.
				.article-footer	
					%a.button{:href=>"http://laurelstanley.com"} About Laurel
			%article
				.headshot#grant
					%img{:src =>"/images/team/Grant_Carmichael.jpg"}
				%h5 Grant Carmichael
				.article-content
					%p I help companies and organizations discover what their end users need and plan ways to balance these findings with the business goals and the technological opportunities available to form a cohesive and engaging experience.
				.article-footer	
					%a.button{:href=>"http://blog.thinkxd.com"} About Grant
			%article
				.headshot#samuel
					%img{:src =>"/images/team/Samuel_Bowles.jpg"}
				%h5 Samuel Bowles
				.article-content
					%p Samuel Mikel Bowles started his 16-year career at Burger King where he held the ambiguous title of Webmaster. He's still a polyglot working as an interaction designer, visual designer, front end developer, and business leader. 
				.article-footer	
					%a.button{:href=>"http://samuel.bowles.es"} About Samuel
		%section.core-team
			%h2 The Core Team
			%article
				.headshot
					%img{:src =>"/images/team/Matt_Anderson.jpg"}
				%h5 Matt Anderson
				.article-content
					%p  Copywriter/Public Relations
				.article-footer	
					%a.button{:href=>"#"} About Matt
			%article
				.headshot
					%img{:src =>"/images/team/Gayle_DeBruyn.jpg"}
				%h5 Gayle DeBruyn
				.article-content
					%p  Event Experience
				.article-footer	
					%a.button{:href=>"#"} About Gayle
			%article
				.headshot
					%img{:src =>"/images/team/Shawn_Crowley.jpg"}
				%h5 Shawn Crowley
				.article-content
					%p  Sponsorship Relations
				.article-footer	
					%a.button{:href=>"#{}"} About Shawn
			%article
				.headshot
					%img{:src =>"/images/team/Erik_Dahl.jpg"}
				%h5 Erik Dahl
				.article-content
					%p  Advisor
				.article-footer	
					%a.button{:href=>"#"} About Erik
			%article
				.headshot
					%img{:src =>"/images/team/Rick_Harlow.jpg"}
				%h5 Rick Harlow
				.article-content
					%p  Sponsorship Relations
				.article-footer	
					%a.button{:href=>"#"} About Rick
			%article
				.headshot
					%img{:src =>"/images/team/Paul_Hart.jpg"}
				%h5 Paul Hart
				.article-content
					%p  Photography
				.article-footer	
					%a.button{:href=>"#"} About Paul
			%article
				.headshot
					%img{:src =>"/images/team/Dan_Klyn.jpg"}
				%h5 Dan Klyn
				.article-content
					%p  Speaker Curation
				.article-footer	
					%a.button{:href=>"#"} About Dan
			%article
				.headshot
					%img{:src =>"/images/team/Chris_Koens.jpg"}
				%h5 Chris Koens
				.article-content
					%p  Excursion Lead
				.article-footer	
					%a.button{:href=>"#"} About Chris
			%article
				.headshot
					%img{:src =>"/images/team/Michael_Nykamp.jpg"}
				%h5 Michael Nÿkamp
				.article-content
					%p  Design Lead
				.article-footer	
					%a.button{:href=>"#"} About Michael
			%article
				.headshot
					%img{:src =>"/images/team/Ryan_VanDyke.jpg"}
				%h5 Ryan Van Dyke
				.article-content
					%p  Event Registration
				.article-footer	
					%a.button{:href=>"#"} About Ryan
			%article
				.headshot
					%img{:src =>"/images/team/Alaina_Kraus.jpg"}
				%h5 Alaina Kraus
				.article-content
					%p  Content
				.article-footer	
					%a.button{:href=>"#"} About Alaina
			%article
				.headshot
					%img{:src =>"/images/team/Rachel_Watkins.jpg"}
				%h5 Rachel Watkins
				.article-content
					%p  Speaker Hosting Experience
				.article-footer	
					%a.button{:href=>"#"} About Rachel
