.container.team.interior
	.masthead.cf
		.event-info.cf
			%h1 Team Members
	.main.content.cf
		%section.chairs
			%h2 The Conference Chairs
			%article
				.headshot#laurel 
					%img{:src =>"/images/laurel.jpg"}
				%h5 Laurel Stanley
				.article-content
					%p  I love all things design. Really. What gets me out of bed in the morning is designing customer experiences for businesses. Especially emerging businesses. Molding the big idea is a constant stream of inspiration.
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/in/laurelstanley"} About Laurel
			%article
				.headshot#grant
					%img{:src =>"/images/grant.jpg"}
				%h5 Grant Carmichael
				.article-content
					%p I help companies and organizations discover what their end users need and plan ways to balance these findings with the business goals and the technological opportunities available to form a cohesive and engaging experience.
				.article-footer	
					%a.button{:href=>"http://blog.thinkxd.com"} About Grant
			%article
				.headshot#samuel
					%img{:src =>"/images/samuel.jpg"}
				%h5 Samuel Bowles
				.article-content
					%p Samuel Mikel Bowles started his 16-year career at Burger King where he held the ambiguous title of Webmaster. He's still a polyglot working as an interaction designer, visual designer, front end developer, and business leader. 
				.article-footer	
					%a.button{:href=>"http://samuel.bowles.es"} About Samuel
		%section.core-team
			%h2 The Core Team
			%article
				.headshot
					%img{:src =>"/images/laurel.jpg"}
				%h5 Laurel Stanley
				.article-content
					%p  Job Title
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/in/laurelstanley"} About Laurel
			%article
				.headshot
					%img{:src =>"/images/grant.jpg"}
				%h5 Grant Carmichael
				.article-content
					%p  Job Title
				.article-footer	
					%a.button{:href=>"http://blog.thinkxd.com"} About Grant
			%article
				.headshot
					%img{:src =>"/images/samuel.jpg"}
				%h5 Samuel Bowles
				.article-content
					%p  Job Title
				.article-footer	
					%a.button{:href=>"http://samuel.bowles.es"} About Samuel
			%article
				.headshot
					%img{:src =>"/images/laurel.jpg"}
				%h5 Laurel Stanley
				.article-content
					%p  Job Title
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/in/laurelstanley"} About Laurel
			%article
				.headshot
					%img{:src =>"/images/grant.jpg"}
				%h5 Grant Carmichael
				.article-content
					%p  Job Title
				.article-footer	
					%a.button{:href=>"http://blog.thinkxd.com"} About Grant
			%article
				.headshot
					%img{:src =>"/images/samuel.jpg"}
				%h5 Samuel Bowles
				.article-content
					%p  Job Title
				.article-footer	
					%a.button{:href=>"http://samuel.bowles.es"} About Samuel
			%article
				.headshot
					%img{:src =>"/images/laurel.jpg"}
				%h5 Laurel Stanley
				.article-content
					%p  Job Title
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/in/laurelstanley"} About Laurel
			%article
				.headshot
					%img{:src =>"/images/grant.jpg"}
				%h5 Grant Carmichael
				.article-content
					%p  Job Title
				.article-footer	
					%a.button{:href=>"http://blog.thinkxd.com"} About Grant
			%article
				.headshot
					%img{:src =>"/images/samuel.jpg"}
				%h5 Samuel Bowles
				.article-content
					%p  Job Title
				.article-footer	
					%a.button{:href=>"http://samuel.bowles.es"} About Samuel
			%article
				.headshot
					%img{:src =>"/images/laurel.jpg"}
				%h5 Laurel Stanley
				.article-content
					%p  Job Title
				.article-footer	
					%a.button{:href=>"http://www.linkedin.com/in/laurelstanley"} About Laurel
			%article
				.headshot
					%img{:src =>"/images/grant.jpg"}
				%h5 Grant Carmichael
				.article-content
					%p  Job Title
				.article-footer	
					%a.button{:href=>"http://blog.thinkxd.com"} About Grant
			%article
				.headshot
					%img{:src =>"/images/samuel.jpg"}
				%h5 Samuel Bowles
				.article-content
					%p  Job Title
				.article-footer	
					%a.button{:href=>"http://samuel.bowles.es"} About Samuel
