.container.volunteers.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Call for Volunteers
	.main.content.cf
		.intro.cf
			%p We are looking for willing volunteers that are interested in doing what it takes to make Midwest UX 2013 a success. Our volunteers couldn't be more important. It's your efforts that will create the helpful, friendly, welcoming atmosphere that will keep conference attendees fondly remembering their time in Grand Rapids for years to come.
			%p As a volunteer, you have an important role to play. You will be assigned specific responsibilities, get a spiffy shirt to wear so attendees can identify you if they need help, enjoy behind the scenes access to conference organizers and speakers, and most importantly, you'll receive that happy glow that rewards everyone who serves others. At the conference, we'll also support you with food and beverages during the times you're scheduled to help and we're planning a special thank you following the conference.
			%p Just so we're clear, volunteering doesn't make you a conference participant. Should you desire to attend attend speaker sessions and/or workshops, you need to register separately as a conference attendee.
			%p If you are ready to commit, please proceed to our volunteer form.
		.form
			<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dFNhZlRMSnFSRnFNdjl6TzF5WmxRblE6MQ" width="100%" height="1061" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>	
