.container.volunteers.interior
	.masthead.cf
		.event-info.cf
			%h1 Call for Volunteers
		/%h5.tagline MWUX Can't Happen Without You!
	.main.content.cf
		.theme-intro.cf
			%p We’re looking for individuals who value well-designed experiences—from those who fund them to those who architect them to those who implement them—to help volunteer before, during and after the event.	
		.callouts.cf
			%article
				.article-content
					%h3 Thank You!
					%p Our Leadership Teams have been overwhelmed with support and offers to volunteer for the event. We are not accepting long term volunteers at this time.
				.article-footer
					%a.button.inactive{:href=>"#"} Check Back Later
			%article
				.article-content
					%h3 Volunteer for the Event
					%p We will open Day of Volunteer Application closer to the event. Thanks for your interest!

					/ %p All hands on deck for the setting up and running the event in the days leading up to and through the event on October 17-19. Got some spare cycles? Join us and rub elbows with your Midwest UX community.
				.article-footer
					%a.button.inactive{:href=>"#"} Opening in September
	
		.open-positions.cf
			%h1 <span class="highlight">// </span>Open Positions
			.long-term.cf
				%h4 Long Term Volunteers
				%ul
					%li
						%a.button{:href=>"/google-form"} Long Term Position
					%li
						%a.button{:href=>"/google-form"} Long Term Position
					%li
						%a.button{:href=>"/google-form"} Long Term Position
					%li
						%a.button{:href=>"/google-form"} Long Term Position
					%li
						%a.button{:href=>"/google-form"} Long Term Position
					%li
						%a.button{:href=>"/google-form"} Long Term Position
					%li
						%a.button{:href=>"/google-form"} Long Term Position
					%li
						%a.button{:href=>"/google-form"} Long Term Position
					%li
						%a.button{:href=>"/google-form"} Long Term Position
					%li
						%a.button{:href=>"/google-form"} Long Term Position

			.short-term.cf
				%h4 Day Of Volunteers
				%ul
					%li
						%a.button{:href=>"/google-form"} Day Of Position
					%li
						%a.button{:href=>"/google-form"} Day Of Position
					%li
						%a.button{:href=>"/google-form"} Day Of Position
					%li
						%a.button{:href=>"/google-form"} Day Of Position
					%li
						%a.button{:href=>"/google-form"} Day Of Position
					%li
						%a.button{:href=>"/google-form"} Day Of Position
					%li
						%a.button{:href=>"/google-form"} Day Of Position
					%li
						%a.button{:href=>"/google-form"} Day Of Position
					%li
						%a.button{:href=>"/google-form"} Day Of Position
					%li
						%a.button{:href=>"/google-form"} Day Of Position
