.container.volunteers.interior
	.masthead.cf
		.event-info.cf
			%h1 Call for Volunteers
		/%h5.tagline MWUX Can't Happen Without You!
	.main.cf
		.theme-intro.cf
			%p We’re looking for individuals who value well-designed experiences—from those who fund them to those who architect them to those who implement them—to help volunteer before, during and after the event.	
		.callouts.cf
			%article
				.article-content
					.information
						%h3 Long Term Volunteer
						%h5 Roles
						%p If you truly want to be invested in the experience of the event, consider to leading one of the following roles:
						%ul
							%li Event Experience
							%li Video
							%li Onstage Host
							%li Music Manager
							%li Party/Entertainment Planner
					%a.button{:href=>"mailto:VolunteerLead@2013.midwestuxconference.com?Subject=Long Term Volunteer Inquiry"} Go Long Term
			%article
				.article-content
					.information
						%h3 Day Of Volunteer
						%p Be at the center of the action and help lead the way and connect with active professionals by volunteering.  Day-of Conference volunteers will be needed throughout October 16-20, 2013. We will have a wide variety of dynamic teams and commitment levels to choose from. As we get details established we will reach out to interested volunteers for specific availability.
						%h5 Requirements
						%p Conference Volunteers are required to:
						%ul
							%li Be at least 18 years of age
							%li Work a minimum of x hours
							%li Attend a minimum of (1) pre-event meeting
							%li Have a valid email address
							%li Be responsible for working with team coordinators schedule
						%h5 Benefits
						%p As a Conference Volunteer, you will be working hours towards perks (TBD).
					%a.button{:href=>"mailto:VolunteerLead@2013.midwestuxconference.com?Subject=Day Of Volunteer Inquiry"} Go Day Of
	
		.open-positions.cf
			%h1 <span class="highlight">// </span>Open Positions
			.long-term.cf
				%h4 Long Term Volunteers
				%ul
					%li
						%a.button{:href=>"/google-form"} Long Term Position
					%li
						%a.button{:href=>"/google-form"} Long Term Position
					%li
						%a.button{:href=>"/google-form"} Long Term Position
					%li
						%a.button{:href=>"/google-form"} Long Term Position
					%li
						%a.button{:href=>"/google-form"} Long Term Position
					%li
						%a.button{:href=>"/google-form"} Long Term Position
					%li
						%a.button{:href=>"/google-form"} Long Term Position
					%li
						%a.button{:href=>"/google-form"} Long Term Position
					%li
						%a.button{:href=>"/google-form"} Long Term Position
					%li
						%a.button{:href=>"/google-form"} Long Term Position

			.short-term.cf
				%h4 Day Of Volunteers
				%ul
					%li
						%a.button{:href=>"/google-form"} Day Of Position
					%li
						%a.button{:href=>"/google-form"} Day Of Position
					%li
						%a.button{:href=>"/google-form"} Day Of Position
					%li
						%a.button{:href=>"/google-form"} Day Of Position
					%li
						%a.button{:href=>"/google-form"} Day Of Position
					%li
						%a.button{:href=>"/google-form"} Day Of Position
					%li
						%a.button{:href=>"/google-form"} Day Of Position
					%li
						%a.button{:href=>"/google-form"} Day Of Position
					%li
						%a.button{:href=>"/google-form"} Day Of Position
					%li
						%a.button{:href=>"/google-form"} Day Of Position
