.container.main.volunteers.interior
	%h1 <span class="highlight">// </span>Call for Volunteers
	/ %h5.tagline MWUX Can't Happen Without You!
	.callouts.cf
		%article
			.article-content
				.information
					%h3 Long Term Volunteer
					%h5 Requirements
					%p Now that there is the Tec-9, a crappy spray gun from South Miami. This gun isadvertised 	as the most popular gun in American crime. It actually says that in the little book that 	comes with it: the most popular gun in American crime.
					%h5 Benefits
					%p Now that there is the Tec-9, a crappy spray gun from South Miami. This gun isadvertised 	as the most popular gun in American crime. It actually says that in the little book that 	comes with it: the most popular gun in American crime.
				%a.button{:href=>"/volunteers"} Go Long Term
		%article
			.article-content
				.information
					%h3 Day Of Volunteer
					%h5 Requirements
					%p Now that there is the Tec-9, a crappy spray gun from South Miami. This gun isadvertised 	as the most popular gun in American crime. It actually says that in the little book that 	comes with it: the most popular gun in American crime.
					%h5 Benefits
					%p Now that there is the Tec-9, a crappy spray gun from South Miami. This gun isadvertised 	as the most popular gun in American crime. It actually says that in the little book that 	comes with it: the most popular gun in American crime.
				%a.button{:href=>"/volunteers"} Go Day Of
	
	.open-positions.cf
		%h1 <span class="highlight">// </span>Open Positions
		.long-term.cf
			%h4 Long Term Volunteers
			%ul
				%li
					%a.button{:href=>"/google-form"} Long Term Position
				%li
					%a.button{:href=>"/google-form"} Long Term Position
				%li
					%a.button{:href=>"/google-form"} Long Term Position
				%li
					%a.button{:href=>"/google-form"} Long Term Position
				%li
					%a.button{:href=>"/google-form"} Long Term Position
				%li
					%a.button{:href=>"/google-form"} Long Term Position
				%li
					%a.button{:href=>"/google-form"} Long Term Position
				%li
					%a.button{:href=>"/google-form"} Long Term Position
				%li
					%a.button{:href=>"/google-form"} Long Term Position
				%li
					%a.button{:href=>"/google-form"} Long Term Position

		.short-term.cf
			%h4 Day Of Volunteers
			%ul
				%li
					%a.button{:href=>"/google-form"} Day Of Position
				%li
					%a.button{:href=>"/google-form"} Day Of Position
				%li
					%a.button{:href=>"/google-form"} Day Of Position
				%li
					%a.button{:href=>"/google-form"} Day Of Position
				%li
					%a.button{:href=>"/google-form"} Day Of Position
				%li
					%a.button{:href=>"/google-form"} Day Of Position
				%li
					%a.button{:href=>"/google-form"} Day Of Position
				%li
					%a.button{:href=>"/google-form"} Day Of Position
				%li
					%a.button{:href=>"/google-form"} Day Of Position
				%li
					%a.button{:href=>"/google-form"} Day Of Position
