.container.welcome-letter.interior
	.masthead.city.cf
		.event-info.cf
			%h1 Welcome to GR!
	.main.content.cf
		.intro.cf
			%p Hey there!
			%p We couldn't be more excited to welcome you to Grand Rapids this week for Midwest UX 2013. We're thrilled with the speakers, venues, excursions, hospitality and the opportunities we'll have to connect over the three days. We think you'll agree that Midwest UX will once again provide a tremendous conference experience you'll remember for years to come.

			%p With just days to go before you arrive in Grand Rapids, we want to make sure you have all the information you need to prepare for the best conference experience possible. What follows are details that answer some of the most common questions we've received. Please read the following carefully. And if you have any further questions, or if there is any additional way we can serve you as you arrive, please don't hesitate to <a href="/team">contact us</a>.

			%h5.section-header Registration and Check-In

			%h4 Thursday - Workshops
			%p Check-in for workshops begins at 8am on Thursday, October 17 at <A href="https://www.google.com/maps/preview#!q=2-26+Pearl+St+NW%2C+Grand+Rapids%2C+MI+49503&data=!4m10!1m9!4m8!1m3!1d1140!2d-85.6688211!3d42.9664639!3m2!1i1014!2i1199!4f13.1">Kendall College of Art & Design</a>. The workshops themselves begin at 9am. 
			%p You won't need to check-in or register on Friday when the main conference begins. The badge and materials you receive Thursday are good for the duration of the conference.
	
			%h4	Friday & Saturday - Main Conference
			%p The session schedule and primary conference events begin Friday, October 18. If you are only attending the conference sessions, you will need to register and check-in Friday morning at 8am at the <a href="https://www.google.com/maps/preview#!q=Urban+Institute+for+Contemporary+Art%2C+Grand+Rapids%2C+MI&data=!4m10!1m9!4m8!1m3!1d4558!2d-85.668948!3d42.9663678!3m2!1i1014!2i1199!4f13.1">UICA</a>. Your conference badge not only is required to be admitted to conference sessions, it also contains the details of your excursion (and its free lunch), evening entertainment, and helpful information intended to make your stay in Grand Rapids as fun and carefree as possible.
			%p Please arrive promptly for the beginning of registration.
		
			%h5.section-header Useful Logistics
		
			%h4 Excursions
			%p Meet your excursion group after sessions at 12:30 Friday at Kendall on Pearl. Just look for the docent holding a sign with your excursion name.
			%p Your excursion begins with a complimentary lunch near the excursion venue. If the excursion is near Kendall, your group will travel on-foot. Otherwise, bus transportation has been arranged for your group.
			%p You'll want to be sure to make it back to UICA by 5:00 for the evening keynote to hear Christina Wodtke and get a chance to win some conference prizes. Oh, and pick up drink tickets for the gala.

			%h4 What to Wear
			%p This week, fall colors are at nearing their peak and there may be an autumn chill in the air, so please bring an umbrella, a jacket and comfortable walking shoes. 
			%p Midwest UX is hosted at two venues about a 10 minute walk apart and will feature excursions Friday afternoon throughout downtown, so there will be plenty of occasion for you to walk and experience the brisk fresh air Grand Rapids has on offer.

			%h4 Transportation
			%p If you're arriving at Gerald R. Ford International Airport the most efficient way to get downtown is by taxi which will run you about $32. You can look for one outside the airport or call Metro Cab at 616-827-6500.
			%p Parking decks are located in the same block as the UICA, next to Kendall on Pearl. The parking facilities charge by the hour. Cost is roughly $14 per day.
			%p On Saturday meters are free on some streets. Please pay attention to the posted times on meter. For your convenience, you can pay parking meters by using the <a href="http://us.parkmobile.com/">Parkmobile app</a>.
		
			%h5.section-header Evening Fun
		
			%h4 Thursday Night
			%p Relax with us after the workshops or if you've just arrived in town at <a href="http://mcfaddensgrandrapids.com/">McFadden's</a> where we have arranged for space to gather as launch point for adventures in Grand Rapids.

			%h4 Friday Night
			%p Friday evening, don't miss Midwest UX Gala by SiTE:LAB is the big social, an award-winning art exhibition in the rebooted former Grand Rapids Public Museum. Take in site-specific artwork by international artists while you enjoy appetizers, a cash bar and groove to the sounds of DJ Sonnrize. Don't forget to order a live silkscreened shirt by Citizenshirt and stay alert to other surprises throughout the evening. Did we mention you really shouldn't miss this party?

