.container.main.why-mwux
	.masthead.cf#panorama
		%h1 Midwest UX
		%h2.tagline This October, set your designs on Grand Rapids. It’s the place to be.
	.content.cf
		.callouts.cf
			%article
				%img{:src =>"http://placehold.it/1100x403"}
				.article-content
					%h3 History of MWUX
					%p In 2010, Erik Dahl, Imran Riaz, Pam Haaser and Denise Philipsen connected with the local chapter of the Usability Professionals’ Association (UPA) as well as a student design organization at Ohio State University. They set the core values of what was envisioned for the conference and drew upon personal experiences with other local/national conferences (e.g., Code Mash, Stir Trek, IxDA international conferences, UPA international conferences, etc) for inspiration.
					%p They wanted to create something rich in community and creativity with an authentic, cross-discipline and grassroots feel. Importantly, it must be affordable and approachable for other designers who many not have resources to make it to the pricier national and international conferences.
					%p Since the inaugural event in 2011, Midwest UX has been a hit. Compelling talks, a casual environment, discussions of innovative ideas and engaging conversations have attracted great attendees and sponsors.
			%article
				%img{:src => "/images/megaregion.jpg"}
				.article-content
					%h3 Why the Midwest?
					%p 2013 marks the third year of Midwest UX, an annual design conference held within the Great Lakes Megaregion—a clustered network of American cities whose population ranges or is projected to range from about 7 to 63 million by the year 2025.
					%p Megaregions are the new competitive units in the global economy, characterized by the increasing movement of goods, people and capital among their metropolitan regions. All past and future host cities are part of the group of North American metropolitan areas which surround the Great Lakes region mainly within the Midwestern United States, the Southern Ontario area of Canada, along with large parts of Pennsylvania, New York and Quebec. The region had an estimated population of 59,144,461 is projected to reach about 65 million by 2025.
					%p The Great Lakes Megaregion (The Midwest) is both of strategic and crucial significance to the future of our craft. The question isn't, "Why the Midwest?". The question is "Why on earth not?". 
		.venues.cf
			%h5 Past Editions
			%article
				.image
				.article-content
					%h3 2011
					%h4 <em>Columbus, OH</em>
					%p Speakers were culled from personal connections and included Dan Willis, Jesse James Garrett, Marc Rettig, Jared Spool, Karl Fast and others.
					%a.button{:href=>"http://2011.midwestux.com"} 2011 Website
			%article
				.image
				.article-content
					%h3 2012
					%h4 <em>Columbus, OH</em>
					%p The second year of the conference featured Richard Buchanan, Nathan Martin, Peter Morville, Chris Risdon, Boon Sheridan and others.
					%a.button{:href=>"http://2012.midwestux.com"} 2012 Website				
		/ .sponsors.cf
		/ 	%h5 Platinum Sponsors
		/ 	%ul.platinum
		/ 		%li
		/ 			%a.atomic-object{:href=>"http://atomicobject.com"} Atomic Object
		/ 		%li
		/ 			%a.mutuallyhuman{:href=>"http://mutuallyhuman.com"} Mutually Human
		/ 		%li
		/ 			%a.universal-mind{:href=>"http://universalmind.com"} Universal Mind
		/ 		%li
		/ 			%a.visual-hero{:href=>"http://visualhero.com"} Visual Hero
