.container.main.speakers.interior.content
	%h1 <span class="highlight">// </span>Workshop Practitioner Submission Form
	.theme-intro.cf
		%blockquote 
			%p We identify with the places in our lives because they have meaning to us personally and collectively. A place is more than a space, it is the very embodiment of our understanding of the world gained from our experiences within it. 
		%blockquote 
			%p From ourselves to our relationships; to our spaces and our culture; life takes place and that is the challenge to us all as designers, makers and builders. 
		%p We’d like you to consider making a submission to MidwestUX 2013 in response to this theme. We encourage all submitters to consider putting together a talk or workshop that’s about place. Even - or especially - if it’s a talk or workshop you’ve never given before.
	.form
		<iframe src="https://docs.google.com/forms/d/1DG0GjsKrk4LzPRjTV7tJ3mEzaVkmpBRcLK15ehX742c/viewform?embedded=true" width="100%" height="1164" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>