// General Articles
//================================================

section {
	margin: 2em 0;
}

article {
	@include box-sizing(border-box);
}




.article-link {
	text-decoration: none;
}

.article-content {
	@include box-sizing(border-box);
	padding: 1em;

	h3 {
		color: $charcoal;
		font-size: 1.75em;
		margin-bottom: .35em;
	}

	h4 {
		color: $charcoal;
		margin-bottom: .35em;
		font-size: 1.25em;
	}

	p {
		margin-bottom: 1em;
		color: $grayDarker;
	}

	.entry-details {
		* {
			font-size: .85em;
		}

		a {
			color: $linkColor;
		}
	}
}

.article-footer {
	@include box-sizing(border-box);
	padding: 0 1em 1em;
	float: right;
	width: 100%;

	.button {
		display: block;
	}
}


// Homepage Callouts
//================================================

.callouts {
	@include span-columns(24 omega, 24);

	article {
		@include span-columns(8, 24);
		border: none;
		background: $white;

		&:last-child {
			@include span-columns(8 omega, 24);
		}

		h3 {
			text-align: center;
		}
	}
}

.speaker-announcement {
	@include span-columns(24 omega, 24);
	margin-bottom: 2em;

	h3 {
		font-size: 1.5em;
	}
	article {
		@include span-columns(8, 24);
		border: none;
		background: $white;

		&:last-of-type {
			@include omega;
		}
	}
}

.team {

	article {
		margin-bottom: 2em;
		border: none;
		background: transparent;
	}
}

.chairs {
	article {
		@include span-columns(8, 24);

		&:nth-of-type(3n) {
			@include span-columns(8 omega, 24);
		}
	}
}

.core-team {

	article {
		@include span-columns(6, 24);

		&:nth-of-type(4n) {
			@include span-columns(6 omega, 24);
		}
	}
}

// Homepage News
//================================================

.news {
	@include span-columns(24 omega, 24);
	padding: 1em 0 3em;

	article {
		@include span-columns(6, 24);

		&:last-child {
			@include span-columns(6 omega, 24);
		}

		p {
			height: 110px;
		}
	}

	h4 {
		color: $charcoal;
		font-size: 1.25em;
		margin-bottom: .75em;
		line-height: 1.25;
		height: 52px;
	}
}

// Speakers, Volunteers Page Callouts
//================================================
.speakers,
.volunteers {
	section {
		margin: 2em 0 2em;

		article {
			@include span-columns(12, 24);

			&:last-child {
				@include span-columns(12 omega, 24);
			}

			p {
				height: auto;
			}
		}
	}

	.explanation {

		article {
			@include span-columns(8, 24);

			&:last-child {
				margin-right: 0;
			}

			// &:first-of-type {
			// 	@include pre(4, 24);
			// }
		}
	}
}

.workshops {
	article {
		@include span-columns(12, 24);
		border: none;
		background: $white;
		margin-bottom: 1em;

		&:nth-of-type(2n) {
			@include omega;
		}
	}
}

.sessions {
	article {
		@include span-columns(12, 24);
		margin-bottom: 1em;

		&:nth-of-type(2n) {
			@include omega;
		}
	}
}

// Excursions Articles
//================================================

.excursions {
	article {
		@include span-columns(12, 24);
		border: none;
		background: $white;
		margin-bottom: 1em;

		&:nth-of-type(2n) {
			@include omega;
		}
	}

	.excursion-title {
		margin-bottom: 1em;
	}

	h4 {
		float: left;
		width: 75%;
	}

	img {
		float: left;
		margin-right: 2%;
	}

	#studio-tour {
		.button {
			margin-bottom: 1em;
		}
	}
}

#start-garden {
	h4 {
		color: #0172BC;
	}
}

#grid-70 {
	h4 {
		color: #00BFF3;
	}
}

#wealthy-street-theatre {
	h4 {
		color: #8DC73F;
	}
}

#the-rapid {
	h4 {
		color: #01A651;
	}
}

#the-factory {
	h4 {
		color: #eee233;
	}
}

#meyer-may-house {
	h4 {
		color: #F69779;
	}
}

#brewery-tour {
	h4 {
		color: #F36C4F;
	}
}

#site-lab {
	h4 {
		color: #F26D7D;
	}
}

#grpm {
	h4 {
		color: #EE1C24;
	}
}

#grpm-archives {
	h4 {
		color: #605CA9;
	}
}

#gram {
	h4 {
		color: #91278E;
	}
}

#people-design {
	h4 {
		color: #F6931D;
	}
}

#studio-tour {
	h4 {
		color: #A763A8;
	}
}


// Volunteer Page Callouts
//================================================

.volunteers {

	section {
		margin: 2em 0 2em;

		p {
			height: auto;
		}

	}
}

// Interior Pages (Grand Rapids & About MWUX)
//================================================

.grand-rapids {
	.callouts {
		article {
			&:nth-of-type(1) {
				@include span-columns(8, 24);
			}
			&:nth-of-type(2) {
				@include span-columns(16 omega,24);
			}
		}
	}
}

.stay {
	article {
		&:nth-of-type(1) {
			@include span-columns(16, 24);
		}
		&:nth-of-type(2) {
			@include span-columns(8 omega,24);
		}
	}
}

.hotels {
	article {
		@include span-columns(6,24);
		margin-bottom: 2em;

		&:nth-of-type(4n) {
			@include omega;
		}
	}
}

.venues {
	padding-top: 2em;
	@include span-columns(24 omega, 24);

	article {
		@include span-columns(12, 24);
		@include box-sizing(border-box);

		.image {
			@include span-columns(12 omega, 12);
			@include box-sizing(border-box);
			background: image-url("kendall.jpg") no-repeat;
			background-size: cover;
			background-position: center center;
			height: 250px;
			padding-top: 213px;

			h6 {
				background-color: rgba(0,0,0,0.75);
				color: white;
				font-size: 1em;
				@include box-sizing(border-box);
				padding: .5em 1.25em .5em;
			}
		}

		.article-content {
			@include span-columns(12 omega, 12);
			background: transparent;
		}

		.button {
			width: 100%;
			display: block;
		}

		&:nth-of-type(2n) {
			@include span-columns(12 omega, 24);

			.image {
				background: image-url("gr-night.jpg");
				background-size: cover;
				background-position: center center;
			}
		}
	}
}

.why-mwux {

	article {
		@include span-columns(8, 24);
		@include box-sizing(border-box);
		margin-bottom: 2em;
		position: relative;

		&:first-of-type {

			.image {
				background: image-url("2011.jpg") no-repeat;
			}
		}

		&:last-of-type {
			@include span-columns(8 omega, 24);

			.image {
				background: image-url("2012.jpg") no-repeat;
			}
		}

		.article-content {

			h3 {
				height: auto;
			}
			p {
				height: auto;
				display: inline-block;
			}
		}
	}
}

.past-editions {
	article {
		@include span-columns(12, 24);

		&:last-of-type {
			@include span-columns(12 omega, 24);
		}

		.article-content {
			border: none;
			height: auto;

			// p {
			// 	height: 105px;
			// }
		}
	}
}
