// General Articles
//================================================

article {
	@include box-sizing(border-box);
	border: 1px solid rgba(0,0,0,0.05);
	background: image-url("mesh-white.svg") 0 0;
	background-color: $grayLighter;
}




.article-link {
	text-decoration: none;
}

.article-content {
	@include box-sizing(border-box);
	padding: 1em;

	h3 {
		color: $charcoal;
		font-size: 1.75em;
		margin-bottom: .35em;
	}

	h4 {
		color: $charcoal;
		margin-bottom: .35em;
	}

	p {
		margin-bottom: 1em;
		color: $grayDarker;
	}

	.entry-details {
		* {
			font-size: .85em;
		}

		a {
			color: $green;
		}
	}
}

.article-footer {
	@include box-sizing(border-box);
	padding: 0 1em 1em;
	float: right;
	width: 100%;
	
	.button {
		display: block;
	}
}


// Homepage Callouts
//================================================

.callouts {
	@include span-columns(24 omega, 24);

	article {
		@include span-columns(8, 24);

		&:last-child {
			@include span-columns(8 omega, 24);
		}
	}
}

.speaker-announcement {
	@include span-columns(24 omega, 24);
	margin-bottom: 2em;

	article {
		@include span-columns(6, 24);

		&:last-child {
			@include span-columns(6 omega, 24);
		}
	}
}

// Homepage News
//================================================

.news {
	@include span-columns(24 omega, 24);
	padding: 1em 0 3em;

	article {
		@include span-columns(6, 24);

		&:last-child {
			@include span-columns(6 omega, 24);
		}

		p {
			height: 110px;
		}
	}

	h4 {
		color: $charcoal;
		font-size: 1.25em;
		margin-bottom: .75em;
		line-height: 1.25;
		height: 52px;
	}

	.article-content {
		background: image-url("mesh-white.svg") 0 0;
		background-color: $grayLighter;

	}
}

// Speakers, Volunteers Page Callouts
//================================================
.speakers,
.volunteers {
	.callouts {
		margin: 2em 0 2em;
	
		article {
			@include span-columns(12, 24);
	
			&:last-child {
				@include span-columns(12 omega, 24);
			}

			p {
				height: auto;
			}
		}
	}

	.explanation {

		article {
			@include span-columns(8, 24);

			&:last-child {
				margin-right: 0;
			}

			// &:first-of-type {
			// 	@include pre(4, 24);
			// }
		}
	}
}

// Volunteer Page Callouts
//================================================

.volunteers {

	.callouts {
		margin: 2em 0 2em;

		p {
			height: auto;
		}

	}
}

// Interior Pages (Grand Rapids & About MWUX)
//================================================

.container.grand-rapids {

	.callouts {

		article {

			p {
				height: auto;
			}

			&:last-child {
				@include span-columns(16 omega,24);
			}

			&:first-of-type {
				.article-content {
					height: 393.578125px
				}
			}
		}
	}
}

.venues {
	padding-top: 2em;
	@include span-columns(24 omega, 24);

	article {
		@include span-columns(12, 24);
		@include box-sizing(border-box);
		background: image-url("mesh-white.svg") 0 0;
		background-color: $grayLighter;

		.image {
			@include span-columns(12 omega, 12);
			@include box-sizing(border-box);
			background: image-url("kendall.jpg") no-repeat;
			background-size: cover;
			background-position: center center;
			height: 250px;
			padding-top: 213px;

			h6 {
				background-color: rgba(0,0,0,0.75); 
				color: white;
				font-size: 1em;
				@include box-sizing(border-box);
				padding: .5em 1.25em .5em;
			}
		}

		.article-content {
			@include span-columns(12 omega, 12);
			background: transparent;
		}

		.button {
			width: 100%;
			display: block;
		}

		&:nth-of-type(2n) {
			@include span-columns(12 omega, 24);

			.image {
				background: image-url("gr-night.jpg");
				background-size: cover;
				background-position: center center;
			}
		}
	}
}

.why-mwux {

	article {
		@include span-columns(8, 24);
		@include box-sizing(border-box);
		background: image-url("mesh-white.svg") 0 0;
		background-color: $grayLighter;
		margin-bottom: 2em;
		position: relative;		

		&:first-of-type {
			
			.image {
				background: image-url("2011.jpg") no-repeat;
			}
		}
		
		&:last-of-type {
			@include span-columns(8 omega, 24);

			.image {
				background: image-url("2012.jpg") no-repeat;
			}
		}

		.article-content {

			h3 {
				height: auto;
			}
			p {
				height: auto;
				display: inline-block;
			}
		}
	}
}

.past-editions {
	article {
		border: 1px solid rgba(0,0,0,0.05);
		@include span-columns(12, 24);

		&:last-of-type {
			@include span-columns(12 omega, 24);
		}

		.article-content {
			border: none;
			height: auto;

			// p {
			// 	height: 105px;
			// }
		}
	}
}
