// Navbar
//================================================

.primary {
	position: relative;
	padding: 1em 0 1em;

	ul {
		list-style: none;
		@include span-columns(24 omega, 24);

	}

	li {
		@include box-sizing(border-box);
		position: relative;
		text-align: center;
		margin-top: .75em;

		&:nth-child(1) {
			@include span-columns(5, 24);
		}

		&:nth-child(2) {
			@include span-columns(5, 24);
			margin-right: 0;
		}

		&:nth-child(3) {
			@include span-columns(4, 24);
			margin: 0;
			padding-left: $grid-padding;
			padding-right: $grid-padding;
		}

		&:nth-child(4) {
			@include span-columns(5, 24);
			//@include pre(4, 24);
		}

		&:nth-child(5) {
			@include span-columns(5 omega, 24);
		}

		// &:nth-child(5) {
		// 	@include span-columns(3, 24);
		// }

		// &:nth-child(1) {
		// 	@include span-columns(12, 24);
		// }

		// &:nth-child(2) {
		// 	@include span-columns(12 omega, 24);
		// }


		a {
			text-decoration: none;
			font-size: 1.25em;
			color: $white;

			&:hover {
				color: $green;
			}
		}
	}
}

.logo {
	&:after {
		content:"";
		width: 186.3636364%;
		background: image-url('chevron.svg') no-repeat center center;
		background-size: contain;
		position: absolute;
		height: 30px;
		top: 66px;
		left: -46%;
	}
}

.home {
	@extend .hide-text;
	z-index: 100;
	height: 50px;
	@include span-columns(4 omega, 4);



	h1 {
		@include box-sizing(border-box);
		height: 50px;
		background: image-url('logo.svg') no-repeat center;
		background-size: 100%;
	}
}
