// Navbar
//================================================

nav {

	ul {
		list-style: none;

		li {
			text-align: center;

			a {
				text-decoration: none;
			}
		}
	}

	#left {
		
	}

	#right {
		
	}

	#logo {
		
	}
}